










































































































































































































































































































<!DOCTYPE html>
@using MyWebPlay.Model;
@using MyWebPlay.Extension

<html lang="vi">
<head>
    @if (TempData["OffRandomTab"] == "true")
    {
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C# | Asp Net Core | Công nghệ thông tin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyWebPlay.styles.css" asp-append-version="true" />
        <link rel="icon" href="/images/imagex.png">
    }
    else
    {
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@TempData["Tab_Tittle"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyWebPlay.styles.css" asp-append-version="true" />
    <link rel="icon" href="@TempData["Tab_Image"]">
    }
</head>
<body name="backgroundX" style="background-color:@TempData["mau_background"]">
    <meta charset="ISO-8859-1">
    <script>
        //var queryString = window.location.search;
        //var urlParams = new URLSearchParams(queryString);
        //var closex = urlParams.get('closex');

        // if ((localStorage.getItem('@TempData["key-admin"]') == null || localStorage.getItem('@TempData["key-admin"]') != '@TempData["value-admin"]') && '@TempData["WebsitePrivate"]' == "true")
        //{
        //    var xi = Math.floor(Math.random() * 2 + 1);'@TempData["key-admin"]'
        //         if (xi == 1)
        //          window.location.href = "https://learn.microsoft.com/vi-vn/training/paths/get-started-c-sharp-part-1/?WT.mc_id=dotnet-35129-website";
        //         else
        //           window.location.href = "https://stackoverflow.com/questions";
        //}

        // Delete div somee

        setInterval(function()
        {
             $(document).ready(function () {
        $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
        $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
        $("div[onmouseover='S_ssac();']").remove();
        $("center").remove();
        $("div[style='height: 65px;']").remove();
    });
        },1);

        if ('@TempData["UyTin"]' == "" && window.localStorage.getItem('@TempData["keytuyetdoi"]') != null && '@TempData["UserIP"]' != "0.0.0.0")
        {
            window.location.href = "/Home/MatDoTuyetDoi?mdtd="+localStorage.getItem('@TempData["keytuyetdoi"]');
        }

         if ('@TempData["TestTuyetDoi"]' == "false" && window.localStorage.getItem('@TempData["keytuyetdoi"]') != null)
        {
           window.localStorage.removeItem('@TempData["keytuyetdoi"]');
        }

        var ok = 0;
        var xilip = 0;
         if (ok == 0 && '@TempData["NotAlertQuickData"]' == "true" && '@TempData["BabyData"]' == "false")
         {
             ok = 1;
              var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                 window.location.href = "http://learn.microsoft.com/en-us/aspnet/core/?view=aspnetcore-7.0";
                 else
                   window.location.href = "https://stackoverflow.com/questions";
         }

         if ('@TempData["NotAlertQuickData"]' == "true")
         xilip = 1;

        if (ok == 0 && '@TempData["NotAlertQuickData"]' == "false" && '@TempData["UsingWebsite"]' == "false" && window.localStorage.getItem('@TempData["keytuyetdoi"]') == null)
        {
            if ('@TempData["AlertUsingWebsite"]' == "true")
            {
            alert("⚠ Website hiện đang không hoạt động nên bây giờ bạn sẽ không thể sử dụng. Vui lòng quay lại sau, hoặc liên hệ tại email : mywebplay.website@gmail.com. Xin cảm ơn !");
            ok = 1;
            window.location.href = "/Home/LockedWeb";
            }
            else
            {
                ok = 1;
                var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                 window.location.href = "https://learn.microsoft.com/vi-vn/training/paths/get-started-c-sharp-part-1/?WT.mc_id=dotnet-35129-website";
                 else
                   window.location.href = "https://stackoverflow.com/questions";
            }
        }

        if (ok == 0 && '@TempData["GetDataIP"]' == "true")
        {
            var s = '@TempData["urlCurrent"]';
            if (s == null || s == "" || s == "SessionPlay_DarkAdmin" || s == "/")
            s = "Index";

        fetch('https://api.ipify.org?format=json')
  .then(response => response.json())
  .then(data => window.location.href ="/Home/GetUserIP?ip="+data.ip+"&currentUrl="+s);
        }

        if ('@TempData["AdminControl"]' == "false")
        {
        if (ok == 0 && '@TempData["lockedClient"]' == "true" && '@TempData["data-result"]' == "false")
        {
            ok = 1;
            window.location.href = "/Home/LockedWebClient";
        }

        if (ok != 100 && '@TempData["Lock_Message"]' != null && '@TempData["Lock_Message"]' == "true")
        {
            @{
            TempData["Lock_Message"] = "";
        }
            ok = 1;
            alert("❤ [ADMIN] Đã [KHOÁ] kết nối trang web theo ID bạn yêu cầu !");
            var win = window.open("about:blank", "_self");
             win.close();
             window.close();
        }

         if (ok != 100 && '@TempData["Unlock_Message"]' != null && '@TempData["Unlock_Message"]' == "true")
        {
            @{
            TempData["Unlock_Message"] = "";
        }
            ok = 100;
             alert("❤ [ADMIN] Đã [MỞ KHOÁ] kết nối trang web theo ID bạn yêu cầu !");
             var win = window.open("about:blank", "_self");
             win.close();
             window.close();
        }

         if (ok != 100 && '@TempData["Logout_Message"]' != null && '@TempData["Logout_Message"]' == "true" )
        {
            @{
            TempData["Logout_Message"] = "";
        }
            ok = 100;
            alert("❤ [ADMIN] Đã đăng xuất tất cả kết nối theo ID bạn yêu cầu, họ sẽ phải bật lại trang web !");
             var win = window.open("about:blank", "_self");
             win.close();
             window.close();
        }

         if (ok == 0 && '@TempData["PlayOnWebInLocal"]' == "true" && localStorage.getItem("keyX_PlayOnWeb") != "true" )
        {
            if ('@TempData["AlertUsingWebsite"]' == "true")
            {
            ok = 10;
            localStorage.setItem("keyX_PlayOnWeb", "true");
            alert("Bạn đã bật trang web MyWebPlay thành công, bạn có thể sử dụng các tính năng tại trang web 😊!");
            window.location.href = "/Home/RemoveTempData";
            }
            else
            {
                 var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                 window.location.href = "https://learn.microsoft.com/vi-vn/training/paths/get-started-c-sharp-part-1/?WT.mc_id=dotnet-35129-website";
                 else
                   window.location.href = "https://stackoverflow.com/questions";
                   ok = 10;
            }
        }


        if (ok == 0 && '@TempData["continue"]' == "OK" && localStorage.getItem("keyX_PlayOnWeb") != "true" )
        {
            ok = 2;
            window.location.href="/Home/AcceptContinueUseWeb";
        }

         if (ok == 0 && '@TempData["ok-continue"]' == "yes" && localStorage.getItem("keyX_PlayOnWeb") != "true")
        {
             if ('@TempData["AlertUsingWebsite"]' == "true")
            {
            ok = 10;
            alert("Đã cấp phép thành công, bạn có thể tiếp tục sử dụng các tính năng tại trang web trên IDs mới này 😎 !");
            localStorage.setItem("keyX_PlayOnWeb", "true");
             window.location.href = "/Home/RemoveTempData";
            }
             else
            {
                 var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                 window.location.href = "https://learn.microsoft.com/vi-vn/training/paths/get-started-c-sharp-part-1/?WT.mc_id=dotnet-35129-website";
                 else
                   window.location.href = "https://stackoverflow.com/questions";
                   ok = 10;
            }
        }


        if (ok == 0 && '@TempData["VisibleX"]' == "true" && localStorage.getItem("keyX_PlayOnWeb") != "true"  && window.localStorage.getItem('@TempData["keytuyetdoi"]') == null)
        {
             if ('@TempData["AlertUsingWebsite"]' == "true" && '@TempData["NotAlertQuickData"]' == "false")
            {
            ok = 1;
            alert("Để tiếp tục sử dụng, vui lòng tìm cách để có lại được sự cấp phép. Nếu không, hãy tắt sử dụng trang web và yêu cầu bật sử dụng lại!");
            window.location.href = "https://stackoverflow.com/questions";
            }
             else
            {
                 var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                 window.location.href = "https://learn.microsoft.com/vi-vn/training/paths/get-started-c-sharp-part-1/?WT.mc_id=dotnet-35129-website";
                 else
                   window.location.href = "https://stackoverflow.com/questions";
                   ok = 1;
            }
        }

        if (ok == 0 && '@TempData["continue-X"]' == "NO" && localStorage.getItem("keyX_PlayOnWeb") == "true")
        {
            ok = 3;
            localStorage.removeItem("keyX_PlayOnWeb");
             window.location.href = "/Home/RemoveTempData";
        }

        if (ok == 0  && '@TempData["ok-continue-X"]' == "no")
        {
            ok = 10;
            localStorage.removeItem("keyX_PlayOnWeb");
             window.location.href = "/Home/RemoveTempData";
        }

        if (ok == 0 && '@TempData["lock"]' == "true" )
        {
             if ('@TempData["AlertUsingWebsite"]' == "true")
            {
            ok = 4;
            alert("⚠ Trang web hiện đang bị khoá bởi người đảm quyền, không thể kết nối đối với một số trường hợp. Vì vậy, vui lòng chờ đợi sau khi admin duyệt và mở khoá để có thể tiếp tục. Nếu bạn muốn gửi email xin phép, liên hệ tại : mywebplay.website@gmail.com");
            window.location.href = "/Home/LockedWeb";
            }
             else
            {
                 var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                 window.location.href = "https://learn.microsoft.com/vi-vn/training/paths/get-started-c-sharp-part-1/?WT.mc_id=dotnet-35129-website";
                 else
                   window.location.href = "https://stackoverflow.com/questions";
                   ok = 4;
            }
        }
        
         if (xilip == 0 && ok == 0 && ('@TempData["PlayOnWebInLocal-X"]' == "false" || ('@TempData["PlayOnWebInLocal"]' == "true" && localStorage.getItem("keyX_PlayOnWeb") == null)) && '@TempData["skipIP"]' != "true" && window.localStorage.getItem('@TempData["keytuyetdoi"]') == null)
        {
             if ('@TempData["AlertUsingWebsite"]' == "true" && '@TempData["NotAlertQuickData"]' == "false")
            {
            ok = 1;
            localStorage.removeItem("keyX_PlayOnWeb");
            if ('@TempData["InError"]' == null)
            alert("Bạn đã tắt trang web MyWebPlay thành công, để sử dụng lại hãy thực hiện các bước để bật 😎 !");
            else
            alert("⚠ Tất cả kết nối phiên bản của bạn hiện đã hết hạn sử dụng hoặc chưa được bật, vui lòng bật lại trang web để sử dụng !");
            window.location.href="/Home/LockedWeb";
            }
             else
            {
                 var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                 window.location.href = "https://learn.microsoft.com/vi-vn/training/paths/get-started-c-sharp-part-1/?WT.mc_id=dotnet-35129-website";
                 else
                   window.location.href = "https://stackoverflow.com/questions";
                   ok = 1;
            }
         }
        }

        function muaxuan()
        {
            document.location.href= "#hihi";
        }

        var tim1 = 30;
        var idX1 = setInterval(myFay1, 1000);

        function myFay1()
        {
           if ($('#thoigian1').length)
           {
            var va = document.getElementById("thoigian1");
            va.innerHTML = tim1;
            tim1--;
            if (va.innerText == 0)
            {
                clearInterval(idX1);
                window.location.href="/Home/XoaAllFile_X1";
            }
           }
        }

         var tim2 = 30;
        var idX2 = setInterval(myFay2, 1000);

        function myFay2()
        {
           if ($('#thoigian2').length)
           {
            var va = document.getElementById("thoigian2");
            va.innerHTML = tim2;
            tim2--;
            if (va.innerText == 0)
            {
                clearInterval(idX2);
                window.location.href="/Home/XoaAllFile_X2";
            }
           }
        }

         var tim3 = 30;
        var idX3 = setInterval(myFay3, 1000);

        var dem = 0;

        setInterval(autoExcute,1);

        function autoExcute()
        {
            if ('@TempData["AutoExcute"]' == "false")
            return;

            if ('@TempData["PostResult"]' == "false")
            {
                if ($('#autoCP').length == 0)
                {
                    return;
                }

                document.getElementById("autoCP").click();

                  var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                 window.location.href = "https://learn.microsoft.com/vi-vn/training/paths/get-started-c-sharp-part-1/?WT.mc_id=dotnet-35129-website";
                 else
                   window.location.href = "https://stackoverflow.com/questions";

            }
            else
            {
                if ($('#downloadResult').length == 0)
                return;

                document.getElementById("downloadResult").click();

                  var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                 window.location.href = "https://learn.microsoft.com/vi-vn/training/paths/get-started-c-sharp-part-1/?WT.mc_id=dotnet-35129-website";
                 else
                   window.location.href = "https://stackoverflow.com/questions";
            }
        }

            function autoCopy()
            {
                dem++;

                if ('@TempData["PostResult"]' == "false")
                {
                 var xu = document.getElementById("click_copy");

            var copyText = document.getElementById("txtResultX");

            // Copy the text inside the text field
                navigator.clipboard.writeText(copyText.value);
                }
                else
                {
                    if (dem == 1)
                    document.getElementById("downloadResult").click();
                }
                window.location.href = "#xongroi";
                if (dem == 2 && xilip == 1)
                {
                      var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                 window.location.href = "https://learn.microsoft.com/vi-vn/training/paths/get-started-c-sharp-part-1/?WT.mc_id=dotnet-35129-website";
                 else
                   window.location.href = "https://stackoverflow.com/questions";
                }
            }

        function copyResult()
        {
            var xu = document.getElementById("click_copy");

            var copyText = document.getElementById("txtResultX");

   // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);

           xu.style.color = "green";
           xu.innerHTML = "COPY TO YOUR CLIPBOARD SUCCESS";
        }

        function myFay3()
        {
             if ($('#thoigian3').length)
           {
            var va = document.getElementById("thoigian3");
            va.innerHTML = tim3;
            tim3--;
            if (va.innerText == 0)
            {
                clearInterval(idX3);
                window.location.href="/Home/XoaKaraoke";
            }
           }
        }

        function savebelive()
        {
            if ('@TempData["UserIP"]' == "0.0.0.0")
            return;

            alert("Hệ thống sẽ bắt đầu kiểm tra IP và trình duyệt tương đương của bạn. Sau đó nếu thành công hay thất bại, bạn hãy tự kiểm chứng lại nhé!");

           window.location.href = "/Home/KiemTraTinTuong?ip="+'@TempData["UserIP"]'+"&&url="+'@TempData["current"]';
        }

        function khoawebsite()
        {
            if ('@TempData["UserIP"]' == "0.0.0.0")
            return;

            window.location.href = "/Home/LockedWebClient";
        }

        function copyCurrent()
        {
            navigator.clipboard.writeText(document.getElementById("current").innerHTML);
        }

         if ('@TempData["ok-tin-IP"]' == "true")
         {
             window.localStorage.setItem('trusted-you', "true");
         }

         if ('@TempData["trust-about"]' == "false")
         {
              window.localStorage.removeItem('trusted-you');
         }

         if (window.localStorage.getItem('@TempData["keytuyetdoi"]') == null)
         {
         if ('@TempData["skipIP"]' != "true")
         {
            if ('@TempData["alert-trust"]' == "false" && '@TempData["data-result"]' == "false" && '@TempData["directURL"]' == "false")
            {
             if (window.localStorage.getItem('trusted-you') != null && window.localStorage.getItem('trusted-you') == "true")
             {
                 window.location.href="/Home/BatSuTinTuong?url="+'@TempData["current"]';
             }
         
              if (window.localStorage.getItem('trusted-you') == null)
             {
                 window.location.href="/Home/TatSuTinTuong?url="+'@TempData["current"]';
             }
            }
         }
         }

         var sang = 0;
         if ('@TempData["mau_background"]' == "white")
         {
             sang = 1;
         }

         var iss = setInterval(function(){
             if (localStorage.getItem("nensangtoi") != null)
             {
                 sang = localStorage.getItem("nensangtoi");
                 nensangtoi("null");
             }
         },10);

         function xoaluunen()
         {
             window.localStorage.removeItem("nensangtoi");
             alert("Bạn đã huỷ chế độ màu nền sử dụng vĩnh viễn, tử đây nó sẽ áp dụng trở lại theo quy định hệ thống. Bạn có thể load lại trang!");
         }

         function nensangtoi(mess)
         {
             if (mess != "null")
             {
             var re = confirm('Trang web của chúng tôi mặc định đối với màu nền như sau : từ 6H AM đến 17H59 PM trang web sẽ sử dụng nền sáng và ngược lại.\n\nSự thay đổi này chỉ tạm thời áp dụng trên trang bạn hiện đang sử dụng, nếu bạn load lại hoặc chuyển sang trang khác thì setting màu nền sẽ được trở lại trước đó. Vì vậy, bạn có muốn lưu cài đặt màu nền này luôn là mặc định mỗi khi truy cập web trên thiết bị của bạn hay không?');
             }

             if (sang == 0)
             {
                 sang = 1;
                  document.getElementById("chuyenlightdark").innerText = "Đổi nền tối";
             document.getElementById("nenta").style.backgroundColor = "dodgerblue";
             var li1 = document.getElementsByName("backgroundX").length;
             for (var i = 0 ; i<li1; i++)
             {
                 document.getElementsByName("backgroundX")[i].style.backgroundColor = "white";
             }

             var li2 = document.getElementsByName("colorX").length;
             for (var i = 0 ; i<li2; i++)
             {
                 document.getElementsByName("colorX")[i].style.color = "black";
             }
            }
            else
            {
                sang = 0;
                document.getElementById("chuyenlightdark").innerText = "Đổi nền sáng";
                  document.getElementById("nenta").style.backgroundColor = "rebeccapurple";
             var li1 = document.getElementsByName("backgroundX").length;
             for (var i = 0 ; i<li1; i++)
             {
                 document.getElementsByName("backgroundX")[i].style.backgroundColor = "black";
             }

             var li2 = document.getElementsByName("colorX").length;
             for (var i = 0 ; i<li2; i++)
             {
                 document.getElementsByName("colorX")[i].style.color = "white";
             }
            }

            if (mess != "null")
             {
                 if (re == true)
                 {
                     var light = (sang == 0) ? 1 : 0;
                     alert('Bạn đã chọn áp dụng màu nền sử dụng trang web vĩnh viễn!\nNếu sau này bạn muốn huỷ và trở lại mặc định, hãy thử click vào icon hình trái tim bên cạnh...');
                     window.localStorage.setItem("nensangtoi", light);
                 }
                 else
                 {
                     clearInterval(iss);
                 }
             }
         }

        </script>
        @if (TempData["AdminControl"] == "false" && TempData["ClearWebsite"] == "false")
    {
        <header>
            <nav id="nenta" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:@TempData["mau_nen"]">
            <div class="container-fluid">
                <button style="color:deeppink" class="navbar-brand" asp-area="" onclick="khoawebsite()">Khoá WebSite bằng mật mã LockedClientID (<u>hãy cẩn thận đừng nhấn nhầm vào đây nếu bạn không có nhu cầu 😁</u>)</button>
                <a href="/Home/Index"><p style="color:orangered">BACK HOME MENU</p></a>
                        <span onclick="savebelive()" style="color:chartreuse">@TempData["UserIP"]</span>
                <h2 style="color:@TempData["mau_winx"]" onclick="xoaluunen()">@TempData["winx"]</h2>
                @if(TempData["mau_background"] == "white")
                {
                        <a style="color:crimson" id="chuyenlightdark" href="#xuly" onclick="nensangtoi('xuly')">Đổi nền tối</a>
                    }
                    else
                    {
                          <a id="chuyenlightdark" style="color:crimson" href="#xuly" onclick="nensangtoi('xuly')">Đổi nền sáng</a>
                    }
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    }
           <div name="colorX" style="color:@TempData["mau_text"]">
                   @if (TempData["AdminControl"] == "false" && TempData["ClearWebsite"] == "false")
    {
           <a href="#xuly" onclick="copyCurrent()"><h4 id="current" style="color:orangered">@TempData["current"]</h4></a>
               <br />
    }

            @if(TempData["ClearWebsite"] == "false" || TempData["ClearWebsite"] == null)
            {
           @if (TempData["GetDataIP"] == "true")
            {
                 <div hidden>@RenderBody()</div>
                 <img src="/Image_Play/waiting.gif" />
            }
            else
            { 
                @RenderBody()
                    }
                }
                else
                {
                    <div hidden>@RenderBody()</div>
                    <img id="autoCP" onclick="autoCopy()" src="/Image_Play/Google.png" width="100%" height="100%">
                }
    </div>
    @if (TempData["ClearWebsite"] == "false")
    {
        <footer class="border-top footer text-muted">
            <div class="container">
            &copy; 2023 - MyWebPlay - C# ~ Asp Net Core 7
        </div>
    </footer>
    }
    <br />
     <br />
      <br />
       <br />
        <br />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
