



































































































@if (TempData["HTML-visible"] != null && TempData["HTML-visible"].ToString() == "0")
{
<!DOCTYPE html>
@using MyWebPlay.Model;
@using MyWebPlay.Extension
<html lang="vi">
    <head>
        @if (TempData["OffRandomTab"] == "true")
        {
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title id="custom1">@TempData["TabTittleView"]</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyWebPlay.styles.css" asp-append-version="true" />
        <link rel="icon" href="/images/imagex.png">
        }
        else
        {
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title id="custom2">@TempData["Tab_Tittle"]</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyWebPlay.styles.css" asp-append-version="true" />
        <link rel="icon" href="@TempData["Tab_Image"]">
        }
    </head>
    <body name="backgroundX" style="background-color:@TempData["mau_background"];opacity:@TempData["opacity-body-css"]" id="custom3">
    <meta charset="ISO-8859-1" id="custom4">
    <script>
         //var queryString = window.location.search;
         //var urlParams = new URLSearchParams(queryString);
         //var closex = urlParams.get('closex');

    var urlExternal = "";

    var thatbai = true;
    var thatbai_time = 0;
    window.addEventListener('beforeunload', (event) => {
        thatbai = false;
});

    window.addEventListener('message', (event) => {
        if (event.data === 'dongTB_mywebplay') {
            if (urlExternal == "_blank")
            {
                var win = window.open("about:blank", "_self");
                win.close();
               window.close();
            }
            else{
                window.location.href = urlExternal;
            }
        }
  });

        //-----------------------------------------------

        if('@TempData["auto_close_window"]' == "true")
        {
            window.close();
        }
        
        var notice = 0;
        setInterval(function()
        {
            if (notice == 1)
            return;
        
            //Notice
        
             if (localStorage.getItem("block-notice") != null && localStorage.getItem("block-notice") != '@TempData["code-notice"]')
             {
                 localStorage.removeItem("block-notice");
             }
        
        
            if (localStorage.getItem("block-notice") == null)
            {
                if ('@TempData["notice-play"]' != "[NULL]")
                {
                    if ('@TempData["code-notice"]' == "")
                    {
                   alert("[XIN TRÂN TRỌNG THÔNG BÁO]\n\n"+document.getElementById("notice").value);
                    }
                    else
                    {
                         var con = confirm("[XIN TRÂN TRỌNG THÔNG BÁO]\n\n"+document.getElementById("notice").value + "\n\nNhấn [Cancel] nếu bạn đã hiểu và không muốn nhận lại thông báo tương tự này. Tuy nhiên nếu chúng tôi lại có thông báo khác, bạn vẫn sẽ nhận được và bạn cũng có thể tiếp tục từ chối nhận nó. Xin cảm ơn!");
                         if (con == false)
                         {
                             localStorage.setItem("block-notice", '@TempData["code-notice"]');
                         }
                    }
                }
            }
        
                    notice = 1;
        },1000);
        
        // Delete div somee
        
        if ('@TempData["mini-web"]' == "" || '@TempData["mini-web"]' == null || '@TempData["mini-web"]' == "false")
        {
        if ('@TempData["mini-web"]' == "false")
        {
            localStorage.removeItem("mini-Web");
        }
        
         if ('@TempData["tathetweb"]' == "true")
        {
            window.location.href="/Home/Error";
        }
        
        var ker = 0;
        setInterval(function()
                {
                     $(document).ready(function () {
                $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
                $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
                $("div[onmouseover='S_ssac();']").remove();
                $("center").remove();
                $("div[style='height: 65px;']").remove();
            }); 
        },10);
        
        if ('@TempData["UyTin"]' == "" && window.localStorage.getItem('@TempData["keytuyetdoi"]') != null && '@TempData["belix"]' == "false" && '@TempData["not-believe"]' == "false")
        {
            window.location.href = "/Home/MatDoTuyetDoi?mdtd="+localStorage.getItem('@TempData["keytuyetdoi"]');
        }
        
         if ('@TempData["TestTuyetDoi"]' == "false" && window.localStorage.getItem('@TempData["keytuyetdoi"]') != null)
        {
           window.localStorage.removeItem('@TempData["keytuyetdoi"]');
        }
        
        var ok = 0;
        var xilip = 0;
         if (ok == 0 && '@TempData["NotAlertQuickData"]' == "true" && '@TempData["BabyData"]' == "false")
         {
             ok = 1;
              var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                 window.location.href = "http://learn.microsoft.com/en-us/aspnet/core/?view=aspnetcore-7.0";
                 else
                   window.location.href = "https://stackoverflow.com/questions";
         }
        
         if ('@TempData["NotAlertQuickData"]' == "true")
         xilip = 1;

         
        
        if (ok == 0 && localStorage.getItem("trusted-you") != "true" && (('@TempData["NotAlertQuickData"]' == "false" && '@TempData["UsingWebsite"]' == "false") && window.localStorage.getItem('@TempData["keytuyetdoi"]') == null))
        {
           
            if ('@TempData["AlertUsingWebsite"]' == "true")
            {
                var nai = 0;
                setInterval(function()
                {
                    var bodyIndex = document.getElementById("bodyIndex");
                    bodyIndex.style.display = "none";
                    if (nai == 15)
                    {
                        window.location.href = "/Home/LockedWeb";
                    }
        
                if (nai == 0)
                {
                var noticeFrame = document.getElementById("noticeFrame");
                noticeFrame.style.display = "block";
                rlExternal = "/Home/LockedWeb"; noticeFrame.src = "/Admin/FrameNoticeAdmin?notice=0";
                }
                nai++;
                },1000);
            ok = 1;
            }
            else
            {
                ok = 1;
        
                var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                {
                     if (('@TempData["mini-web"]' == "" || '@TempData["mini-web"]' == null ) && localStorage.getItem("mini-Web") != null)
                    {
                        var xd = localStorage.getItem("mini-Web");
                        //localStorage.removeItem("mini-Web");
                    window.location.href = "/Home/KiemTraMini?test="+xd+"&&url="+'@TempData["urlCurrent"]';
                     }
                     else
                 window.location.href = "https://learn.microsoft.com/vi-vn/training/paths/get-started-c-sharp-part-1/?WT.mc_id=dotnet-35129-website";
                }
                 else
                 {
                     if (('@TempData["mini-web"]' == "" || '@TempData["mini-web"]' == null ) && localStorage.getItem("mini-Web") != null)
                    {
                        var xd = localStorage.getItem("mini-Web");
                        //localStorage.removeItem("mini-Web");
                     window.location.href = "/Home/KiemTraMini?test="+xd+"&&url="+'@TempData["urlCurrent"]';
                     }
                     else
                   window.location.href = "https://stackoverflow.com/questions";
                 }
            }
        }
        
        if (ok == 0 && '@TempData["lockedClient"]' == "true" && '@TempData["data-result"]' == "false")
        {
            ok = 1;
            window.location.href = "/Home/LockedWebClient";
        }
        
        if (ok != 100 && '@TempData["Lock_Message"]' != null && '@TempData["Lock_Message"]' == "true")
        {
            @{
            TempData["Lock_Message"] = "";
        }
            ok = 1;
            var nai = 0;
                setInterval(function()
                {
                    var bodyIndex = document.getElementById("bodyIndex");
                    bodyIndex.style.display = "none";
                    if (nai == 15)
                    {
                                    var win = window.open("about:blank", "_self");
                                    win.close();
                                    window.close();
                    }
        
                if (nai == 0)
                {
                var noticeFrame = document.getElementById("noticeFrame");
                noticeFrame.style.display = "block";
                urlExternal = "_blank"; noticeFrame.src = "/Admin/FrameNoticeAdmin?notice=1";
                }
                nai++;
                },1000);
        }
        
         if (ok != 100 && '@TempData["Unlock_Message"]' != null && '@TempData["Unlock_Message"]' == "true")
        {
            @{
            TempData["Unlock_Message"] = "";
        }
            ok = 100;
             var nai = 0;
                setInterval(function()
                {
                    var bodyIndex = document.getElementById("bodyIndex");
                    bodyIndex.style.display = "none";
                    if (nai == 15)
                    {
                                    var win = window.open("about:blank", "_self");
             win.close();
             window.close();
                    }
        
                if (nai == 0)
                {
                var noticeFrame = document.getElementById("noticeFrame");
                noticeFrame.style.display = "block";
                urlExternal = "_blank"; noticeFrame.src = "/Admin/FrameNoticeAdmin?notice=2";
                }
                nai++;
                },1000);
        }
        
         if (ok != 100 && '@TempData["Logout_Message"]' != null && '@TempData["Logout_Message"]' == "true" )
        {
            @{
            TempData["Logout_Message"] = "";
        }
            ok = 100;
             var nai = 0;
                setInterval(function()
                {
                    var bodyIndex = document.getElementById("bodyIndex");
                    bodyIndex.style.display = "none";
                    if (nai == 15)
                    {
                                   var win = window.open("about:blank", "_self");
             win.close();
             window.close();
                    }
        
                if (nai == 0)
                {
                var noticeFrame = document.getElementById("noticeFrame");
                noticeFrame.style.display = "block";
                urlExternal = "_blank"; noticeFrame.src = "/Admin/FrameNoticeAdmin?notice=3";
                }
                nai++;
                },1000);
        }
        
         if (ok == 0 && '@TempData["PlayOnWebInLocal"]' == "true" && localStorage.getItem("keyX_PlayOnWeb") != "true" )
        {
            if ('@TempData["AlertUsingWebsite"]' == "true")
            {
            ok = 10;
            localStorage.setItem("keyX_PlayOnWeb", "true");
             var nai = 0;
                setInterval(function()
                {
                    var bodyIndex = document.getElementById("bodyIndex");
                    bodyIndex.style.display = "none";
                    if (nai == 15)
                    {
                       window.location.href = "/Home/RemoveTempData";
                    }
        
                if (nai == 0)
                {
                var noticeFrame = document.getElementById("noticeFrame");
                noticeFrame.style.display = "block";
                urlExternal = "/Home/RemoveTempData"; noticeFrame.src = "/Admin/FrameNoticeAdmin?notice=4";
                }
                nai++;
                },1000);
            }
            else
            {
                 var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                 window.location.href = "https://learn.microsoft.com/vi-vn/training/paths/get-started-c-sharp-part-1/?WT.mc_id=dotnet-35129-website";
                 else
                   window.location.href = "https://stackoverflow.com/questions";
                   ok = 10;
            }
        }
        
        
        if (ok == 0 && '@TempData["continue"]' == "OK" && localStorage.getItem("keyX_PlayOnWeb") != "true" )
        {
            ok = 2;
            window.location.href="/Home/AcceptContinueUseWeb";
        }
        
         if (ok == 0 && '@TempData["ok-continue"]' == "yes" && localStorage.getItem("keyX_PlayOnWeb") != "true")
        {
             if ('@TempData["AlertUsingWebsite"]' == "true")
            {
            ok = 10;
            localStorage.setItem("keyX_PlayOnWeb", "true");
             var nai = 0;
                setInterval(function()
                {
                    var bodyIndex = document.getElementById("bodyIndex");
                    bodyIndex.style.display = "none";
                    if (nai == 15)
                    {
                        window.location.href = "/Home/RemoveTempData";
                    }
        
                if (nai == 0)
                {
                var noticeFrame = document.getElementById("noticeFrame");
                noticeFrame.style.display = "block";
                 urlExternal = "/Home/RemoveTempData"; noticeFrame.src = "/Admin/FrameNoticeAdmin?notice=5";
                }
                nai++;
                },1000);
            }
             else
            {
                 var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                 window.location.href = "https://learn.microsoft.com/vi-vn/training/paths/get-started-c-sharp-part-1/?WT.mc_id=dotnet-35129-website";
                 else
                   window.location.href = "https://stackoverflow.com/questions";
                   ok = 10;
            }
        }
        
        
        if (ok == 0 && '@TempData["AllConnect"]' == "false" && '@TempData["VisibleX"]' == "true" && localStorage.getItem("keyX_PlayOnWeb") != "true"  && window.localStorage.getItem('@TempData["keytuyetdoi"]') == null && window.localStorage.getItem("trusted-you") == null)
        {
           
             if ('@TempData["AlertUsingWebsite"]' == "true" && '@TempData["NotAlertQuickData"]' == "false")
            {
            ok = 1;
             var nai = 0;
                setInterval(function()
                {
                    var bodyIndex = document.getElementById("bodyIndex");
                    bodyIndex.style.display = "none";
                    if (nai == 15)
                    {
                        window.location.href = "/Home/Error";
                    }
        
                if (nai == 0)
                {
                var noticeFrame = document.getElementById("noticeFrame");
                noticeFrame.style.display = "block";
                urlExternal = "/Home/Error"; noticeFrame.src = "/Admin/FrameNoticeAdmin?notice=6";
                }
                nai++;
                },1000);
            }
             else
            {
                 var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                 window.location.href = "https://learn.microsoft.com/vi-vn/training/paths/get-started-c-sharp-part-1/?WT.mc_id=dotnet-35129-website";
                 else
                   window.location.href = "https://stackoverflow.com/questions";
                   ok = 1;
            }
        }
        
        if (ok == 0 && '@TempData["continue-X"]' == "NO" && localStorage.getItem("keyX_PlayOnWeb") == "true")
        {
            ok = 3;
            localStorage.removeItem("keyX_PlayOnWeb");
             window.location.href = "/Home/RemoveTempData";
        }
        
        if (ok == 0  && '@TempData["ok-continue-X"]' == "no")
        {
            ok = 10;
            localStorage.removeItem("keyX_PlayOnWeb");
             window.location.href = "/Home/RemoveTempData";
        }
        
        if (ok == 0 && '@TempData["lock"]' == "true")
        {
           
             if ('@TempData["AlertUsingWebsite"]' == "true")
            {
            ok = 4;
             var nai = 0;
                setInterval(function()
                {
                    var bodyIndex = document.getElementById("bodyIndex");
                    bodyIndex.style.display = "none";
                    if (nai == 15)
                    {
                        window.location.href = "/Home/LockedWeb";
                    }
        
                if (nai == 0)
                {
                var noticeFrame = document.getElementById("noticeFrame");
                noticeFrame.style.display = "block";
                urlExternal = "/Home/LockedWeb"; noticeFrame.src = "/Admin/FrameNoticeAdmin?notice=7";
                }
                nai++;
                },1000);
            }
             else
            {
                 var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                 window.location.href = "https://learn.microsoft.com/vi-vn/training/paths/get-started-c-sharp-part-1/?WT.mc_id=dotnet-35129-website";
                 else
                   window.location.href = "https://stackoverflow.com/questions";
                   ok = 4;
            }
        }
        
         if (xilip == 0 && ok == 0 && '@TempData["AllConnect"]' == "false" && ('@TempData["PlayOnWebInLocal-X"]' == "false" || ('@TempData["PlayOnWebInLocal"]' == "true" && localStorage.getItem("keyX_PlayOnWeb") == null)) && '@TempData["skipIP"]' != "true" && window.localStorage.getItem('@TempData["keytuyetdoi"]') == null && window.localStorage.getItem("trusted-you") == null)
        {
             if ('@TempData["AlertUsingWebsite"]' == "true" && '@TempData["NotAlertQuickData"]' == "false")
            {
            ok = 1;
            localStorage.removeItem("keyX_PlayOnWeb");
            if ('@TempData["InError"]' == null)
            {
            var nai = 0;
                setInterval(function()
                {
                    var bodyIndex = document.getElementById("bodyIndex");
                    bodyIndex.style.display = "none";
                    if (nai == 15)
                    {
                        window.location.href = "/Home/LockedWeb";
                    }
        
                if (nai == 0)
                {
                var noticeFrame = document.getElementById("noticeFrame");
                noticeFrame.style.display = "block";
                urlExternal = "/Home/LockedWeb"; noticeFrame.src = "/Admin/FrameNoticeAdmin?notice=8";
                }
                nai++;
                },1000);
            }
            else
            {
               
            var nai = 0;
                setInterval(function()
                {
                    var bodyIndex = document.getElementById("bodyIndex");
                    bodyIndex.style.display = "none";
                    if (nai == 15)
                    {
                        window.location.href = "/Home/LockedWeb";
                    }
        
                if (nai == 0)
                {
                var noticeFrame = document.getElementById("noticeFrame");
                noticeFrame.style.display = "block";
                 urlExternal = "/Home/LockedWeb";
                noticeFrame.src = "/Admin/FrameNoticeAdmin?notice=9";
                }
                nai++;
                },1000);
            }
          }
             else
            {
                 var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                 window.location.href = "https://learn.microsoft.com/vi-vn/training/paths/get-started-c-sharp-part-1/?WT.mc_id=dotnet-35129-website";
                 else
                   window.location.href = "https://stackoverflow.com/questions";
                   ok = 1;
            }
         }
        }

        if ((window.localStorage.getItem('@TempData["keytuyetdoi"]') != null && '@TempData["not-believe"]' == "true"))
        {
               var nai = 0;
                setInterval(function()
                {
                    var bodyIndex = document.getElementById("bodyIndex");
                    bodyIndex.style.display = "none";
                    if (nai == 15)
                    {
                        window.location.href = "/Home/LockedWeb";
                    }
        
                if (nai == 0)
                {
                var noticeFrame = document.getElementById("noticeFrame");
                noticeFrame.style.display = "block";
                rlExternal = "/Home/LockedWeb";
                noticeFrame.src = "/Admin/FrameNoticeAdmin?notice=10";
                }
                nai++;
                },1000);
        }
        
        function muaxuan()
        {
            document.location.href= "#hihi";
        }
        
        var tim1 = 30;
        var idX1 = setInterval(myFay1, 1000);
        
        function myFay1()
        {
           if ($('#thoigian1').length)
           {
            var va = document.getElementById("thoigian1");
            va.innerHTML = tim1;
            tim1--;
            if (va.innerText == 0)
            {
                clearInterval(idX1);
                window.location.href="/Home/XoaAllFile_X1";
            }
           }
        }
        
         var tim2 = 30;
        var idX2 = setInterval(myFay2, 1000);
        
        function myFay2()
        {
           if ($('#thoigian2').length)
           {
            var va = document.getElementById("thoigian2");
            va.innerHTML = tim2;
            tim2--;
            if (va.innerText == 0)
            {
                clearInterval(idX2);
                window.location.href="/Home/XoaAllFile_X2";
            }
           }
        }
        
         var tim3 = 30;
        var idX3 = setInterval(myFay3, 1000);
        
        var dem = 0;
        
        setInterval(autoExcute,1);
        
        function autoExcute()
        {
            if ('@TempData["AutoExcute"]' == "false")
            return;
        
            if ('@TempData["PostResult"]' == "false")
            {
                if ($('#autoCP').length == 0)
                {
                    return;
                }
        
                document.getElementById("autoCP").click();
        
                  var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                 window.location.href = "https://learn.microsoft.com/vi-vn/training/paths/get-started-c-sharp-part-1/?WT.mc_id=dotnet-35129-website";
                 else
                   window.location.href = "https://stackoverflow.com/questions";
        
            }
            else
            {
                if ($('#downloadResult').length == 0)
                return;
        
                document.getElementById("downloadResult").click();
        
                  var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                 window.location.href = "https://learn.microsoft.com/vi-vn/training/paths/get-started-c-sharp-part-1/?WT.mc_id=dotnet-35129-website";
                 else
                   window.location.href = "https://stackoverflow.com/questions";
            }
        }
        
            function autoCopy()
            {
                if ('@TempData["clear_uploadfile"]' == "true" && xi == 0)
                {
                    if (window.location.search == "?type=1%3Csplix%3E0%3Csplix%3E0" && window.location.search != null || window.location.search != "")
                    document.getElementById("fileYX").click();
                }
        
                dem++;
        
                if ('@TempData["PostResult"]' == "false")
                {
                 var xu = document.getElementById("click_copy");
        
            var copyText = document.getElementById("txtResultX");
        
            // Copy the text inside the text field
                navigator.clipboard.writeText(copyText.value);
                }
                else
                {
                    if (dem == 1)
                    document.getElementById("downloadResult").click();
                }
                window.location.href = "#xongroi";
                if (dem == 2 && xilip == 1)
                {
                      var x = Math.floor(Math.random() * 2 + 1);
                if (x == 1)
                 window.location.href = "https://learn.microsoft.com/vi-vn/training/paths/get-started-c-sharp-part-1/?WT.mc_id=dotnet-35129-website";
                 else
                   window.location.href = "https://stackoverflow.com/questions";
                }
            }
        
        function copyResult()
        {
            var xu = document.getElementById("click_copy");
        
            var copyText = document.getElementById("txtResultX");
        
        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);
        
           xu.style.color = "green";
           xu.innerHTML = "COPY TO YOUR CLIPBOARD SUCCESS";
        }
        
        function myFay3()
        {
             if ($('#thoigian3').length)
           {
            var va = document.getElementById("thoigian3");
            va.innerHTML = tim3;
            tim3--;
            if (va.innerText == 0)
            {
                clearInterval(idX3);
                window.location.href="/Home/XoaKaraoke";
            }
           }
        }
        
        function savebelive()
        {
            if ('@TempData["belix"]' == "true" || '@TempData["not-believe"]' == "true")
            return;
        
            alert("Hệ thống sẽ bắt đầu kiểm tra các dữ liệu tương đương của bạn. Sau đó nếu thành công hay thất bại, bạn hãy tự kiểm chứng lại nhé!");
        
           window.location.href = "/Home/KiemTraTinTuong?ip="+'@TempData["userIP"]'+"&&url="+'@TempData["current"]';
        }
        
        function khoawebsite()
        {
            if ('@TempData["belix"]' == "true")
            return;
        
            window.location.href = "/Home/LockedWebClient";
        }
        
        function copyCurrent()
        {
            navigator.clipboard.writeText(document.getElementById("current").innerHTML);
        }
        
         if ('@TempData["ok-tin-IP"]' == "true")
         {
             window.localStorage.setItem('trusted-you', "true");
         }
        
         if ('@TempData["trust-about"]' == "false")
         {
              window.localStorage.removeItem('trusted-you');
         }
        
         if ((window.localStorage.getItem('@TempData["keytuyetdoi"]') == null) )
         {
         if ('@TempData["skipIP"]' != "true")
         {
            if ('@TempData["alert-trust"]' == "false" && '@TempData["data-result"]' == "false" && '@TempData["directURL"]' == "false")
            {
             if (window.localStorage.getItem('trusted-you') != null && window.localStorage.getItem('trusted-you') == "true")
             {
               window.location.href="/Home/BatSuTinTuong?url="+'@TempData["current"]' + "&&ip="+'@TempData["userIP"]';
             }
         
        
             if ('@TempData["boqua-trustedIP"]' == null || '@TempData["boqua-trustedIP"]' != "true")
             {
              if (window.localStorage.getItem('trusted-you') == null)
             {
                window.location.href="/Home/TatSuTinTuong?url="+'@TempData["current"]';
             }
             }
            }
         }
         }
        
         var sang = 0;
         if ('@TempData["mau_background"]' == "white")
         {
             sang = 1;
         }
        
        var xongmau = 0;
         var iss = setInterval(function(){
             if (xongmau == 0)
            {
             if (localStorage.getItem("nensangtoi") != null)
             {
                 sang = localStorage.getItem("nensangtoi");
                 nensangtoi("null");
             }
             xongmau = 1;
         }
        
             if (sang == 0)
             {
                  var li3 = document.getElementsByName("mau-TN-1").length;
             for (var i = 0 ; i<li3; i++)
             {
                 document.getElementsByName("mau-TN-1")[i].style.color = "chartreuse";
             }
        
              var li4 = document.getElementsByName("mau-TN-2").length;
             for (var i = 0 ; i<li4; i++)
             {
                 document.getElementsByName("mau-TN-2")[i].style.color = "aqua";
             }
             }
             else
             {
                   var li3 = document.getElementsByName("mau-TN-1").length;
             for (var i = 0 ; i<li3; i++)
             {
                 document.getElementsByName("mau-TN-1")[i].style.color = "purple";
             }
        
              var li4 = document.getElementsByName("mau-TN-2").length;
             for (var i = 0 ; i<li4; i++)
             {
                 document.getElementsByName("mau-TN-2")[i].style.color = "blue";
             }
             }
         }, 10);
        
         function xoaluunen()
         {
             window.localStorage.removeItem("nensangtoi");
             alert("Bạn đã huỷ chế độ màu nền sử dụng vĩnh viễn, tử đây nó sẽ áp dụng trở lại theo quy định hệ thống. Bạn có thể load lại trang!");
         }
        
         function nensangtoi(mess)
         {
             if (mess != "null")
             {
             var re = confirm('Trang web của chúng tôi mặc định đối với màu nền như sau : từ 6H AM đến 17H59 PM trang web sẽ sử dụng nền sáng và ngược lại.\n\nSự thay đổi này chỉ tạm thời áp dụng trên trang bạn hiện đang sử dụng, nếu bạn load lại hoặc chuyển sang trang khác thì setting màu nền sẽ được trở lại trước đó. Vì vậy, bạn có muốn lưu cài đặt màu nền này luôn là mặc định mỗi khi truy cập web trên thiết bị của bạn hay không?');
             }
        
             if (sang == 0)
             {
                 sang = 1;
                  document.getElementById("chuyenlightdark").innerText = "Đổi nền tối";
             document.getElementById("nenta").style.backgroundColor = "dodgerblue";
             var li1 = document.getElementsByName("backgroundX").length;
             for (var i = 0 ; i<li1; i++)
             {
                 document.getElementsByName("backgroundX")[i].style.backgroundColor = "white";
             }
        
             var li2 = document.getElementsByName("colorX").length;
             for (var i = 0 ; i<li2; i++)
             {
                 document.getElementsByName("colorX")[i].style.color = "black";
             }
        
            }
            else
            {
                sang = 0;
                document.getElementById("chuyenlightdark").innerText = "Đổi nền sáng";
                  document.getElementById("nenta").style.backgroundColor = "rebeccapurple";
             var li1 = document.getElementsByName("backgroundX").length;
             for (var i = 0 ; i<li1; i++)
             {
                 document.getElementsByName("backgroundX")[i].style.backgroundColor = "black";
             }
        
             var li2 = document.getElementsByName("colorX").length;
             for (var i = 0 ; i<li2; i++)
             {
                 document.getElementsByName("colorX")[i].style.color = "white";
             }
        
            }
        
            if (mess != "null")
             {
                 if (re == true)
                 {
                     var light = (sang == 0) ? 1 : 0;
                     alert('Bạn đã chọn áp dụng màu nền sử dụng trang web vĩnh viễn!\nNếu sau này bạn muốn huỷ và trở lại mặc định, hãy thử click vào icon hình trái tim bên cạnh...');
                     window.localStorage.setItem("nensangtoi", light);
                 }
                 else
                 {
                     clearInterval(iss);
                 }
             }
         }
        
        //var demo = 0;
         if ('@TempData["demo-mau"]' == "true")
         {       
             setInterval(function()
             {
               //  if (demo == 1) return;
        
                 var maubg = '@TempData["demo-bg"]';
                 var mautext = '@TempData["demo-text"]';
        
                    document.getElementById("nenta").style.backgroundColor = "grey";
             var li1 = document.getElementsByName("backgroundX").length;
             for (var i = 0 ; i<li1; i++)
             {
                 document.getElementsByName("backgroundX")[i].style.backgroundColor = maubg;
             }
        
             var li2 = document.getElementsByName("colorX").length;
             for (var i = 0 ; i<li2; i++)
             {
                 document.getElementsByName("colorX")[i].style.color = mautext;
             }
        
               //  demo = 1;
             }, 10);
         }
        
         function toanmanhinh(){
        var elem = document.documentElement;
        if (elem.requestFullscreen) {
        elem.requestFullscreen();
        } else if (elem.msRequestFullscreen) {
        elem.msRequestFullscreen();
        } else if (elem.mozRequestFullScreen) {
        elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) {
        elem.webkitRequestFullscreen();
        }
        }
        
        setInterval(function()
        {
        if ('@TempData["toanmanhinh"]' == "false")
        return;
        
        toanmanhinh();

             window.addEventListener('beforeunload', (event) => {
             event.preventDefault();
          });
        },10);
        
        if ('@TempData["AdminControl"]' == "true")
        {
            if (localStorage.getItem("nensangtoi") != null)
            {
                var nenst = localStorage.getItem("nensangtoi");
                localStorage.setItem("nensangtoi_temp", nenst);
                localStorage.removeItem("nensangtoi");
            }
        }
        else
        {
        ;            if (localStorage.getItem("nensangtoi_temp") != null)
            {
                var nenst = localStorage.getItem("nensangtoi_temp");
                localStorage.setItem("nensangtoi", nenst);
                localStorage.removeItem("nensangtoi_temp");
            }
        }
        
    </script>
    <iframe id="noticeFrame" style="display:none;margin:0 auto;width:100%;height:100%"></iframe>
    <div id="bodyIndex">
        @if (TempData["AdminControl"] == "false" && TempData["ClearWebsite"] == "false")
        {
        <header>
            <nav id="nenta" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:@TempData["mau_nen"]">
            <div class="container-fluid" id="custom5">
                @if (TempData["belix"] == "false" && TempData["not-locked-web-client-play"] != "true")
                {
                <button style="color:yellow" class="navbar-brand" asp-area="" onclick="khoawebsite()">Khoá WebSite bằng mật mã LockedClientID (<u id="custom6">hãy cẩn thận đừng nhấn nhầm vào đây nếu bạn không có nhu cầu 😁</u>)</button>
                <h2 onclick="toanmanhinh()" id="tmh" href="#xuly">@TempData["TMH"]</h2>
                }
                else
                {
                {
                <button style="color:yellow" class="navbar-brand" asp-area="">Chào mừng bạn đến với website miễn phí với các tính năng cơ bản của MyWebPlay 👋👋👋</button>
                <h2 onclick="toanmanhinh()" id="tmh" href="#xuly">@TempData["TMH"]</h2>
                }
                }
                <a href="/Home/Index">
                    <p style="color:orangered" id="custom7">BACK HOME MENU</p>
                </a>
                @if (TempData["belix"] == "false")
                {
                if (TempData["IPUser_UnVisible"] == "false")
                {
                <span onclick="savebelive()" style="color:chartreuse" id="custom8">@TempData["userIP"]</span>
                }
                else
                {
                <span onclick="savebelive()" style="color:chartreuse" id="custom9">###</span>
                }
                }
                <h2 style="color:@TempData["mau_winx"]" onclick="xoaluunen()" id="custom10">@TempData["winx"]</h2><h2 id="custom11">@TempData["logo-admin"]</h2>
                @if (TempData["demo-mau"] == "false")
                {
                @if(TempData["mau_background"] == "white")
                {
                <a style="color:crimson" id="chuyenlightdark" href="#xuly" onclick="nensangtoi('xuly')">Đổi nền tối</a>
                }
                else
                {
                <a id="chuyenlightdark" style="color:crimson" href="#xuly" onclick="nensangtoi('xuly')">Đổi nền sáng</a>
                }
                }
            </div>
            </nav>
        </header>
        }
        <div name="colorX" style="color:@TempData["mau_text"]" id="custom12">
        @if (TempData["AdminControl"] == "false" && TempData["ClearWebsite"] == "false")
        {
        <a href="#xuly" onclick="copyCurrent()">
            <h4 id="current" style="color:orangered">@TempData["current"]</h4>
        </a>
        <br />
        }
        @if(TempData["ClearWebsite"] == "false" || TempData["ClearWebsite"] == null)
        {
        @if (TempData["GetDataIP"] == "true")
        {
        <div hidden id="custom13">@RenderBody()</div>
        <img src="/Image_Play/waiting.gif" />
        <script>
             // Get user IP
        if (ok == 0 && '@TempData["GetDataIP"]' == "true")
        {
            var s = '@TempData["urlCurrent"]';
            if (s == null || s == "" || s == "SessionPlay_DarkAdmin" || s == "/")
            s = '@TempData["urlDefault"]';
        
        fetch('https://api.ipify.org?format=json')
        .then(response => response.json())
        .then(data => window.location.href ="/Home/GetUserIP?ip="+data.ip+"&currentUrl="+s);
        }
        </script>
        }
        else
        { 
        @RenderBody()
        }
        }
        else
        {
        <div hidden id="custom14">@RenderBody()</div>
        <img id="autoCP" onclick="autoCopy()" src="/Image_Play/Google.png" width="100%" height="100%" style="position:fixed;min-width:100%;min-height:100%">
        }
    </div>
    @if (TempData["ClearWebsite"] == "false")
    {
    <footer class="border-top footer text-muted" id="custom15">
        <div class="container" id="custom16">
            &copy; 2023 - MyWebPlay - Bùi Văn Luật - C# ~ Asp Net Core 7
        </div>
        <audio autoplay hidden id="custom17">
            <source src="@TempData["nhacnendemo"]" type="audio/mpeg" id="custom18">
        </audio>
    </footer>
    }
    </div>
    <style>
        body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
        }
        .navbar {
        background-color: #343a40;
        }
        .navbar-brand {
        color: #fff;
        cursor: pointer;
        }
        .navbar-brand:hover {
        color: #ffc107;
        }
        .navbar-toggler {
        border-color: #6c757d;
        }
        .navbar-toggler-icon {
        color: #6c757d;
        }
        #current {
        font-size: 1.5em;
        font-weight: bold;
        }
        footer {
        padding: 1em 0;
        background-color: #343a40;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        }
        h2, p, span, a {
        margin: 0.5em 0;
        }
        a {
        color: crimson;
        text-decoration: none;
        border-radius: 5px;
        }
        a:hover {
        text-decoration: underline;
        }
        button, input[type="submit"] {
        border: 2px solid #007bff;
        color: #007bff;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background: none;
        transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
        }
        button:hover, input[type="submit"]:hover {
        color: #0056b3;
        transform: scale(1.05);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
        }
        input[type="color"] {
        border: 2px solid #007bff;
        padding: 5px;
        cursor: pointer;
        border-radius: 5px;
        transition: border-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
        }
        input[type="color"]:hover {
        border-color: #0056b3;
        transform: scale(1.05);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
        }
        input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="search"], input[type="file"], textarea, select {
        padding: 10px;
        margin: 5px 0 10px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        }
        input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="file"]:focus, textarea:focus, select:focus {
        border-color: #007bff;
        outline: none;
        }
        img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        }
        audio {
        display: block;
        width: 100%;
        margin-top: 10px;
        border-radius: 8px; /* Rounded corners */
        overflow: hidden; /* Ensure rounded corners are visible */
        }
    </style>
    <br />
    <br />
    <br />
    <br />
    <br />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> @Html.Raw(TempData["HTML-added"])
    @await RenderSectionAsync("Scripts", required: false)
    <textarea id="notice" hidden>@TempData["notice-play"]</textarea>
    </body>
</html>
}