@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
<script>
    function xoaValue(ele)
    {
          document.getElementById(ele).value = "";
          document.getElementById(ele).focus();
    }
</script>
<table align="center" id="custom50">
    <h2 style="text-align:center" id="custom51">Check Text Pattern Regex</h2>
    <h3 style="color:purple" onclick="muaxuan()" id="custom52">@ViewBag.KetQua</h3>
    @using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)
    <tr style="height:40px" id="custom53">
        <td id="custom54"></td>
        <td id="custom55">
            <br>
            <a href="#xuly" onclick="xoaValue('chuoi')">  <b id="custom56">Chuỗi của bạn : </b></a>
            <br>
            <input type="text" size="100" name="Chuoi" id="chuoi">
            <br>
            <span style="color:red; font-style:italic" id="custom57">@ViewData["Loi1"] </span>
        </td>
    </tr>
    <br />
    <br />
    <tr style="height:40px" id="custom58">
        <td id="custom59"></td>
        <td id="custom60">
            <br>
            <a href="#xuly" onclick="xoaValue('pattern')">  <b id="custom61">Pattern cần kiểm tra : </b></a>
            <br>
            <input type="text" size="100" name="Pattern" id="pattern">
            <br>
            <span style="color:red; font-style:italic" id="custom62">@ViewData["Loi2"] </span>
        </td>
    </tr>
    <br />
    <br />
    <tr style="height:40px" id="custom63">
        <td id="custom64"></td>
        <td id="custom65">
            <input type="Submit" value="Kết Quả" />
        </td>
    </tr>
    }
</table>
<br>
<br />
* QUY TẮC PATTERN - REGEX (50%) :
<br>
<br>. : đại diện cho 1 kí tự, ngoại trừ Enter
<br>
<br>\d : đại diện kí tự số
<br>
<br>[0-9] : giống \d (đại diện kí từ số từ 0 đến 9]
<br>
<br>[x-y] : đại diện kí từ số từ x đến y
<br>
<br>\d{x} : Tìm chuỗi con có x kí tự là số liên tiếp nhau
<br>
<br>\D : đại diện ký tự không phải là số
<br>
<br>\s : ký tự khoảng trắng hay Enter hay cách Tab
<br>
<br>\w : bao gồm kí tự chữ, số và dấu gạch dưới
<br>
<br>[azAZ_0-9] : giống \w
<br>
<br>^[azAZ_0-9] : Phủ định của [azAZ_0-9] (những TH còn lại)
<br>
<br>\S : kí tự không là khoảng trắng, Enter hay cách Tab
<br>
<br>\W : ký tự không phải là một từ word
<br>
<br>^ : Bắt đầu một chuỗi hay một dòng
<br>
<br>$ : Kết thúc một chuỗi hay một dòng
<br>
<br>\A : Bắt đầu một chuỗi
<br>
<br>\z : Kết thúc một chuỗi
<br>
<br>| : OR (điều kiện 'hoặc' - logic)
<br>
<br>[xyz] : x hay y hay z đều thoả mãn (miễn ít nhất một và không nằm  ngoài vùng này)
<br>
<br>^[xyz] : Phủ định với [xyz]
<br>
<br>( hay và ) : xác định một group các pattern
<br>
<br>?x : Trước chữ x của một từ phải có các chữ đứng trước xuất hiện 0 hay 1 lần
<br>VD : ax --> Trước chữ x chỉ có đúng một chữ a.
<br>
<br>*x : Trước chữ x của một từ phải có các chữ đứng trước xuất hiện 0 lần trở lên
<br>
<br>+x : Trước chữ x của một từ phải có các chữ đứng trước xuất hiện 1 lần trở lên
<br>
<br>{n}x : Trước chữ x của một từ phải có các chữ đứng trước xuất hiện đúng n lần
<br>
<br>{n,}x : Trước chữ x của một từ phải có các chữ đứng trước xuất hiện n lần trở lên
<br>
<br>{m,n}x : Trước chữ x của một từ phải có các chữ đứng trước xuất hiện từ m đến n lần.
<br>
<br>...
<br>
<br /><br /><br />
******************************************************************************************************************************************************************************
<br />
<br />
<br />
<div id="hihi">
    @Html.Raw(ViewBag.Result) <br><br>@if(TempData["fileResult"] != null) {<a id="downloadResult" href="/POST_DataResult/@TempData["fileResult"]" download>CLICK HERE TO DOWNLOAD TXT RESULT</a>}
</div>