<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true;
                }
            }
         });
    }, 100);

</script>
<br />
<div id="html_play"></div>
<br />
@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> @Html.Raw(TempData["HTML-added"])
<script>
         var tim1 = 30;
        var idX1 = setInterval(myFay1, 1000);
        
        function myFay1()
        {
           if ($('#thoigian1').length)
           {
            var va = document.getElementById("thoigian1");
            va.innerHTML = tim1;
            tim1--;
            if (va.innerText == 0)
            {
                clearInterval(idX1);
                window.location.href="/Home/XoaAllFile_X1";
            }
           }
        }
        
         var tim2 = 30;
        var idX2 = setInterval(myFay2, 1000);
        
        function myFay2()
        {
           if ($('#thoigian2').length)
           {
            var va = document.getElementById("thoigian2");
            va.innerHTML = tim2;
            tim2--;
            if (va.innerText == 0)
            {
                clearInterval(idX2);
                window.location.href="/Home/XoaAllFile_X2";
            }
           }
        }
        
         var tim3 = 30;
        var idX3 = setInterval(myFay3, 1000);
        
     function myFay3()
        {
             if ($('#thoigian3').length)
           {
            var va = document.getElementById("thoigian3");
            va.innerHTML = tim3;
            tim3--;
            if (va.innerText == 0)
            {
                clearInterval(idX3);
                window.location.href="/Home/XoaKaraoke";
            }
           }
        }
    </script>
}
<script>
    var id;
    var so = 0;
    function xongroi()
    {
       document.getElementById("xong").style.display = "none";
       document.getElementById("loading").style.display = "inline-block";
       document.getElementById("chuoi").readOnly = true;
       id = setInterval(myAlertX, 1000);

        //thatbai_time = 0;
        //setInterval(function()
        //{
        //    if (thatbai_time == 5)
        //    {
        //        if (thatbai == true)
        //        {
        //              document.getElementById("xong").style.display = "inline-block";
        //             document.getElementById("loading").style.display = "none";
        //        }
        //        return;
        //    }
        //    thatbai_time++;
        //},10);
    }
    
    var xw = new Number('@TempData["Time_Waiting"]') * 3;
    
    function myAlertX()
    {
       if (so == xw)
       {
           document.getElementById("ok").click();
            clearInterval(id);
           return;
       }
               so++;
    }
</script>
<h2 style="text-align:center">File Question/Answer Theo Hệ Thống (dành cho admin hoặc các user hiểu biết chức năng)</h2>
<h3 style="color:deeppink">@Html.Raw(ViewBag.KetQua)</h3>
<br />
@if ((ViewBag.KetQua == null || ViewBag.KetQua == "") || (ViewBag.KetQua != null && ViewBag.KetQua.ToString().Contains("[ERROR]") == true))
{
<table align="center">
    @using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)
    <tr style="height:40px">
        <td></td>
        <td>
            <br>
            <b>Dán bài question/answer của bạn tại đây (xem ví dụ tương đương) :</b>
            <br>
            <b style="color:deeppink">Để tránh trường hợp có thể xảy ra, tốt nhất bạn nên lưu và thực hiện nội dung question answer đâu đó trên local và sao chép chúng thông qua vào trường điền dưới đây...</b>
            <br>
            <textarea rows="20" cols="150" id="chuoi" name="txtChuoi" autofocus>@ViewBag.ChuoiVD</textarea>
        </td>
    </tr>
    <tr style="height:40px">
        <td></td>
        <td>
            <input id="ok" type="Submit" value="Kết Quả" hidden />
            <br>
            <img id="loading" src="/Image_Play/waiting.gif" style="display:none" />
        </td>
    </tr>
    }
    <tr style="height:40px" id="xong">
        <td></td>
        <td>
            <button><b onclick="xongroi()">XỬ LÝ</b></button>
        </td>
    </tr>
</table>
}