<script>
    function check()
    {
        var dapan = document.getElementById("DapAn").value.split(/\r|\n/);
        alert("X-Answer of you recent is "+dapan.length);
    }

    function upAnswer()
    {
        window.location.href = "/Home/CreateFile_TracNghiem?answer="+document.getElementById("txAnswer").value;
    }

    function downAnswer()
    {
        var dapan = document.getElementById("DapAn");
        dapan.value = "";
        
        var s = "";

        for(var i =0; i< new Number('@ViewBag.TongDapAn'); i++)
        {
            var chon = document.getElementsByName("HasAnswer")[i].options;

            if (chon.selectedIndex == 0)
            s += "A";
            else if (chon.selectedIndex == 1)
            s += "B";
            else if (chon.selectedIndex == 2)
            s += "C";
            else if (chon.selectedIndex == 3)
            s += "D";

            if (i < new Number('@ViewBag.TongDapAn') -1)
            s += "\r\n";
        }

        dapan.value = s;
    }

     function checkX()
    {
        var dapan = document.getElementById("DapAn").value.split(/\r|\n/);
        var so = document.getElementById("socolar");
        var winx = document.getElementById("winx");

        var x = new Number(winx.innerText) + 1;
        winx.innerHTML = x;

                if (winx.innerText > dapan.length)
                winx.innerHTML = 1; 

         so.innerHTML = "["+dapan[winx.innerText-1]+"]";
    }

     function checkXX()
    {
        var so = document.getElementById("socolar");
        var winx = document.getElementById("winx");

                winx.innerHTML = 0; 

         so.innerHTML = "[NULL]";
    }

</script>

<table align="center">
    <h2 style="text-align:center">File Trắc Nghiệm Theo Hệ Thống (dành cho admin hoặc các user hiểu biết chức năng)</h2>

    <h3 style="color:yellow">@Html.Raw(ViewBag.KetQua)</h3>

    <br />

   
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

            <tr style="height:40px">
                <td></td>
                <td>
                    <br>
                        <b>Dán bài trắc nghiệm của bạn tại đây (xem ví dụ tương đương) :</b>
                        <br>
                            <b style="color:yellow">Để tránh trường hợp có thể xảy ra, tốt nhất bạn nên lưu và thực hiện nội dung trắc nghiệm đâu đó trên local và sao chép chúng thông qua vào trường điền dưới đây...</b>
                            <br>
                    <textarea rows="20" cols="150" name="txtChuoi" autofocus>@ViewBag.ChuoiVD</textarea>
                </td>
            </tr


               <tr style="height:40px">
                    <td></td>
                    <td>
                        <input type="text" name="txtNum" value="@ViewBag.CH_VD" size="20" placeholder="Liệt kê các câu hỏi (index)">
                    </td>
                </tr>

                <tr style="height:40px">
                    <td></td>
                          <td><b><u>Xem lại nội dung bài trắc nghiệm của bạn để tự tìm và đánh giá phân tách phù hợp (xem ví dụ)...</u></b></td>
                    </tr>

   
                     <tr style="height:40px">
                        <td></td>
                        <td>
                            <input type="text" name="txtX" value="@ViewBag.XCH_VD" size="25" placeholder="Split câu hỏi - After Number">
                                <span style="color:red; font-weight:bold">Number</span>
                                        <input type="text" name="txtXX" value="@ViewBag.CHX_VD" size="25" placeholder="Split câu hỏi - Before Number">
                        </td>
                    </tr>

                         <tr style="height:40px">
                        <td></td>
                        <td>
                                <input type="text" name="txtA" value="@ViewBag.A_VD" size="10" placeholder="Split đáp án A">
                        </td>
                    </tr>

                        <tr style="height:40px">
                            <td></td>
                            <td>
                                    <input type="text" name="txtB" value="@ViewBag.B_VD" size="10"  placeholder="Split đáp án B">
                            </td>
                        </tr>

                            <tr style="height:40px">
                            <td></td>
                            <td>
                                    <input type="text" name="txtC" value="@ViewBag.C_VD" size="10"  placeholder="Split đáp án C">
                            </td>
                        </tr>

                            <tr style="height:40px">
                            <td></td>
                            <td>
                                    <input type="text" name="txtD" value="@ViewBag.D_VD" size="10"  placeholder="Split đáp án D">
                            </td>
                        </tr>

                                            <tr style="height:40px">
                        <td></td>
                              <td><b>--------------------------------------------------------------------------------------------------------------------------------------------------------------------------</b></td>
                        </tr>

                            <tr style="height:40px">
                                <td></td>
                            <td>
                                <br>
                                   <b>Chọn những câu không cần hoán vị đáp án - theo index hệ thống * start in 1 (xem ví dụ) : </b>
                                   <br>
                                <input type="text" name="txtNoSwap" value="@ViewBag.NoSwap_VD" size="10">
                            </td>
                        </tr>

                           <tr style="height:40px">
                                <td><u>...HOẶC BẠN CÓ THỂ...</u></td>
                            <td>
                                <br>
                                   <b>Nhận dạng dấu hiệu của đáp án xuất hiện trong câu, nó sẽ làm cho câu đó không bị hoán vị (hãy kỹ càng - cẩn thận - mỗi dấu hiệu cách nhau bởi Enter) : </b>
                                   <br>
                                <textarea name="txtHoanVi" cols="80" rows="10">@ViewBag.HoanVi_VD</textarea>
                            </td>
                        </tr>


                         <tr style="height:40px">
                                <td><h4><u style="color:red">NẠP TẢI ĐÁP ÁN CHO TỪNG CÂU HỎI</u></h4></td>
                            <td>
                                <br>
                                   <b></b>
                                   <br>
                                <input type="text" name="txtAnswer" id="txAnswer" value="@ViewBag.Answer" size="80"/> <input type="radio" onclick="upAnswer()" checked /> <b> ⬅️ Click để bắt đầu nạp tải đáp án</b>
                            </td>
                        </tr>

                         @if (ViewBag.SAVE_ANSWER != null)
        {
            string[] listAnswer = ViewBag.SAVE_ANSWER.ToString().Split(".", StringSplitOptions.RemoveEmptyEntries);
            for (int i = 0; i < listAnswer.Length; i++)
            {
                string[] listDapan = listAnswer[i].Split("-", StringSplitOptions.RemoveEmptyEntries);
                for (int j = int.Parse(listDapan[0]); j<= int.Parse(listDapan[1]);j++)
                {
                     <tr style="height:40px">
                                <td></td>
                            <td>
                                <br>
                                   <b></b>
                                   <br>
                               <b style="color:yellow">ĐÁP ÁN CÂU @j : </b>
                               <select name="HasAnswer">
                                   <option>A</option>
                                   <option>B</option>
                                   <option>C</option>
                                   <option>D</option>
                               </select>
                            </td>
                        </tr>
                }
               <tr style="height:40px">
                                <td></td>
                            <td>
                                <br>
                                   <b></b>
                                   <br>
                                  <hr>
                                  <br>
                            </td>
                        </tr>
            }
            <tr style="height:40px">
                                <td></td>
                            <td>
                                   <b></b>
                                   <input type="radio" onclick="downAnswer()" checked /><b style="color:aqua"> ⬅️ Click để nạp tải đáp án</b>
                                  <br>
                            </td>
                        </tr>
        }



                             <tr style="height:40px">
                    <td> </td>
                    <td>
                        <br>
                            <b>Tự đánh đáp án (hoặc nhờ sự nạp tải ở trên) thích hợp cho từng câu - phải dựa vào index bạn đã thiết đặt ở trên? (xem ví dụ tương đương) : </b>
                            <br>
                        <textarea rows="20" cols="150" id="DapAn" name="txtDapAn" autofocus>@ViewBag.DapAn_VD</textarea>
<br>
 <input type="radio" onclick="check()" checked /><b>⬅️ Click here to check X-Answer</b>
 <br>
 <input style="font-size:40px" type="radio" onclick="checkXX()" checked /> <b>⬅️ Click here to reset to check</b> || <input style="font-size:40px" type="radio" onclick="checkX()" checked /> <b id="winx" style="color:lightcoral;font-size:40px">0</b> (index hệ thống) : <b style="color:lightseagreen;font-size:40px" id="socolar">[NULL]</b>
                    </td>
                </tr>

       

            <tr style="height:40px">
                <td></td>
                <td>
                    <input type="Submit" value="Kết Quả" />
                </td>
            </tr>
    }

</table>
