
<table align="center">
    <h2 style="text-align:center">C# tạo lệnh create class cơ bản</h2>

    <h3 style="color:blue" onclick="muaxuan()">@ViewBag.KetQua</h3>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <tr style="height:40px">
            <td></td>
            <td>
                <br>
                    <b>Nhập tên class </b>
                    <br>
                <input type="text" size="50" name="TenClass" value="ClassName">
                <br>
                <span style="color:red; font-style:italic">@ViewData["Loi2"] </span>
            </td>
        </tr>
        <br />
        <br />
        <tr style="height:40px">
            <td></td>
            <td>
                <br>
                    <b>Nhập dãy dữ liệu theo mẫu (ví dụ - lưu ý)... </b>
                <br>
                <textarea name="DuLieu" cols="100" rows="50">int-property1
float-property2
double-property3
decimal-property4
long[,]-property5
string[]-property6
List<bool>-property7
#ClassOther-property8</textarea>
                <br>
                <span style="color:red; font-style:italic">@ViewData["Loi3"] </span>
            </td>
        </tr>


        <tr style="height:40px">
            <td></td>
            <td>
                <input type="Submit" value="Kết Quả" />
            </td>
        </tr>
    }
</table>
<br /><br /><br />
******************************************************************************************************************************************************************************

<br />
<br />
<br />

<div id="hihi">
    @Html.Raw(ViewBag.Result)
</div>