@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });
                    const styles = container.querySelectorAll("style, link[rel='stylesheet']");

                    styles.forEach((styleEl) => {
                        const newEl = document.createElement(styleEl.tagName.toLowerCase());

                        if (styleEl.tagName.toLowerCase() === 'style') {
                            newEl.textContent = styleEl.textContent;
                        } else if (styleEl.tagName.toLowerCase() === 'link') {
                            newEl.rel = "stylesheet";
                            newEl.href = styleEl.href;
                        }

                        document.head.appendChild(newEl);
                        styleEl.remove();
                    });


                    loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
<script>
    function xoaallfile(){
    
         var check = document.getElementById("matkhauadmin").value;
          window.location.href = "/Home/LoginAdmin?password="+check+"&&id=1&&url=DownloadFile";
     }
    
      if ('@TempData["LoginAdmin"]' != null && '@TempData["LoginAdmin"]' != "")
     {
     alert('@TempData["LoginAdmin"]');
     }
    
     function qwerty()
     {
           var check = document.getElementById("matkhauadmin").value;
    
           window.location.href = "/Home/LoginAdmin?folder="+document.getElementById("FOLD").value+"&password="+check+"&&id=3";
     }
    
     function xacnhan(file)
     {
         var con = confirm('Bạn có chắc chắn muốn xoá vĩnh viễn file này khỏi lưu trữ Server hệ thống không? - '+file);
         if (con == true)
         {
             alert("Thành công, tác vụ hiện đang được xử lý...");
             window.location.href="/Home/XoaFile?file="+file;
         }
     }

     function dichuyenExternal(file)
     {
         var con = confirm('Bạn có chắc chắn muốn di chuyển file đến thư mục root (FileExternal) không? - '+file+ "\nLưu ý : hãy cẩn thận với các file bạn tải lên vì có thể sẽ bị ghi đè với file cũ đã có trước đó.\nVà cũng lưu ý thêm : nếu bạn tải các file này ngay chính thư mục bên ngoài FileExternal mà không chứa trong thư mục con của nó; thì sau này nếu bạn muốn xoá thì phải vào tận server hosting website này (admin) và tự xoá nó thủ công...");
         if (con == true)
         {
              var check = document.getElementById("matkhauadmin").value;

              var formData = new FormData();
              formData.append("file", file);
              formData.append("pass", check);
        
         $.ajax({
            url: "/Admin/DiChuyenFileExternal",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
               if (data.result == true)
               {
                    alert("Thành công, tác vụ hiện đã được xử lý.\nCòn file này ở đây cũng đã bị xoá 😁.");
                     const urlParams = new URLSearchParams(window.location.search);
                    var folder = urlParams.get("folder").split("<split>")[0];
                    document.getElementById("Folder").value = folder;
                    downall();
               }
               else
               {
                   alert("Đã xảy ra lỗi. Vui lòng kiểm tra và thử lại sau.");
               }
            }});
             
         }
     }
    
     function uploadfile()
     {
         window.location.href = "/Home/UploadFile";
     }
    
     function soluongfile()
     {
         window.location.href = "/Home/DownloadFile?sl="+document.getElementById("SL").value;
     }
    
     function downall()
     {
         window.location.href = "/Home/DownloadFile?folder="+document.getElementById("Folder").value + "<split>1";
     }
    
     function downall1()
     {
         window.location.href = "/Home/DownloadFile?folder="+document.getElementById("Folder").value + "<split>4";
     }
    
     function alldown()
     {
          var check = document.getElementById("matkhauadmin").value;
         window.location.href = "/Home/LoginAdmin?password="+check+"&&id=2";
     }
    
       function xoaValue(ele)
     {
             document.getElementById(ele).value = "";
             document.getElementById(ele).focus();
     }
    
</script>
<table align="center" id="custom255">
    <h2 style="text-align:center" id="custom256">DOWNLOAD YOUR FILE ON SERVER</h2>
    <br /><br />
    <h3 style="color:red" id="custom257">@ViewBag.KQF</h3>
    <br /><br />
    @for (int i = 0; i < ViewBag.XL; i++)
    {
    if (ViewBag.All == "1")
    {
    <b id="custom258"> KẾT QUẢ FILE THỨ @(i+1) CỦA BẠN : </b>
    }
    else if (ViewBag.All == "2")
    {
    <b id="custom259"> KẾT QUẢ FOLDER THỨ @(i+1) TRONG THƯ MỤC BẠN CHỈ ĐỊNH : </b>
    }
    <br />
    <h3 style="color:sienna" id="custom260">@Html.Raw(@ViewData["KetQua"+i])</h3>
    <br />
    <br />
    }
    <hr />
    <input type="password" id="matkhauadmin" size="30" />
    <button style="color:purple" onclick="xoaallfile()" id="custom261">Xoá tất cả các file trên Server - toàn bộ (dành cho admin)</button>
    <br />
    <br />
    <button style="color:blueviolet" onclick="uploadfile()" id="custom262">Bạn chưa đăng tải file trên hệ thống trước đó?</button>
    <br />
    <br />
    <a href="#xuly" onclick="xoaValue('Folder')"><b id="custom263">Nhập chính xác path folder để truy xuất các file (không bao gồm các folder con) để download - nếu để / mặc định là ROOT : </b></a><input id="Folder" type="text" size="50" value="/Folder1/Folder2" />
    <button style="color:blue;font-weight:bold" onclick="downall()" id="custom264">ALL DOWNLOAD SERVER IN THIS FOLDER</button>
    <button style="color:blue;font-weight:bold" onclick="downall1()" id="custom265">ALL DOWNLOAD SERVER IN THIS FOLDER (NÉN ALL ZIP)</button>
    <br />
    <br />
    <button style="color:brown;font-weight:bold" onclick="alldown()">ALL DOWNLOAD (TOÀN BỘ - chỉ admin)</button>
    <br />
    <br />
    @*<b id="custom266">Nhập số lượng file mà bạn muốn download (ROOT) : </b>*@ <input hidden type="number" id="SL" value="@ViewBag.SL" min="1"/>
    @* <button id="okX" onclick="soluongfile()">OK</button>*@
    <br />
    <br />
    <a href="#xuly" onclick="xoaValue('FOLD')"><b id="custom267">Nếu bạn không nhớ các folder trên Server có thể <u id="custom268">lần mò từ từ</u> để xuất DS các thư mục đang tồn tại, bắt đầu bỏ trống trường này để đi từ mục ROOT (chỉ admin) : </b></a> <input type="text" value="/Folder1/Folder2" id="FOLD" size="50" /><button onclick="qwerty()" id="custom269"><b id="custom270">XUẤT DS FOLDER IN THIS</b></button>
    <br /><br />
</table>