@if (TempData["ViewSiteBasic"] == "true")
{
    Layout = null;
}
<script>
   function xoaallfile(){

        var check = prompt('Để xác nhận xoá tất cả các file trên Server, admin nhập đúng mật mã : ');

        if (check != null && check != "")
         window.location.href = "/Home/LoginAdmin?password="+check+"&&id=1&&url=DownloadFile";
    }

     if ('@TempData["LoginAdmin"]' != null && '@TempData["LoginAdmin"]' != "")
    {
    alert('@TempData["LoginAdmin"]');
    }

    function qwerty()
    {
          var check = prompt('Tính năng hiện tại chỉ dành cho admin, admin nhập đúng mật mã để tiếp tục xử lý : ');

          if (check != null && check != "")
        window.location.href = "/Home/LoginAdmin?folder="+document.getElementById("FOLD").value+"&password="+check+"&&id=3";
    }

    function xacnhan(file)
    {
        var con = confirm('Bạn có chắc chắn muốn xoá vĩnh viễn file này khỏi lưu trữ Server hệ thống không? - '+file);
        if (con == true)
        {
            alert("Thành công, tác vụ hiện đang được xử lý...");
            window.location.href="/Home/XoaFile?file="+file;
        }
    }

    function uploadfile()
    {
        window.location.href = "/Home/UploadFile";
    }

    function soluongfile()
    {
        window.location.href = "/Home/DownloadFile?sl="+document.getElementById("SL").value;
    }

    function downall()
    {
        window.location.href = "/Home/DownloadFile?all=1&&folder="+document.getElementById("Folder").value;
    }

    function downall1()
    {
        window.location.href = "/Home/DownloadFile?all=4&&folder="+document.getElementById("Folder").value;
    }

    function alldown()
    {
         var check = prompt('Tính năng hiện tại chỉ dành cho admin, admin nhập đúng mật mã để tiếp tục xử lý : ');
         if (check != null && check != "")
        window.location.href = "/Home/LoginAdmin?password="+check+"&&id=2";
    }

      function xoaValue(ele)
    {
            document.getElementById(ele).value = "";
            document.getElementById(ele).focus();
    }

</script>


<table align="center">
    <h2 style="text-align:center">DOWNLOAD YOUR FILE ON SERVER</h2><br /><br />
    <h3 style="color:red">@ViewBag.KQF</h3> <br /><br />
    @for (int i = 0; i < ViewBag.XL; i++)
    {
        if (ViewBag.All == "1")
        {
            <b> KẾT QUẢ FILE THỨ @(i+1) CỦA BẠN : </b>
        }
        else if (ViewBag.All == "2")
        {
            <b> KẾT QUẢ FOLDER THỨ @(i+1) TRONG THƯ MỤC BẠN CHỈ ĐỊNH : </b>
        }
        <br />
    <h3 style="color:sienna">@Html.Raw(@ViewData["KetQua"+i])</h3>
    <br />
    <br />
    }

    <hr />
    <button style="color:purple" onclick="xoaallfile()">Xoá tất cả các file trên Server - toàn bộ (dành cho admin)</button>
    <br />
    <br />
    <button style="color:blueviolet" onclick="uploadfile()">Bạn chưa đăng tải file trên hệ thống trước đó?</button>

    <br />

    <br />
    <a href="#xuly" onclick="xoaValue('Folder')"><b>Nhập chính xác path folder để truy xuất các file (không bao gồm các folder con) để download - nếu để trống mặc định là ROOT : </b></a><input id="Folder" type="text" size="50" value="/Folder1/Folder2" />
    <button style="color:blue;font-weight:bold" onclick="downall()">ALL DOWNLOAD SERVER IN THIS FOLDER</button>
    <button style="color:blue;font-weight:bold" onclick="downall1()">ALL DOWNLOAD SERVER IN THIS FOLDER (NÉN ALL ZIP)</button>
    <br />

    <br />
    <button style="color:brown;font-weight:bold" onclick="alldown()">ALL DOWNLOAD (TOÀN BỘ)</button>
    <br />

    <br />
    @*<b>Nhập số lượng file mà bạn muốn download (ROOT) : </b>*@ <input hidden type="number" id="SL" value="@ViewBag.SL" min="1"/>
   @* <button id="okX" onclick="soluongfile()">OK</button>*@

                <br />
                 <br />
    <a href="#xuly" onclick="xoaValue('FOLD')"><b>Nếu bạn không nhớ các folder trên Server có thể <u>lần mò từ từ</u> để xuất DS các thư mục đang tồn tại, bắt đầu bỏ trống trường này để đi từ mục ROOT : </b></a> <input type="text" value="/Folder1/Folder2" id="FOLD" size="50" /><button onclick="qwerty()"><b>XUẤT DS FOLDER IN THIS</b></button>
    <br /><br />
 
</table>
