
<script>
   function xoaallfile(){

        var check = prompt('Để xác nhận xoá tất cả các file trên Server, admin nhập đúng mật mã : ');

        if (check!=null)
        {
            if (check != "admin")
           {
            alert('Mật mã xác nhận xử lý không chính xác!')
            }
           else{
            alert('Thành công! Tác vụ sẽ tiến hành chuẩn bị xử lý...')
             }

         window.location.href = "/Home/XoaAllFile?password="+check;
        }
    }

    function xacnhan()
    {
        alert('Thành công! File của bạn đã bị xoá khỏi Server hệ thống...\nReload hoặc cập nhật lại trang web để xem kết quả!')
    }

    function uploadfile()
    {
        window.location.href = "/Home/UploadFile";
    }

    function soluongfile()
    {
        window.location.href = "/Home/DownloadFile?sl="+document.getElementById("SL").value;
    }

    function downall()
    {
        window.location.href = "/Home/DownloadFile?all=1";
    }

</script>


<table align="center">
    <h2 style="text-align:center">DOWNLOAD YOUR FILE ON SERVER</h2>

    @for (int i = 0; i < ViewBag.XL; i++)
    {
            <b> KẾT QUẢ FILE THỨ @(i+1) CỦA BẠN : </b>
                <br />
    <h3 style="color:yellow">@Html.Raw(@ViewData["KetQua"+i])</h3>
    <br />
    <br />
    }

    <hr />
    <button style="color:purple" onclick="xoaallfile()">Xoá tất cả các file trên Server (dành cho admin)</button>
    <br />
    <br />
    <button style="color:blueviolet" onclick="uploadfile()">Bạn chưa đăng tải file trên hệ thống trước đó?</button>

    <br />

    <br />
    <button style="color:blue" onclick="downall()">ALL DOWNLOAD SERVER</button>

    <br />

    <br />
    <b>Nhập số lượng file mà bạn muốn download : </b> <input type="number" id="SL" value="@ViewBag.SL" min="1"/>
    <button id="okX" onclick="soluongfile()">OK</button>

                <br />
                 <br />


    @using (Html.BeginForm("DownloadFile", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)

        @for (int i = 0; i < ViewBag.SL; i++)
        {
            <tr style="height:40px">
                        <td> </td>
                <td>
                            <br> <b>@(i + 1)</b>. Nhập tên file kèm theo extension của file cần tìm để download trên Server : 
                            <br>
                    <input type="text" size="50" name="TenFile">
                </td>
            </tr>
        }


        @if (ViewBag.SL > 0)
        {
                        <tr style="height:40px">
                            <td></td>
                            <td>
                                        <input id="OKX" style="font-weight:bolder" type="Submit" value="OK DOWNLOAD" />
                            </td>
                        </tr>
        }
    }
</table>
