@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
<script>
     // Delete div somee
     setInterval(function()
                {
                     $(document).ready(function () {
                $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
                $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
                $("div[onmouseover='S_ssac();']").remove();
                $("center").remove();
                $("div[style='height: 65px;']").remove();
            }); 
        },10);

    function defaultlayout()
    {
        document.getElementById("textX").value = "<img src=\"/Image_Play/Google.png\" width=\"100%\" heigth=\"100%\" onclick=\"chuyendoi()\" style=\"position:fixed;min-width:100%;min-height:100%\">";
    }
</script>
<table align="center" id="custom275">
    <h2 style="text-align:center" id="custom276">Edit Random Layout File&nbsp;&nbsp;&nbsp;&nbsp;<button style="color:orangered" onclick="defaultlayout()" id="custom277">LẤY NỘI DUNG LAYOUT MẶC ĐỊNH</button></h2>
    @using(Html.BeginForm())
    {
    <tr style="height:40px" id="custom278">
        <td id="custom279"></td>
        <td id="custom280">
            <input type="Submit" value="LƯU" />
            <br>
            <h4 id="custom281">@Html.ActionLink("Trở về", "RandomLayout")</h4>
        </td>
    </tr>
    <tr style="height:40px" id="custom282">
        <td id="custom283"></td>
        <td id="custom284">
            <br>
            <br>
            <textarea id="textX" rows="500" cols="150" name="txtText" autofocus>@ViewBag.Text</textarea>
        </td>
    </tr>
    <tr style="height:40px" id="custom285">
        <td id="custom286"></td>
        <td id="custom287">
            <input type="Submit" value="LƯU" />
            <br>
            <h4 id="custom288">@Html.ActionLink("Trở về", "RandomLayout")</h4>
        </td>
    </tr>
    }
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> @Html.Raw(TempData["HTML-added"])