@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<script>
    function xoaValue(ele)
    {
          document.getElementById(ele).value = "";
          document.getElementById(ele).focus();
    }
</script>
<table align="center">
    <h2 style="text-align:center">Insert SQL (mới)</h2>
    <h3 style="color:purple" onclick="muaxuan()">@ViewBag.KetQua</h3>
    @using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)
    <tr style="height:40px">
        <td> </td>
        <td>
            <br>
            <a href="#xuly" onclick="xoaValue('chuoi')"> <b>Chuỗi (tên field[TAB]kiểu dữ liệu[TAB]giá trị default nếu có) : </b></a><br>
            <br>
            <textarea name="Chuoi" id="chuoi" cols="100" rows="10">@ViewBag.Chuoi</textarea>
            <br>
            <a href="#xuly" onclick="xoaValue('default')"> <b>Giá trị gán có sẵn bắt buộc, nếu không sẽ bỏ qua và gán mặc định (tên field[=]giá trị) [Nếu muốn thêm nhiều record có thể tách nhau bởi \n#3275#\n] : </b></a><br>
            <br>
            <textarea name="Default" id="default" cols="100" rows="5">@ViewBag.Default</textarea>
            <br>
            <a href="#xuly" onclick="xoaValue('boqua')"> <b>Các cột bị bỏ qua (cách nhau bởi Enter)  - ví dụ do field có kiểu identity tự tăng ... : </b></a><br>
            <br>
            <textarea name="BoQua" id="boqua" cols="100" rows="5">@ViewBag.BoQua</textarea>
            <br>
             <a href="#xuly" onclick="xoaValue('record')"> <b>Hãy cho vào đây một record từ kết quả SQL excute bất kỳ bạn muốn (nhằm để set các cột còn lại chưa có giá trị cụ thể) : </b></a><br>
            <br>
            <input type="text" id="record" name="Record" size="100" value="@ViewBag.Record" />
            <br>
        </td>
    </tr>
    <tr style="height:40px">
        <td></td>
        <td>
            <input type="Submit" value="Kết Quả" />
        </td>
    </tr>
    }
</table>
<br /><br />
******************************************************************************************************************************************************************************
<br />
<br />
<br />
<div id="hihi">
    @Html.Raw(ViewBag.Result) <br><br>@if(TempData["fileResult"] != null) {<a id="downloadResult" href="/POST_DataResult/@TempData["fileResult"]" download>CLICK HERE TO DOWNLOAD TXT RESULT</a>}
</div>