@model MyWebPlay.Model.TracNghiem
<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true;
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true;
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> @Html.Raw(TempData["HTML-added"])
<script>
    var tim1 = 30;
    var idX1 = setInterval(myFay1, 1000);
    
    function myFay1()
    {
      if ($('#thoigian1').length)
      {
       var va = document.getElementById("thoigian1");
       va.innerHTML = tim1;
       tim1--;
       if (va.innerText == 0)
       {
           clearInterval(idX1);
           window.location.href="/Home/XoaAllFile_X1";
       }
      }
    }
    
    var tim2 = 30;
    var idX2 = setInterval(myFay2, 1000);
    
    function myFay2()
    {
      if ($('#thoigian2').length)
      {
       var va = document.getElementById("thoigian2");
       va.innerHTML = tim2;
       tim2--;
       if (va.innerText == 0)
       {
           clearInterval(idX2);
           window.location.href="/Home/XoaAllFile_X2";
       }
      }
    }
    
    var tim3 = 30;
    var idX3 = setInterval(myFay3, 1000);
    
    function myFay3()
    {
        if ($('#thoigian3').length)
      {
       var va = document.getElementById("thoigian3");
       va.innerHTML = tim3;
       tim3--;
       if (va.innerText == 0)
       {
           clearInterval(idX3);
           window.location.href="/Home/XoaKaraoke";
       }
      }
    }
</script>
}
<script>
    setInterval(resetchange, 1);
    
    var ready = false;
    var readyX = false;
    
    var sansang = false;
    
    
    window.onload = function()
     {
         if (sansang == true) return;
    
         readyX = true;
     }
    
    setInterval(function()
    {
        if (sansang == true) return;
    
        if (ready == true && readyX == true) 
        {
            sansang = true;
            document.getElementById("waiting-loading").style.display = "block";
            document.getElementById("loading-TN").style.display = "none";
             if ('@TempData["ketquaXYZ"]' != "true")
             {
                 nensangtoi("null");
                 nensangtoi("null");
                 nensangtoi("null");
                 nensangtoi("null");
                 nensangtoi("null");
                 nensangtoi("null");
                 if (localStorage.getItem("nensangtoi") == null && (('@TempData["mau_background"]' == "white" && sang == 0) || ('@TempData["mau_background"]' == "black" && sang == 1)))
                 {
                     nensangtoi("null");
                 }
                 
                if ('@ViewBag.ND_File' == null || '@ViewBag.ND_File' == "")
                {
                    alert("Bài trắc nghiệm của bạn đã được tải hoàn tất.\nNhấn [OK] nếu bạn đã sẵn sàng!");
                }
             }
            return;
        }
    
        if (document.readyState == "complete")
        {       
            ready = true;
        }
    },1000);
    
    function resetchange()
    {
        if (('@ViewBag.KetQuaDung' == null || '@ViewBag.KetQuaDung' == "") && ('@ViewBag.KetQua' == null || '@ViewBag.KetQua' == "") )
        {
         for (var i =0 ; i< new Number('@ViewBag.GioiHanCau'); i++)
         {
             var A = document.getElementById("dapanA-"+i);
             var B = document.getElementById("dapanB-"+i);
            var C = document.getElementById("dapanC-"+i);
            var D = document.getElementById("dapanD-"+i);
    
             var s = document.getElementById("ans-"+i).options.selectedIndex;
    
              var mau = "white";
    if (sang == 1)
    mau = "black";
    
     if('@TempData["demo-mau"]' == "true")
    {
        mau = '@TempData["demo-text"]';
    }
    
        if ('@TempData["ViewSiteBasic"]' == "true")
    {
        mau = "black";
    }
    
    var tomau = '@TempData["mau-TN"]';
    
    if (s == 1)
    {
        A.style.color = tomau;
        B.style.color = mau;
        C.style.color = mau;
        D.style.color = mau;
    }
    else if (s == 2)
    {
        A.style.color = mau;
        B.style.color = tomau;
        C.style.color = mau;
        D.style.color = mau;
    }
    else if (s == 3)
    {
        A.style.color = mau;
        B.style.color = mau;
        C.style.color = tomau;
        D.style.color = mau;
    }
    else if (s == 4)
    {
        A.style.color = mau;
        B.style.color = mau;
        C.style.color = mau;
        D.style.color = tomau;
    }
         }
       }
    }
    
    var idSA;
    var so = 0;
    function xongroi()
    {
    document.getElementById("xong").style.display = "none";
    document.getElementById("loading").style.display = "inline-block";
    idSA = setInterval(myAlertX, 1000);

     //thatbai_time = 0;
     //   setInterval(function()
     //   {
     //       if (thatbai_time == 5)
     //       {
     //           if (thatbai == true)
     //           {
     //                 document.getElementById("xong").style.display = "inline-block";
     //                document.getElementById("loading").style.display = "none";
     //           }
     //           return;
     //       }
     //       thatbai_time++;
     //   },10);
    }
    
    function hayqua()
    {
    if (document.getElementById("Xonline").value != "")
    {
    alert("Bài trắc nghiệm của bạn đã được hoàn thành.\nVui lòng chờ giáo viên công bố kết quả !");
    }
    }
    
    var xw = new Number('@TempData["Time_Waiting"]') * 3;
    
    function myAlertX()
    {
    if (so == xw)
    {
        document.getElementById("OKX").click();
         clearInterval(id);
        return;
    }
    so++;
    }
    
    function xemanh(i)
    {
    if (document.getElementById('chonanh-'+i).value == "")
    return;
    
    window.open(document.getElementById('chonanh-'+i).value,'MyWindow','width=500,height=500');
    }
    
    //---------------------------------------------------------
    function themhinhanh(i)
    {
    
    var kt1 = "";
    var kt2 = "";
    var ha = "";
    if (document.getElementById("kt-"+i).selectedIndex == 0)
    {
        kt1 = "100";
        kt2 = "100";
        ha = "0";
    }
    else if (document.getElementById("kt-"+i).selectedIndex == 1)
    {
         kt1 = "300";
        kt2 = "300";
        ha = "1";
    }
     else if (document.getElementById("kt-"+i).selectedIndex == 2)
    {
         kt1 = "500";
        kt2 = "500";
        ha = "2";
    }
    else if (document.getElementById("kt-"+i).selectedIndex == 3)
    {
         kt1 = "1000";
        kt2 = "500";
        ha = "3";
    }
     else
    {
         kt1 = "300";
        kt2 = "500";
        ha = "4";
    }
    
    if (document.getElementById("hinhanh-"+i).value == "")
    {
     document.getElementById("chonanh-"+i).selectedIndex = 0;
    document.getElementById("kt-"+i).selectedIndex = 0;
    return;
    }
    
    if (document.getElementById("anhX-"+i).value.includes(document.getElementById("hinhanh-"+i).value) == true)
    {
        document.getElementById("hinhanh-"+i).value = "";
      
        var listAnh = document.getElementById("anhX-"+i).value.split("\n");
        for (var j = 0; j < listAnh.length; j++)
        {
            var liAnh = listAnh[j].split("\t");
            if (liAnh[0] == document.getElementById("chonanh-"+i).value)
            {
                if (liAnh[1] == "0")
                document.getElementById("causo-"+i).innerHTML = document.getElementById("causo-"+i).innerHTML.replaceAll("<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\"100\" height=\"100\" id="custom804"><br>","<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\""+kt1+"\" height=\""+kt2+"\" id="custom805"><br>");
               else if (liAnh[1] == "1")
                document.getElementById("causo-"+i).innerHTML = document.getElementById("causo-"+i).innerHTML.replaceAll("<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\"300\" height=\"300\" id="custom806"><br>","<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\""+kt1+"\" height=\""+kt2+"\" id="custom805"><br>");
                 else if (liAnh[1] == "2")
                document.getElementById("causo-"+i).innerHTML = document.getElementById("causo-"+i).innerHTML.replaceAll("<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\"500\" height=\"500\" id="custom808"><br>","<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\""+kt1+"\" height=\""+kt2+"\" id="custom805"><br>");
                 else if (liAnh[1] == "3")
                document.getElementById("causo-"+i).innerHTML = document.getElementById("causo-"+i).innerHTML.replaceAll("<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\"1000\" height=\"500\" id="custom810"><br>","<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\""+kt1+"\" height=\""+kt2+"\" id="custom805"><br>");
                  else
                document.getElementById("causo-"+i).innerHTML = document.getElementById("causo-"+i).innerHTML.replaceAll("<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\"300\" height=\"500\" id="custom812"><br>","<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\""+kt1+"\" height=\""+kt2+"\" id="custom805"><br>");
            }
        }
    
          document.getElementById("anhX-"+i).value = document.getElementById("anhX-"+i).value.replaceAll(document.getElementById("chonanh-"+i).value+"\t0\n",document.getElementById("chonanh-"+i).value+"\t"+ha+"\n").replaceAll(document.getElementById("chonanh-"+i).value+"\t1\n",document.getElementById("chonanh-"+i).value+"\t"+ha+"\n").replaceAll(document.getElementById("chonanh-"+i).value+"\t2\n",document.getElementById("chonanh-"+i).value+"\t"+ha+"\n").replaceAll(document.getElementById("chonanh-"+i).value+"\t3\n",document.getElementById("chonanh-"+i).value+"\t"+ha+"\n");
    
        document.getElementById("chonanh-"+i).selectedIndex = 0;
    document.getElementById("kt-"+i).selectedIndex = 0;
        return;
    }
    
     document.getElementById("causo-"+i).innerHTML += "<br><img title=\"hinhcau"+i+"\" src=\""+document.getElementById("hinhanh-"+i).value+"\" alt=\"Image Error\" width=\""+kt1+"\" height=\""+kt2+"\" id="custom814"><br>";
    
    var chon = document.getElementById("chonanh-"+i);
    chon.innerHTML += "<option id="custom815">"+ document.getElementById("hinhanh-"+i).value+"</option>";
    chon.options.selectedIndex = 0;
    
    document.getElementById("anhX-"+i).value += document.getElementById("hinhanh-"+i).value + "\t" + document.getElementById("kt-"+i).selectedIndex +"\n";
    document.getElementById("hinhanh-"+i).value = "";
    
    var x = new Number(document.getElementById("soluong-"+i).innerHTML);
    document.getElementById("soluong-"+i).innerHTML = (x+1)+"";
    
    document.getElementById("chonanh-"+i).selectedIndex = 0;
    document.getElementById("kt-"+i).selectedIndex = 0;
    }
    
    function doianh(i)
    {
    document.getElementById("hinhanh-"+i).value = document.getElementById("chonanh-"+i).value;
    }
    
    function xoahinhanh(i)
    {
    if (document.getElementById("chonanh-"+i).options.selectedIndex == 0)
    {
          document.getElementById("chonanh-"+i).selectedIndex = 0;
    document.getElementById("kt-"+i).selectedIndex = 0;
     document.getElementById("hinhanh-"+i).value = "";
    return;
    }
    
    document.getElementById("causo-"+i).innerHTML = document.getElementById("causo-"+i).innerHTML.replaceAll("<br><img title=\"hinhcau"+i+"\" src=\""+document.getElementById("chonanh-"+i).value+"\" alt=\"Image Error\" width=\"100\" height=\"100\" id="custom816"><br>","").replaceAll("<br><img title=\"hinhcau"+i+"\" src=\""+document.getElementById("chonanh-"+i).value+"\" alt=\"Image Error\" width=\"300\" height=\"300\" id="custom817"><br>","").replaceAll("<br><img title=\"hinhcau"+i+"\" src=\""+document.getElementById("chonanh-"+i).value+"\" alt=\"Image Error\" width=\"500\" height=\"500\" id="custom818"><br>","").replaceAll("<br><img title=\"hinhcau"+i+"\" src=\""+document.getElementById("chonanh-"+i).value+"\" alt=\"Image Error\" width=\"1000\" height=\"500\" id="custom819"><br>","").replaceAll("<br><img title=\"hinhcau"+i+"\" src=\""+document.getElementById("chonanh-"+i).value+"\" alt=\"Image Error\" width=\"300\" height=\"500\" id="custom820"><br>","");
    document.getElementById("anhX-"+i).value = document.getElementById("anhX-"+i).value.replaceAll(document.getElementById("chonanh-"+i).value+"\t0\n","").replaceAll(document.getElementById("chonanh-"+i).value+"\t1\n","").replaceAll(document.getElementById("chonanh-"+i).value+"\t2\n","").replaceAll(document.getElementById("chonanh-"+i).value+"\t3\n","").replaceAll(document.getElementById("chonanh-"+i).value+"\t4\n","");
    
    var chon = document.getElementById("chonanh-"+i);
    chon.remove(chon.selectedIndex);
    
    var x = new Number(document.getElementById("soluong-"+i).innerHTML);
    document.getElementById("soluong-"+i).innerHTML = (x-1)+"";
    chon.options.selectedIndex = 0;
    document.getElementById("chonanh-"+i).selectedIndex = 0;
    document.getElementById("kt-"+i).selectedIndex = 0;
     document.getElementById("hinhanh-"+i).value = "";
    }
    
    var sang = 0;
    
    function chondapan(i,s)
    {
    document.getElementById("ans-"+i).options.selectedIndex = s;
    
    var A = document.getElementById("dapanA-"+i);
    var B = document.getElementById("dapanB-"+i);
    var C = document.getElementById("dapanC-"+i);
    var D = document.getElementById("dapanD-"+i);
    
    var mau = "white";
    if (sang == 1)
    mau = "black";
    
        if('@TempData["demo-mau"]' == "true")
    {
        mau = '@TempData["demo-text"]';
    }
    
        if ('@TempData["ViewSiteBasic"]' == "true")
    {
        mau = "black";
    }
    
    var tomau = '@TempData["mau-TN"]';
    
    if (s == 1)
    {
        A.style.color = tomau;
        B.style.color = mau;
        C.style.color = mau;
        D.style.color = mau;
    }
    else if (s == 2)
    {
        A.style.color = mau;
        B.style.color = tomau;
        C.style.color = mau;
        D.style.color = mau;
    }
    else if (s == 3)
    {
        A.style.color = mau;
        B.style.color = mau;
        C.style.color = tomau;
        D.style.color = mau;
    }
    else if (s == 4)
    {
        A.style.color = mau;
        B.style.color = mau;
        C.style.color = mau;
        D.style.color = tomau;
    }
    }
    
    var xem = 0;
    
    function loading()
    {
    if (xem == 1)
    {
        alert("Không thể tiếp tục loading dữ liệu của bạn vì bạn đã click nút này trước đó. Vui lòng nhấn nút refresh toàn bộ dữ liệu bên dưới và thử lại...");
        return;
    }
    
     var listAnhCu = document.getElementById("listAnhCu").value.split("\n\n");
     var listHoanVi = document.getElementById("hoanvis").value.split("\n");
     var an = document.getElementById("answerX").value.split("\n");
    for (var i =0 ; i< new Number('@ViewBag.TongCau'); i++)
    {
    if (listHoanVi[i] == "YES")
    {
        document.getElementById("hoanvix-"+i).checked = true;
    }
    else
    {
        document.getElementById("hoanvix-"+i).checked = false;
    }
    //---------------------------------------------------
    
     var chon = document.getElementById("chonanh-"+i);

        for (var j =0 ; j < listAnhCu.length; j++)
        {
            var listAnhCux = listAnhCu[j].split("\n");
            for(var jj = 0 ; jj < listAnhCux.length; jj++)
            {
                if (listAnhCux[jj] == "" || listAnhCux[jj].includes("hinhcau"+i) == false) continue;
                var ha = "?";
                if (listAnhCux[jj].includes("width=\"100\" height=\"100\"") == true)
                ha = "0";
                else if (listAnhCux[jj].includes("width=\"300\" height=\"300\"") == true)
                ha = "1";
                else if (listAnhCux[jj].includes("width=\"500\" height=\"500\"") == true)
                ha = "2";
                else if (listAnhCux[jj].includes("width=\"1000\" height=\"500\"") == true)
                ha = "3";
                else
                ha = "4";
    
                listAnhCux[jj] = listAnhCux[jj].replaceAll("<img title=\"hinhcau"+i+"\" src=\"","")
                .replaceAll("\" alt=\"Image Error\" width=\"100\" height=\"100\" />","")
                .replaceAll("\" alt=\"Image Error\" width=\"300\" height=\"300\" />","")
                .replaceAll("\" alt=\"Image Error\" width=\"500\" height=\"500\" />","")
                .replaceAll("\" alt=\"Image Error\" width=\"1000\" height=\"500\" />","")
                .replaceAll("\" alt=\"Image Error\" width=\"300\" height=\"500\" />","")
    
                if (document.getElementById("anhX-"+i).value.includes(listAnhCux[jj]) == false)
                {
                document.getElementById("anhX-"+i).value += listAnhCux[jj]+"\t"+ha+"\n";
                chon.innerHTML += "<option id="custom815">"+ listAnhCux[jj] +"</option>";
                document.getElementById("soluong-"+i).innerHTML = new Number(document.getElementById("soluong-"+i).innerHTML) + 1;
                }
            }
        }
    
    var listAnh = document.getElementById("anhX-"+i).value.split("\n");
        for (var j = 0; j < listAnh.length; j++)
        {
            var liAnh = listAnh[j].split("\t");
            if (liAnh[0] != "" && document.getElementById("causo-"+i).innerHTML.includes(liAnh[0]) == false)
            {
                if (liAnh[1] == "0")
                document.getElementById("causo-"+i).innerHTML += "<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\"100\" height=\"100\" id="custom804"><br>";
               else if (liAnh[1] == "1")
                document.getElementById("causo-"+i).innerHTML += "<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\"300\" height=\"300\" id="custom806"><br>";
                 else if (liAnh[1] == "2")
                document.getElementById("causo-"+i).innerHTML += "<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\"500\" height=\"500\" id="custom808"><br>";
                 else if (liAnh[1] == "3")
                document.getElementById("causo-"+i).innerHTML += "<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\"1000\" height=\"500\" id="custom810"><br>";
                  else
                document.getElementById("causo-"+i).innerHTML += "<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\"300\" height=\"500\" id="custom812"><br>";
            }
        }
    
    //-----------------------------------------------
    var A = document.getElementById("dapanA-"+i);
    var B = document.getElementById("dapanB-"+i);
    var C = document.getElementById("dapanC-"+i);
    var D = document.getElementById("dapanD-"+i);
    
    var answer = new Number(an[i]);
    document.getElementsByClassName("dapanX")[i].options.selectedIndex = answer;
    
     var mau = "white";
    if (sang == 1)
    mau = "black";
    
        if('@TempData["demo-mau"]' == "true")
    {
        mau = '@TempData["demo-text"]';
    }
    
     if ('@TempData["ViewSiteBasic"]' == "true")
    {
        mau = "black";
    }
    
    var tomau = '@TempData["mau-TN"]';
    
    if (answer == 1)
    {
         A.style.color = tomau;
        B.style.color = mau;
        C.style.color = mau;
        D.style.color = mau;
    }
    else if (answer == 2)
    {
        A.style.color = mau;
        B.style.color = tomau;
        C.style.color = mau;
        D.style.color = mau;
    }
    else if (answer == 3)
    {
        A.style.color = mau;
        B.style.color = mau;
        C.style.color = tomau;
        D.style.color = mau;
    }
    else if (answer == 4)
    {
        A.style.color = mau;
        B.style.color = mau;
        C.style.color = mau;
        D.style.color = tomau;
    }
    
    }
    alert("Thành công, mời bạn kiểm tra lại!");
    xem = 1;
    }
    
    function refresh()
    {
    var check = confirm('Bạn có chắc chắn muốn refresh toàn bộ dữ liệu. Mọi chỉnh sửa của bạn sẽ bị khôi phục không thể lấy lại?');
    
      var mau = "white";
    if (sang == 1)
    mau = "black";
    
     if('@TempData["demo-mau"]' == "true")
    {
        mau = '@TempData["demo-text"]';
    }
    
        if ('@TempData["ViewSiteBasic"]' == "true")
    {
        mau = "black";
    }
    
    if (check == true)
    {
    for (var i =0 ; i< new Number('@ViewBag.TongCau'); i++)
    {
    document.getElementById("hoanvix-"+i).checked = false;
    
     var listAnh = document.getElementById("anhX-"+i).value.split("\n");
        for (var j = 0; j < listAnh.length; j++)
        {
            var liAnh = listAnh[j].split("\t");
           document.getElementById("causo-"+i).innerHTML = document.getElementById("causo-"+i).innerHTML.replaceAll("<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\"100\" height=\"100\" id="custom804"><br>","").replaceAll("<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\"300\" height=\"300\" id="custom806"><br>","").replaceAll("<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\"500\" height=\"500\" id="custom808"><br>","").replaceAll("<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\"1000\" height=\"500\" id="custom810"><br>","").replaceAll("<br><img title=\"hinhcau"+i+"\" src=\""+liAnh[0]+"\" alt=\"Image Error\" width=\"300\" height=\"500\" id="custom812"><br>","");
    }
    document.getElementById("anhX-"+i).value = "";
    
    var chon = document.getElementById("chonanh-"+i);
     chon.innerHTML = "<option id="custom815"></option>";
    
    document.getElementById("soluong-"+i).innerHTML = "0";
    
    document.getElementsByClassName("dapanX")[i].options.selectedIndex = 0;
    var A = document.getElementById("dapanA-"+i);
    var B = document.getElementById("dapanB-"+i);
    var C = document.getElementById("dapanC-"+i);
    var D = document.getElementById("dapanD-"+i);
    
      A.style.color = mau;
        B.style.color = mau;
        C.style.color = mau;
        D.style.color = mau;
    }
    
    alert("Thành công, mời bạn kiểm tra lại!");
    xem  = 0;
    }
    }
    
    
    var timeX = '@ViewBag.TimeLamBai' * 60;
    
    var id = setInterval(myAlert, 1000);
    
    function myAlert() {
    
        if (sansang == false) return;
    
    if ('@ViewBag.TimeLamBai' != "")
    {
    var t = document.getElementById("Time");
    
    var h = Math.floor(timeX / 3600);
    var m = Math.floor((timeX / 60) % 60) ;
    var s = timeX % 60;
    
    if (h< 10 && m < 10 && s < 10)
            t.innerHTML = "0" + h + " : 0" + m + " : 0" + s;
        if (h < 10 && m < 10 && s  id="custom833">= 10)
            t.innerHTML = "0" + h + " : 0" + m + " : " + s;
        if (h < 10 && m  id="custom834">= 10 && s < 10)
            t.innerHTML = "0" + h + " : " + m + " : 0" + s;
        if (h < 10 && m  id="custom834">= 10 && s >= 10)
            t.innerHTML = "0" + h + " : " + m + " : " + s;
        if (h >= 10 && m < 10 && s < 10)
            t.innerHTML = "" + h + " : 0" + m + " : 0" + s;
        if (h  id="custom836">= 10 && m < 10 && s  id="custom837">= 10)
            t.innerHTML = "" + h + " : 0" + m + " : " + s;
        if (h >= 10 && m >= 10 && s < 10)
            t.innerHTML = "" + h + " : " + m + " : 0" + s;
        if (h  id="custom838">=10 && m >= 10 && s >= 10)
            t.innerHTML = "" + h + " : " + m + " : " + s;
    
        timeX--;
    
        if (timeX == -1)
        {
            alert('Đã hết thời gian làm bài...\nBấm OK - Bài kiểm tra của bạn sẽ được nộp đánh giá sau đó!');
            clearInterval(id);
    
            var ok = document.getElementById("OKX");
            ok.click();
        }
     }
    }
    
</script>
<div id="loading-TN">
    <img src="/Image_Play/waiting.gif" />
</div>
<div id="waiting-loading" style="display:none">
    @if (ViewBag.ND_File != null)
    {
    <button onclick="loading()" id="custom839"><b style="color:dodgerblue" id="custom840">Click vào đây để cập nhật các answer/hình ảnh questions hiện có từ file của bạn</b></button><br><span style="color:saddlebrown">Khuyến nghị : Vui lòng ban đầu hãy click nút này để tải toàn bộ dữ liệu và đồng thời tránh lỗi/mất dữ liệu khi hoàn tất. Cảm ơn!</span><br /><br />
    <button onclick="refresh()" id="custom841"><b style="color:darkred" id="custom842">Click to refresh all answer/hình ảnh questions setting</b></button>
    <textarea hidden id="answerX">@ViewBag.SettingAnswer</textarea>
    <textarea readonly id="listAnhCu" cols="100" rows="12" hidden>@ViewBag.HinhAnh.TrimStart("\n".ToCharArray()).TrimEnd("\n".ToCharArray())</textarea>
    var ND_File = ViewBag.ND_File;
    ViewBag.ND_File = ND_File;
    }
    <table align="center" id="custom843">
        <h2 style="text-align:center;color:lightsalmon" id="custom844">Play Test Trắc Nghiệm</h2>
        <h3 style="color:aqua" id="custom845">@ViewBag.KetQuaDung</h3>
        <h3 style="color:aqua" id="custom845">@ViewBag.KetQuaSai</h3>
        <h3 style="color:aqua" id="custom845">@ViewBag.KetQuaChuaLam</h3>
        <h2 style="color:lightgreen" id="custom848">@ViewBag.KetQuaDiem</h2>
        <br />
        @if (TempData["Socola"] != null && TempData["Socola"].ToString() == "hay")
        {
        <h3 style="color:royalblue" id="custom849">@Html.Raw(ViewBag.KetQua)</h3>
        }
        else
        {
        @using (Html.BeginForm("PlayTracNghiem", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
        @Html.ValidationSummary(true)
        <br />
        <br />
        <b id="custom850">Tên môn học/kỳ kiểm tra : @Model.tenmon</b>
        <br />
        @if (TempData["TracNghiem_Online"] == null && TempData["online_null"] == null)
        {
        <b id="custom850">Tổng số câu cần làm : @Model.gioihancau/@Model.tongsocau</b>
        }
        else
        {
        <b id="custom850">Tổng số câu cần làm : @Model.gioihancau</b>
        }
        <br />
        <b id="custom850">
            Thời gian làm bài : @Model.timelambai phút
            @if (ViewBag.TimeLamBai != null)
            {
            <div class="divOnTop" id="custom854">
                <span style="color:blue;text-align:center" id="custom855">
                    <h2 id="Time">00 : 00 : 00</h2>
                </span>
            </div>
            }
        </b>
        <br />
        <br />
        <hr />
        @for (int i = 0; i < @Model.gioihancau; i++)
        {
        if (TempData["online_null"] == null)
        {
        <tr style="height:40px; background-color: @TempData["mau-trac-nghiem-"+i]" id="custom856">
        <td id="custom857"></td>
        <td id="custom857">
            @if (TempData["ViewSiteBasic"] == "false")
            {
            <h3 id="custom859"><b name="mau-TN-1" id="custom860">Câu số @(i + 1)</b>. <span name="mau-TN-2" id="causo-@i"> <b id="custom850">@Html.Raw(Model.ch[@i])</b></span></h3>
            }
            else
            {
            <h3 style="color:blue" id="custom862"><b name="mau-TN-1" id="custom860">Câu số @(i + 1)</b>. <span name="mau-TN-2" id="causo-@i"> <b id="custom850">@Html.Raw(Model.ch[@i])</b></span></h3>
            }
            <br />
        </td>
        </tr>
        @if (ViewBag.ND_File != null)
        {
        <tr style="height:40px; background-color:@TempData["mau-trac-nghiem-"+i]" id="custom865">
        <td id="custom857"></td>
        <td id="custom857">
            <h4 id="custom868">
                <input type="text" size="50" placeholder="Nhập link hình ảnh online cần thêm" id="hinhanh-@i" /> 
                <textarea cols="50" rows="20" name="anh-@i" id="anhX-@i" style="display:none"></textarea>
                <select name="kichthuoc-@i" id="kt-@i">
                    <option id="custom815">100x100</option>
                    <option id="custom815">300x300</option>
                    <option id="custom815">500x500</option>
                    <option id="custom815">500x1000</option>
                    <option id="custom815">500x300</option>
                </select>
                <a onclick="themhinhanh(@i)" href="#xuly">THÊM/SỬA</a> <span id="soluong-@i" style="color:deeppink">0</span>
            </h4>
            <h4 id="custom868">
                <b id="custom850">
                    <select id="chonanh-@i" onchange="doianh(@i)">
                        <option id="custom815"></option>
                    </select>
                    <br>
                </b>
                <a onclick="xoahinhanh(@i)" href="#xuly">XOÁ</a> || <a href="#xuly" onClick="xemanh(@i)">XEM HÌNH ẢNH</a>
            </h4>
            <input type="checkbox" id="hoanvix-@i" name="txtHoanVix-@i" /><span style="color:orangered" id="custom877">&nbsp;Không hoán vị đáp án</span>
            <br /><br />
        </td>
        </tr>
        }
        <tr style="height:40px; background-color:@TempData["mau-trac-nghiem-"+i]" id="custom865">
        <td id="custom857"></td>
        @if(ViewData["KetQua-"+@i] ==  null)
        {
        <td id="custom857">
            @if (TempData["ViewSiteBasic"] == "false")
            {
            <h4 id="custom868"><b id="custom850"> <a href="#@(i+1)" onclick="chondapan(@i,1)"><span id="dapanA-@i" name="colorX" style="color:@TempData["mau_text"]">A. <span id="DAA-@i">@Html.Raw(Model.a[@i])</span></span></a></b></h4>
            }
            else
            {
            <h4 style="color:black" id="custom883"><b id="custom850"> <a href="#@(i+1)" onclick="chondapan(@i,1)"><span id="dapanA-@i">A. <span id="DAA-@i">@Html.Raw(Model.a[@i])</span></span></a></b></h4>
            }
            <br>
        </td>
        }
        else
        {
        <td id="custom857">
            @if (TempData["ViewSiteBasic"] == "false")
            {
            <h4 id="custom868"><b id="custom850">A. @Html.Raw(Model.a[@i])</b></h4>
            }
            else
            {
            <h4 style="color:black" id="custom883"><b id="custom850">A. @Html.Raw(Model.a[@i])</b></h4>
            }
            <br> 
        </td>
        }
        </tr>
        <tr style="height:40px; background-color:@TempData["mau-trac-nghiem-"+i]" id="custom865">
        <td id="custom857"></td>
        @if(ViewData["KetQua-"+@i] ==  null)
        {
        <td id="custom857">
            @if (TempData["ViewSiteBasic"] == "false")
            {
            <h4 id="custom868"><b id="custom850"> <a href="#@(i+1)" onclick="chondapan(@i,2)"><span id="dapanB-@i" name="colorX" style="color:@TempData["mau_text"]">B. <span id="DAB-@i">@Html.Raw(Model.b[@i])</span></span></a></b></h4>
            }
            else
            {
            <h4 style="color:black" id="custom883"><b id="custom850"> <a href="#@(i+1)" onclick="chondapan(@i,2)"><span id="dapanB-@i">B. <span id="DAB-@i">@Html.Raw(Model.b[@i])</span></span></a></b></h4>
            }
            <br />
        </td>
        }
        else
        {
        <td id="custom857">
            @if (TempData["ViewSiteBasic"] == "false")
            {
            <h4 id="custom868"><b id="custom850">B. @Html.Raw(Model.b[@i])</b></h4>
            }
            else
            {
            <h4 style="color:black" id="custom883"><b id="custom850">B. @Html.Raw(Model.b[@i])</b></h4>
            }
            <br />
        </td>
        }
        </tr>
        <tr style="height:40px; background-color:@TempData["mau-trac-nghiem-"+i]" id="custom865">
        <td id="custom857"></td>
        @if(ViewData["KetQua-"+@i] ==  null)
        {
        <td id="custom857">
            @if (TempData["ViewSiteBasic"] == "false")
            {
            <h4 id="custom868"><b id="custom850"> <a href="#@(i+1)" onclick="chondapan(@i,3)"><span id="dapanC-@i" name="colorX" style="color:@TempData["mau_text"]">C. <span id="DAC-@i">@Html.Raw(Model.c[@i])</span></span></a></b></h4>
            }
            else
            {
            <h4 style="color:black" id="custom883"><b id="custom850"> <a href="#@(i+1)" onclick="chondapan(@i,3)"><span id="dapanC-@i">C. <span id="DAC-@i">@Html.Raw(Model.c[@i])</span></span></a></b></h4>
            }
            <br> 
        </td>
        }
        else
        {
        <td id="custom857">
            @if (TempData["ViewSiteBasic"] == "false")
            {
            <h4 id="custom868"><b id="custom850">C. @Html.Raw(Model.c[@i])</b></h4>
            }
            else
            {
            <h4 style="color:black" id="custom883"><b id="custom850">C. @Html.Raw(Model.c[@i])</b></h4>
            }
            <br> 
        </td>
        }
        </tr>
        <tr style="height:40px; background-color:@TempData["mau-trac-nghiem-"+i]" id="custom865">
        <td id="custom857"></td>
        @if(ViewData["KetQua-"+@i] ==  null)
        {
        <td id="custom857">
            @if (TempData["ViewSiteBasic"] == "false")
            {
            <h4 id="custom868"><b id="custom850"> <a href="#@(i+1)" onclick="chondapan(@i,4)"><span id="dapanD-@i" name="colorX" style="color:@TempData["mau_text"]">D. <span id="DAD-@i">@Html.Raw(Model.d[@i])</span></span></a></b></h4>
            }
            else
            {
            <h4 style="color:black" id="custom883"><b id="custom850"> <a href="#@(i+1)" onclick="chondapan(@i,4)"><span id="dapanD-@i">D. <span id="DAD-@i">@Html.Raw(Model.d[@i])</span></span></a></b></h4>
            }
            <br> 
        </td>
        }
        else
        {
        <td id="custom857">
            @if (TempData["ViewSiteBasic"] == "false")
            {
            <h4 id="custom868"><b id="custom850">D. @Html.Raw(Model.d[@i])</b></h4>
            }
            else
            {
            <h4 style="color:black" id="custom883"><b id="custom850">D. @Html.Raw(Model.d[@i])</b></h4>
            }
            <br />
        </td>
        }
        </tr>
        @if(ViewData["KetQua-"+@i] ==  null)
        {
        <tr style="height:40px" id="custom926">
            <td id="custom857"></td>
            <td id="custom857">
                <h3 id="custom859">
                    <select name="dapan-@i" class="dapanX" id="ans-@i" style="display:none">
                        <b id="custom850">
                            <option id="custom815"></option>
                            <option id="custom815">A</option>
                            <option id="custom815">B</option>
                            <option id="custom815">C</option>
                            <option id="custom815">D</option>
                        </b>
                    </select>
                </h3>
                <br>
            </td>
        </tr>
        }
        else
        {
        <tr style="height:40px" id="custom926">
            <td id="custom857"></td>
            <td id="custom857">
                @Html.Raw(ViewData["ketqua-"+@i])
                <h4 id="custom868">@Html.Raw(ViewData["dapandachon-"+@i])</h4>
                <h4 id="custom868">@Html.Raw(ViewData["dapandung-"+@i])</h4>
                <br>
            </td>
        </tr>
        }
        }
        else
        {
        <table border="0" id="custom941">
            <tr id="custom942">
                <th id="custom943">Câu @(i+1).  </th>
                @if (ViewData["ketqua-"+@i].ToString().Contains("ĐÚNG RỒI"))
                {
                <th id="custom943"><b style="color:green" id="custom945">Đúng</b></th>
                }
                else if (ViewData["ketqua-"+@i].ToString().Contains("SAI RỒI"))
                {
                <th id="custom943"><b style="color:red" id="custom947">Sai</b></th>
                }
                else
                {
                <th id="custom943"><b style="color:orangered" id="custom949">Chưa trả lời</b></th>
                }
            </tr>
        </table>
        }
        }
        @if (ViewBag.KetQuaDung == "")
        {
        <tr style="height:40px" id="custom926">
            <td id="custom857"></td>
            <td id="custom857">
                @if(ViewBag.ND_File == null)
                {
                <input style="font-weight:bolder" onclick="hayqua()" id="OKX" type="Submit" value="Đánh Giá Bài Làm" />
                }
                else
                {
                <input style="font-weight:bolder" id="OKX" type="Submit" value="OK" hidden />
                <br>
                <img id="loading" src="/Image_Play/waiting.gif" style="display:none" />
                }
                <br>
                <p style="color:deeppink" id="custom953">Lưu ý : kiểm tra thật kỹ toàn bộ bài làm trước khi xem kết quả!</p>
            </td>
        </tr>
        }
        else
        {
        if (TempData["online_null"] == null)
        {
        <h3 id="custom859">@Html.ActionLink("Thực hiện bài test trắc nghiệm mới", "TracNghiemX_Multiple")</h3>
        <br />
        }
        }
        <input name="txtUserIP" type="text" value="@TempData["userIP"]" readonly hidden />
        <input type="text" readonly name="TongSoCau" value="@ViewBag.TongSoCau" hidden />
        <input type="text" readonly name="GioiHanCau" value="@ViewBag.GioiHanCau" hidden />
        <input type="text" readonly name="TimeLamBai" value="@ViewBag.TimeLamBaiX" hidden />
        <input type="text" readonly name="TenMon" value="@ViewBag.TenMon" hidden id="custom955">
        <input type="text" hidden readonly name="OnlineX" id="Xonline" value="@TempData["TracNghiem_Online"]" />
        <textarea name="File_ND" hidden id="custom956">@ViewBag.ND_File</textarea>
        <textarea readonly name="CauHoi" hidden id="custom957">@ViewBag.CauHoi</textarea>
        <textarea readonly name="A" hidden id="custom958">@ViewBag.A</textarea>
        <textarea readonly name="B" hidden id="custom959">@ViewBag.B</textarea>
        <textarea readonly name="C" hidden id="custom960">@ViewBag.C</textarea>
        <textarea readonly name="D" hidden id="custom961">@ViewBag.D</textarea>
        <textarea readonly name="Dung" hidden id="custom962">@ViewBag.Dung</textarea>
        <textarea readonly id="hoanvis" hidden>@ViewBag.HoanVis</textarea>
        }
        @if(ViewBag.ND_File != null)
        {
        <tr style="height:40px" id="xong">
            <td id="custom857"></td>
            <td id="custom857">
                <button id="custom965"><b onclick="xongroi()" id="custom966">CẬP NHẬT</b></button>
            </td>
        </tr>
        }
        }
    </table>
</div>