@if (ViewBag.Show != null && ViewBag.Show == "show")
{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyWebPlay</title>

 <style>

 .video-overlay{
 position:absolute;
z-index: 2;
    position: relative;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/*---------------------------------------------*/

/* Safari syntax */
:-webkit-full-screen {
  background-color: white;
}

/* IE11 */
:-ms-fullscreen {
  background-color: white;
}

/* Standard syntax */
:fullscreen {
  background-color: white;
}

</style>
</head>

<body>
<meta charset="ISO-8859-1">
<script>

     var elem = document.documentElement;

        function loadsolar()
        {
            var xanh = document.getElementById("xanh");
            if ('@ViewBag.Show' == "show")
            {
                if (xanh.innerHTML == "<b>FULL MÀN HÌNH - OFF</b>")
                {
                    if (elem.requestFullscreen)
                    elem.requestFullscreen();
                     else if (elem.webkitRequestFullscreen) /* Safari */
                    elem.webkitRequestFullscreen();
                   else if (elem.msRequestFullscreen) /* IE11 */
                    elem.msRequestFullscreen();

                    xanh.innerHTML = "<b>FULL MÀN HÌNH - ON</b>";
                }
                else 
                {

                    if (document.exitFullscreen) {
    document.exitFullscreen();
  } else if (document.webkitExitFullscreen) { /* Safari */
    document.webkitExitFullscreen();
  } else if (document.msExitFullscreen) { /* IE11 */
    document.msExitFullscreen();
  }

                    xanh.innerHTML = "<b>FULL MÀN HÌNH - OFF</b>";
                }
            }
        }

    if ('@ViewBag.Karaoke' == "karaoke")
    alert("Bạn nên trải nghiệm tính năng này trên máy tính (PC), laptop,... nhé 😄\nLưu ý : trong khi đang trải nghiệm Karaoke, bạn không nên refresh lại trang để tránh mất dữ liệu!");

    var you = false;
    var youX = false;

    function PlayY()
    {
        if (document.getElementById("music").currentTime != document.getElementById("musix").currentTime)
        document.getElementById("music").currentTime = document.getElementById("musix").currentTime;
    }

     function PlayZ()
    {
        if (document.getElementById("music").currentTime != document.getElementById("musix").currentTime)
        document.getElementById("musix").currentTime = document.getElementById("music").currentTime;
    }

    function PlayKaraoke()
    {
        if (document.getElementById("music").currentTime != document.getElementById("musix").currentTime)
        document.getElementById("music").currentTime = document.getElementById("musix").currentTime;

        document.getElementById("musix").play();

        you = true;
    }

    function PlayKaraokeX()
    {
         if (document.getElementById("musix").currentTime != document.getElementById("music").currentTime)
        document.getElementById("musix").currentTime = document.getElementById("music").currentTime;

        document.getElementById("music").play();
        youX = true;
    }

     function PlayXKaraoke()
    {
        document.getElementById("musix").pause();

        you = false;
    }

    function PlayXKaraokeX()
    {
        document.getElementById("music").pause();
        youX = false;
    }

    function changeKara()
    {
        var chon = document.getElementById("chon").options.selectedIndex;

        if (chon == 0)
        {
            document.getElementById("music").muted = false;
            document.getElementById("musix").muted = true;
        }
        else
        {
            document.getElementById("music").muted = true;
            document.getElementById("musix").muted = false;
        }
    }

    function StopKaraoke()
    {
        window.location.href="/Home/XoaKaraoke";
    }

        var t=10;
        var time_xuathien = [];
        var time_luuvet = [];
        var n = 0;
        var kf = 0;
        var h_xh = [];
        var h_le = [];
        var kk = 0;
        var empty = -1;

        var flag = 0;

        var LBH;

                    var id = setInterval(myAlert, 100);

                    function myAlert()
                    {
                        
                        if (flag == 0)
                        {
                            LBH = document.getElementById("txtKara").value.split(/\r|\n/);

                    var k = 0;
                    for (var i = 0; i < LBH.length; i++)
                    {
                        var ss = LBH[i].split("#");
                        time_xuathien[k] = new Number(ss[0]);
                        LBH[k] = ss[1];
                        if (ss[1] != "[Empty]" && ss[1] != "[Empty-X]")
                        {
                            time_luuvet[k] = ss[2];
                        }
                        k++;
                    }
                    flag = 1;
                        }

                         if (you == false || youX == false)
                        return;
              
                        t++;

            if (t == time_xuathien[n])
            {
                h_xh = [];
                h_le = [];

                if (LBH[n] != "[Empty]" && LBH[n] != "[Empty-X]")
                {
                    var s = time_luuvet[n].split(",");

                    for (var i = 0; i < s.length; i++)
                    {
                        var ss = s[i].split("-");
                        h_xh[kk] = new Number(ss[0]);
                        h_le[kk] = new Number(ss[1]);
                        kk++;
                    }
                }

                if (LBH[n] == "[Empty]" || LBH[n] == "[Empty-X]")
                {
                    document.getElementById("txtKaraoke1").innerHTML = "";
                    document.getElementById("txtKaraoke2").innerHTML = "";
                    document.getElementById("txtKara1").value = "";
                    document.getElementById("txtKara2").value = "";
                }
                else
                {
                    var sing = LBH[n].split("*");
                   document.getElementById("txtKaraoke1").innerHTML = new String(sing[0]).toUpperCase().replace("UNDEFINED","");

                   document.getElementById("txtKaraoke2").innerHTML = new String(sing[1]).toUpperCase().replace("UNDEFINED","");;

                    document.getElementById("txtKara1").value = sing[0];
                    document.getElementById("txtKara2").value = sing[1];

                }

                //txtKaraoke1.Select(0, LBH[n].Length + 1);
                //txtKaraoke1.SelectionColor = Color.White;
                //txtKaraoke2.Select(0, LBH[n].Length + 1);
                //txtKaraoke2.SelectionColor = Color.White;
                n++;
            }

            if (n > 1 && LBH[n - 1] == "[Empty]" && empty == -1)
            {
                empty = kf;
            }

            if (h_xh != null && (t == h_xh[0] - 8 || empty != -1 && t == h_xh[empty] - 8))
            {
               document.getElementById("number").innerHTML = "1";
            }

            if (h_xh != null && (t == h_xh[0] - 18 || empty != -1 && t == h_xh[empty] - 18))
            {
               document.getElementById("number").innerHTML = "2";
            }

            if (h_xh != null && (t == h_xh[0] - 28 || empty != -1 && t == h_xh[empty] - 28))
            {
               document.getElementById("number").innerHTML = "3";
            }


            var xinloi = document.getElementById("txtKara1").value.split(" ");

            var kara1 = document.getElementById("txtKara1").value;
            var kara2 = document.getElementById("txtKara2").value;  

            if (h_xh != null && t == h_xh[kf])
            {
                if (h_le[kf] <= kara1.length + xinloi[xinloi.length - 1].length)
                {
                    var ct1 = kara1.substring(0,h_le[kf]).toUpperCase().replace("UNDEFINED","");
                    var ct2 = kara1.substring(h_le[kf], kara1.length).toUpperCase().replace("UNDEFINED","");
                    document.getElementById("txtKaraoke1").innerHTML = "<span style=\"color:red\">"+ct1+"</span><span>"+ct2+"</span>"
                }
                else
                {
                    var ct1 = kara2.substring(0, h_le[kf] - kara1.length - 2).toUpperCase().replace("UNDEFINED","");
                    var ct2 = kara2.substring(h_le[kf] - kara1.length - 2, kara2.length).toUpperCase().replace("UNDEFINED","");
                   document.getElementById("txtKaraoke2").innerHTML = "<span style=\"color:red\">"+ct1+"</span><span>"+ct2+"</span>"
                }
                kf++;

                 document.getElementById("number").innerHTML = "";
           }
     }

</script>

<audio id="music" autoplay hidden  onplay="PlayKaraoke()" onplaying="PlayY()" onpause="PlayXKaraoke()" onended="StopKaraoke()">
    <source src="@ViewBag.Music" type="audio/mpeg">
</audio>

<audio id="musix" autoplay hidden muted onplay="PlayKaraokeX()" onplaying="PlayZ()" onpause="PlayXKaraokeX()" onended="StopKaraoke()">
    <source src="@ViewBag.Musix" type="audio/mpeg">
</audio>

<textarea id="txtKara" hidden>@ViewBag.Karaoke</textarea>

@if (ViewBag.Music == "")
{
    <table align="center">
    <h2 style="text-align:center">Play Your Karaoke - Online</h2>

    <br />

    @using (Html.BeginForm("PlayKaraoke", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)

            <tr style="height:40px">
                <td> </td>
                <td>
                    <br>
                        <b> Tải file TXT karaoke (đã xử lý) : </b>
                    <br>
                        <input type="file" name="txtKaraoke"/>  <b>@Html.ActionLink("Bạn chưa có file text karaoke?","CreateFile_Karaoke")</b>
                    <br>
                </td>
            </tr>

             <tr style="height:40px">
                <td> </td>
                <td>
                    <br>
                        <b> Tải file MP3 karaoke - nhạc gốc có giọng ca sĩ (đã xử lý) : </b>
                    <br>
                        <input type="file" name="txtMusix"/>
                    <br>
                </td>
            </tr>

             <tr style="height:40px">
                <td> </td>
                <td>
                    <br>
                        <b> Tải file MP3 karaoke - nhạc beat tách giọng ca sĩ (karaoke - đã xử lý) : </b>
                    <br>
                        <input type="file" name="txtMusic"/>
                    <br>
                </td>
            </tr>

             <tr style="height:40px">
                    <td> </td>
                    <td>
                        <br>
                        <h5 style="color:yellow">
                - Sử dụng các app/web bên ngoài để giúp tách nhạc và giọng ca sĩ (nếu bạn không có bản nhạc Karaoke)
                <br>
                - Sử dụng các app/web bên ngoài để tăng âm lượng cho âm thanh.
                <br>
                - Ngoài ra bạn có thể áp dụng sự hiểu biết về photoshop/hiệu chỉnh âm thanh khác cho thích hợp nhất!
            </h5>
                    </td>
                </tr>

            <tr style="height:40px">
                <td></td>
                <td>
                        <input style="font-weight:bolder" type="Submit" value="Bắt Đầu" />
                </td>
            </tr>
    }
</table>
}
else
{
    <div  class="video-overlay">
       <table align="center" onended="loadsolar()">
    <select id="chon" onchange="changeKara()">
        <option>Chế độ Karaoke</option>
        <option>Chế độ Ca sĩ hát</option>
    </select>&nbsp;&nbsp;&nbsp
    <button onclick="StopKaraoke()"><b style="color:darkgreen">THOÁT</b></button>&nbsp;&nbsp;&nbsp;<button style="color:brown" onclick="loadsolar()" id="xanh"><b>FULL MÀN HÌNH - OFF</b></button>
    
    <br />

    <br>

    <br>

    <br>

    <br>
    <br />

    <br>
    <br>

    <br>

    <br>

    <br>
    <br />

    <br>

    <br>
    <br />
        <br>
    
    <br>
    <br />
    <br>
      <br />
      <br>
        <br>
        <br>
        <br>
        <br>
    <input type="text" id="txtKara1" hidden>
    <input type="text" id="txtKara2" hidden>

    <tr style="height:40px">
                <td></td>
                <td>
                       <span id="number" style="color:yellow; font-size:90px"></span>
                        <br>
                         <div style="text-align:center">
                        <div style="display:inline-block">
                          <span id="txtKaraoke1" style="font-size:100px;color:white"></span>
                          <br><br>
                        <span id="txtKaraoke2" style="font-size:100px;color:white;"></span>
                        </div>
                        </div>
                </td>
            </tr>                     
    
</table>
</div>

<img src="@ViewBag.Background" id="myVideo" class="sqs-html5-video" />
}
</body>
</html>
