@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true;
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true;
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
<script>
    function xemfile(event)
    {
        var ulx = document.getElementById("ulx");
        var files = event.target.files;
        ulx.innerHTML = "";
    
        for (var i=0; i< files.length; i++)
        {
            var item = document.createElement("li");
            item.innerHTML = files[i].name;
            ulx.appendChild(item);
        }
    
    }
    
    function xong()
    {
        document.getElementById("ok").style.display = "none";
        document.getElementById("loading").style.display = "inline-block";

         thatbai_time = 0;
        setInterval(function()
        {
            if (thatbai_time == 5)
            {
                if (thatbai == true)
                {
                      document.getElementById("ok").style.display = "inline-block";
                     document.getElementById("loading").style.display = "none";
                }
                return;
            }
            thatbai_time++;
        },10);
    }

     function xulycosan()
    {
        if (document.getElementById("cosan").checked == true)
        {
            document.getElementById("upfile").style.display = "none";
        }
        else{
            document.getElementById("upfile").style.display = "block";
        }
    }
    
</script>
<table align="center" id="custom698">
    <h3 style="color:aqua" id="custom699">Bạn nên trải nghiệm tính năng này trên máy tính (PC), laptop,... nhé 😄</h3>
    <br />
    <h2 style="text-align:center" id="custom700">Play X Question - Multiple</h2>
    <br />
    @using (Html.BeginForm("PlayQuestion_Multiple", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
    @Html.ValidationSummary(true)
    <input type="text" name="txtSoluong" value="@ViewBag.SL" hidden/>
    <tr style="height:40px" id="custom701">
        <td id="custom702"> </td>
        <td id="custom703">
            <br>
            <b id="custom704"> Nhập tên môn học/tên kỳ kiểm tra : </b>
            <br>
            <input type="text" name="txtMon" size="50" value=" "/>
            <br>
            <span style="color:red; font-style:italic" id="custom705">@ViewData["Loi"] </span>
        </td>
    </tr>
    <tr style="height:40px" id="custom706">
        <td id="custom707"> </td>
        <td id="custom708">
            <br>
            <b id="custom709">Số câu cần làm (nếu bạn muốn làm hết toàn bộ các số câu hiện có, hãy thử nhập tại đây một số bất kỳ mà nó lớn hơn số lượng câu hỏi thực tế của bạn) :</b>
            <br>
            <input type="number" name="txtSoCau" min="1" value="100" id="custom710">
            <br>
            <span style="color:red; font-style:italic" id="custom711">@ViewData["Loi2"] </span>
        </td>
    </tr>
    <tr style="height:40px" id="custom712">
        <td id="custom713"></td>
        <td id="custom714">
            <br>
            <b id="custom715">Thời gian làm bài (phút) : </b>
            <br>
            <input type="number" name="txtTime" min="1" value="30" id="custom716">
            <br>
            <span style="color:red; font-style:italic" id="custom717">@ViewData["Loi3"] </span>
        </td>
    </tr>
    <tr style="height:40px" id="custom718">
        <td id="custom719"> </td>
        <td id="custom720">
            <br>
            <div id="upfile">
            <b id="custom721"> Đưa tất cả các file text [question/answer] (chương bài học) của bạn vào cùng 1 thư mục sau đó sẽ dễ dàng kéo tất cả các file vào đây...</b>
            <br>
            <input onchange="return xemfile(event)" type="file" name="txtFile" multiple/>
            <span style="color:red; font-style:italic" id="custom722">@ViewData["Loi1"] </span>
            <br><br>
            <h4 style="color:midnightblue" id="custom723">Danh sách các file bạn đã chọn :</h4>
            <ul id="ulx"></ul>
            </div>
            <input type="checkbox" name="cbCoSan" id="cosan" onchange="xulycosan()" /><b style="color:orangered" id="custom724">Sử dụng mẫu question có sẵn của hệ thống</b>
            <b id="custom725">@Html.ActionLink("Bạn chưa có file question answer?","CreateFile_Question")</b><br />
        </td>
    </tr>
    <tr style="height:40px" id="custom726">
        <td id="custom727"> </td>
        <td id="custom728">
            <br>
            <br>
            <input type="checkbox" name="txtChangeJapan" />  <b id="custom729">Tự động chuyển đổi câu trả lời thành các kí tự Japan <a target="_blank" href="/Home/QuyTacKiTuJapan">Xem quy tắc kí tự chuyển đổi</a></b>
            <br><br>
        </td>
    </tr>
    <tr style="height:40px" id="custom730">
        <td id="custom731"></td>
        <td id="custom732">
            <input  id="ok" onclick="xong()" style="font-weight:bolder" type="Submit" value="Bắt đầu làm bài" />
            <br>
            <img id="loading" src="/Image_Play/waiting.gif" style="display:none" />
        </td>
    </tr>
    }
</table>