@model MyWebPlay.Model.TracNghiem
@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true; if (document.body) document.body.style.visibility= "visible"; 
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true; if (document.body) document.body.style.visibility= "visible"; 
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
<script>
    var indexJP = -1;
    
    setInterval(myJapan, 1);
    
    var ready = false;
    var readyX = false;
    
    var sansang = false;
    
    
    window.onload = function()
     {
         if (sansang == true) return;
    
         readyX = true;
     }
    
    setInterval(function()
    {
        if (sansang == true) return;
    
        if (ready == true && readyX == true) 
        {
            sansang = true;
            document.getElementById("waiting-loading").style.display = "block";
            document.getElementById("loading-TN").style.display = "none";
             if ('@TempData["ketquaXYZ"]' != "true")
             {
                 nensangtoi("null");
                 nensangtoi("null");
                 nensangtoi("null");
                 nensangtoi("null");
                 nensangtoi("null");
                 nensangtoi("null");
                 if (localStorage.getItem("nensangtoi") == null && (('@TempData["mau_background"]' == "white" && sang == 0) || ('@TempData["mau_background"]' == "black" && sang == 1)))
                 {
                     nensangtoi("null");
                 }
            alert("Bài question của bạn đã được tải hoàn tất.\nNhấn [OK] nếu bạn đã sẵn sàng!");
             }
            return;
        }
    
        if (document.readyState == "complete")
        {       
            ready = true;
        }
    },1000);
    
    function myJapan()
    {
        document.getElementById("answix-"+indexJP).value = new String(document.getElementById("answix-"+indexJP).value).replaceAll("\r","").replaceAll("\n","");
    
        if ('@TempData["chuyendoiJapan"]' != "true" || indexJP == -1)
        return;
    
          var rpJP = document.getElementById("rpJP").value.split('\n');
        for (var j =0; j < rpJP.length; j++)
        {
            var xu = rpJP[j].split('\t');
            document.getElementById("answix-"+indexJP).value = new String(document.getElementById("answix-"+indexJP).value).replaceAll(xu[0],xu[1]);
        }
    }
    
    function chuyendoiJapan(i)
    {
                indexJP = i;
    }
    
    function hienthitittle(i)
    {
        var nd = document.getElementById("answix-"+i).value;
        if (nd != null && nd != "")
        document.getElementById("answix-"+i).title = nd;
    }
    
    var timeX = '@ViewBag.TimeLamBai' * 60;
    
    var id = setInterval(myAlert, 1000);
    
    function myAlert() {
    
        if (sansang == false) return;
    
        if ('@ViewBag.TimeLamBai' != "")
        {
       var t = document.getElementById("Time");
    
       var h = Math.floor(timeX / 3600);
       var m = Math.floor((timeX / 60) % 60) ;
       var s = timeX % 60;
    
        if (h< 10 && m < 10 && s < 10)
                t.innerHTML = "0" + h + " : 0" + m + " : 0" + s;
            if (h < 10 && m < 10 && s >= 10)
                t.innerHTML = "0" + h + " : 0" + m + " : " + s;
            if (h < 10 && m >= 10 && s < 10)
                t.innerHTML = "0" + h + " : " + m + " : 0" + s;
            if (h < 10 && m >= 10 && s >= 10)
                t.innerHTML = "0" + h + " : " + m + " : " + s;
            if (h >= 10 && m < 10 && s < 10)
                t.innerHTML = "" + h + " : 0" + m + " : 0" + s;
            if (h >= 10 && m < 10 && s >= 10)
                t.innerHTML = "" + h + " : 0" + m + " : " + s;
            if (h >= 10 && m >= 10 && s < 10)
                t.innerHTML = "" + h + " : " + m + " : 0" + s;
            if (h >=10 && m >= 10 && s >= 10)
                t.innerHTML = "" + h + " : " + m + " : " + s;
    
            timeX--;
    
            if (timeX == -1)
            {
                alert('Đã hết thời gian làm bài...\nBấm OK - Bài kiểm tra của bạn sẽ được nộp đánh giá sau đó!');
                clearInterval(id);
    
                var ok = document.getElementById("OKX");
                ok.click();
            }
         }
    }
    
</script>
<div id="loading-TN">
    <img src="/Image_Play/waiting.gif" />
</div>
<div id="waiting-loading" style="display:none">
    <table align="center" id="custom655">
        <h2 style="text-align:center;color:lightsalmon" id="custom656">Play Test Question Answer</h2>
        <h3 style="color:aqua" id="custom657">@ViewBag.KetQuaDung</h3>
        <h3 style="color:aqua" id="custom658">@ViewBag.KetQuaSai</h3>
        <h3 style="color:aqua" id="custom659">@ViewBag.KetQuaChuaLam</h3>
        <h2 style="color:lightgreen" id="custom660">@ViewBag.KetQuaDiem</h2>
        @using (Html.BeginForm("PlayQuestion", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
        @Html.ValidationSummary(true)
        <br />
        <br />
        <b id="custom661">Tên môn học/kỳ kiểm tra : @Model.tenmon</b>
        <br />
        <b id="custom662">Tổng số câu cần làm : @Model.gioihancau/@Model.tongsocau</b>
        <br />
        <b id="custom663">
            Thời gian làm bài : @Model.timelambai phút
            @if (ViewBag.TimeLamBai != null)
            {
            <div class="divOnTop" id="custom664">
                <span style="color:blue;text-align:center" id="custom665">
                    <h2 id="Time">00 : 00 : 00</h2>
                </span>
            </div>
            }
        </b>
        <br />
        <br />
        <hr />
        @for (int i = 0; i < @Model.gioihancau; i++)
        {
        <tr style="height:40px; background-color: @TempData["mau-question-"+i]" id="custom666">
        <td id="custom667"></td>
        <td id="custom668">
            @if (TempData["ViewSiteBasic"] == "false")
            {
            <h3 id="custom669"><b name="mau-TN-1" id="custom670">Câu số @(i + 1)</b>.<span  name="mau-TN-2" id="custom671"> @Html.Raw(Model.ch[@i])</span></h3>
            }
            else
            {
            <h3 style="color:blue" id="custom672"><b name="mau-TN-1" id="custom673">Câu số @(i + 1)</b>.<span  name="mau-TN-2" id="custom674"> @Html.Raw(Model.ch[@i])</span></h3>
            }
        </td>
        </tr>
        @if(ViewData["KetQua-"+@i] ==  null)
        {
        <tr style="height:40px; background-color: @TempData["mau-question-"+i]" id="custom675">
        <td id="custom676"></td>
        <td id="custom677">
            <h4 id="custom678"><b style="color:black" id="custom679"> Nhập answer cho câu @(i+1) của bạn : </b></h4>
            <h3 id="custom680"><textarea type="text" name="dapan-@i" id="answix-@i" cols="80" rows="1" ti onchange="hienthitittle(@i)" onclick="chuyendoiJapan(@i)"></textarea></h3>
            <br><br />
        </td>
        </tr>
        }
        else
        {
        <tr style="height:40px" id="custom681">
            <td id="custom682"></td>
            <td id="custom683">
                @Html.Raw(ViewData["ketqua-"+@i])
                <h4 id="custom684">@Html.Raw(ViewData["dapandachon-"+@i])</h4>
                <h4 id="custom685">@Html.Raw(ViewData["dapandung-"+@i])</h4>
                <br><br />
            </td>
        </tr>
        }
        }
        @if (ViewBag.KetQuaDung == "")
        {
        <tr style="height:40px" id="custom686">
            <td id="custom687"></td>
            <td id="custom688">
                <input style="font-weight:bolder" id="OKX" type="Submit" value="Đánh Giá Bài Làm" />
                <br>
                <p style="color:deeppink" id="custom689">Lưu ý : kiểm tra thật kỹ toàn bộ bài làm trước khi xem kết quả!</p>
            </td>
        </tr>
        }
        else
        {
        <h3 id="custom690">@Html.ActionLink("Thực hiện bài test [text question/answer] mới", "PlayQuestion_Multiple")</h3>
        <br />
        }
        <input name="txtUserIP" type="text" value="@TempData["userIP"]" readonly hidden />
        <input type="text" readonly name="TongSoCau" value="@ViewBag.TongSoCau" hidden />
        <input type="text" id="socau" readonly name="GioiHanCau" value="@ViewBag.GioiHanCau" hidden />
        <input type="text" readonly name="TimeLamBai" value="@ViewBag.TimeLamBaiX" hidden />
        <input type="text" readonly name="TenMon" value="@ViewBag.TenMon" hidden id="custom691">
        <textarea readonly name="CauHoi" hidden id="custom692">@ViewBag.CauHoi</textarea>
        <textarea readonly name="A" hidden id="custom693">@ViewBag.A</textarea>
        <textarea readonly name="B" hidden id="custom694">@ViewBag.B</textarea>
        <textarea readonly name="C" hidden id="custom695">@ViewBag.C</textarea>
        <textarea readonly name="D" hidden id="custom696">@ViewBag.D</textarea>
        <textarea readonly name="Dung" hidden id="custom697">@ViewBag.Dung</textarea>
        <textarea readonly id="rpJP" hidden>@TempData["replaceJapan"]</textarea>
        }
    </table>
</div>