@if (ViewBag.Show != null && ViewBag.Show == "show")
{
    Layout = null;
}

<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>@ViewData["Title"] - MyWebPlay</title>

 <style>

 .video-overlay{
 position:absolute;
z-index: 2;
    position: relative;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/*---------------------------------------------*/

/* Safari syntax */
:-webkit-full-screen {
  background-color: white;
}

/* IE11 */
:-ms-fullscreen {
  background-color: white;
}

/* Standard syntax */
:fullscreen {
  background-color: white;
}

</style>
</head>

<body>
<meta charset="ISO-8859-1">
<script>

    function copyshare()
    {
        var background = ('@ViewBag.Background'.includes("karaoke_Example")) ? "NOT" : '@ViewBag.Background';
        var url =  "https://" +'@ViewBag.Host' + "/Home/PlayKaraokeX?url=" + '@ViewBag.LoginServer' + "&&baihat=" + '@ViewBag.BHServer' + "&&background="+ background + "&&option=" + '@ViewBag.Option';
        navigator.clipboard.writeText(url);

        alert("Một url chia sẻ Karaoke đã được copy vào Clipboard của bạn!\nHãy chia sẻ bài hát này và mang niềm vui đến bạn bè mình nhé 🥰")
        resetKaraoke();
    }

    var idX;
    idX = setInterval(myAlertX, 1000);

    function myAlertX()
    {

        if ('@ViewBag.Share' != "YES" && '@ViewBag.Share' != "OK")
        {
             clearInterval(idX);
            return;
        }

        if ('@ViewBag.Share' == "YES")
        {

        if ('@ViewBag.Option' == "1")
        {
            document.getElementById("chonKarax").value = 1;
            document.getElementById("chonKara").options.selectedIndex = 0;
        }
        else if ('@ViewBag.Option' == "2")
        {
            document.getElementById("chonKarax").value = 2;
            document.getElementById("chonKara").options.selectedIndex = 1;
            document.getElementById("online").value = '@ViewBag.Background';
            document.getElementById("online").style.display = "inline-block";
        }
         else if ('@ViewBag.Option' == "3")
        {
            document.getElementById("chonKarax").value = 3;
            document.getElementById("chonKara").options.selectedIndex = 2;
            document.getElementById("online").value = '@ViewBag.Background';
             document.getElementById("online").style.display = "inline-block";
        }
         else if ('@ViewBag.Option' == "4")
        {
            document.getElementById("chonKarax").value = 4;
            document.getElementById("chonKara").options.selectedIndex = 3;
            document.getElementById("online").value = '@ViewBag.Background';
             document.getElementById("online").style.display = "inline-block";
        }

       document.getElementById("okxem").click();
       }
       else if ('@ViewBag.Share' == "OK")
       {
           document.getElementById("getlist").click();
           clearInterval(idX);
       }
    }

    function thoatServer()
    {
        window.location.href = "/Home/PlayKaraokeX";
    }

    function changesong()
    {
        var e = document.getElementById("listsong");
        var song = e.options[e.selectedIndex].text;
        document.getElementById("baihatX").value = song;
    }

function showlist()
{
    if (document.getElementById("getlist").innerHTML == "<span style=\"color:green\">Successful!</span>")
    return;

    if (document.getElementById("songlist").value == "")
    {
    var url = document.getElementById("serverX").value;
    var baihat = document.getElementById("baihatX").value;

  alert("Xử lý thành công, hệ thống sẽ khởi động lại trang web.\nNếu danh sách của bạn chưa được tải xuống, vui lòng click lại vào link nút này một lần nữa để hoàn tất thử lại việc tải các bài hát đã get trên Server host của bạn...");
  window.location.href= "/Home/PlayKaraokeX?url="+url+"&&baihat="+baihat;
    }
    else
    {
        var noidung = document.getElementById("songlist").value.split("\n");
        var listsong = document.getElementById("listsong");

        listsong.innerHTML = "";
        var dem = 0;
        for (var i = 0; i < noidung.length; i++)
        {
            if (noidung[i] != "")
            {
        listsong.innerHTML += "<option>"+noidung[i]+"</option>";
        dem++;
            }
        }
        document.getElementById("soluongSong").innerHTML = "Hiện tại Karaoke trên host server của bạn có : "+dem+" bài hát."
        document.getElementById("songlist").value = "";
        document.getElementById("getlist").innerHTML = "<span style=\"color:green\">Successful!</span>";
    }
}

    function helpKara()
    {
        alert("[CẢM PHIỀN BẠN HÃY ĐỌC HƯỚNG DẪN NHANH TẠI ĐÂY 😁]\n\n[1/2]\n\n1. Đăng kí host server name :\n\nLưu ý, hệ thống đang hướng dẫn bạn đăng kí host server bằng trang web của freeasphosting.net, nếu bạn có thể tìm kiếm được các trang web dịch vụ hỗ trợ host server khác thì cũng có thể áp dụng và các cách thực hiện cũng tương tự.\n\n- Truy cập : https://freeasphosting.net/ và đăng kí tài khoản mới (nếu bạn chưa có) tại Create Your Web Site\n\n- Đăng nhập tài khoản và vào mục quản lý file.\n\n- Mỗi một bài hát karaoke của bạn phải được đặt trong từng các thư mục riêng biệt.\n\n- Quy tắc như sau để phù hợp với dịch vụ Karaoke của MyWebPlay : ví dụ bạn có karaoke bài hát tên là Mùa xuân của em, tạo thư mục MuaXuanCuaEm và bên trong thư mục bạn có thể dùng chức năng Upload để tải lên đúng 3 file liên quan vào trong thư mục này. 3 file liên quan đó chính là : file txt nội dung karaoke, file mp3 nhạc bao gồm cả giọng ca sĩ và file mp3 đã tách nhạc.");
        alert("[CẢM PHIỀN BẠN HÃY ĐỌC HƯỚNG DẪN NHANH TẠI ĐÂY 😁]\n\n[2/2]\n\n- Tuy nhiên, 3 file bạn tải lên cũng phải đặt tên theo quy tắc. Ở ví dụ thư mục MuaXuanCuaEm trên, file txt nội dung bạn có thể đặt là MuaXuanCuaEm.txt, file mp3 bản gốc bạn có thể đặt là MuaXuanCuaEm_Goc.mp3 và file mp3 đã tách nhạc thì có thể đặt là MuaXuanCuaEm.mp3\n\n=> Lưu ý bạn phải đặt đúng các tên file và thư mục Karaoke theo đúng nguyên tắc trên, nếu không sẽ gây ra lỗi và khó xử lý 😂\n\n2. Sử dụng host server của bạn để Play Karaoke :\n\n- Nhập tên host server name của bạn, chính là thông tin username mà bạn đã tạo tài khoản tại freeasphosting.net trước đó (ví dụ : yourusername.bsite.net). Lưu ý nếu bạn đã tạo host server web không phải của freeasphosting.net thì hãy chú ý tương tự.\n\n- Nhập bài hát tại Server Karaoke của bạn, chính là tên thư mục bạn đã đặt và upload tại server (ví dụ MuaXuanCuaEm). Lưu ý thư mục của bạn chỉ bao gồm đủ và đúng 3 file liên quan trên\n\n=> Chúc mọi người thành công và thưởng thức 🥰!");
    }

    function onlinecheck()
    {
        if (document.getElementById("onlineServer").checked == true)
        {
            document.getElementById("phan1").style.display = "none";
            document.getElementById("phan2").style.display = "none";
            document.getElementById("phan3").style.display = "none";
            document.getElementById("check").style.display = "none";
            document.getElementById("phan4").style.display = "inline-block";
            document.getElementById("phan5").style.display = "inline-block";
             document.getElementById("phan6").style.display = "inline-block";
        }
        else
        {
            document.getElementById("phan1").style.display = "inline-block";
            document.getElementById("phan2").style.display = "inline-block";
            document.getElementById("phan3").style.display = "inline-block";
             document.getElementById("check").style.display = "inline-block";
            document.getElementById("phan4").style.display = "none";
            document.getElementById("phan5").style.display = "none";
              document.getElementById("phan6").style.display = "none";
        }
    }
    function doikichthuoc()
    {
        var kt = document.getElementById("kichthuoc").value + "px";
       document.getElementById("txtKaraoke1").style.fontSize = kt; 
     document.getElementById("txtKaraoke2").style.fontSize = kt; 
     document.getElementById("number").style.fontSize = kt; 
    }

    function doikichthuoc_Save()
        {
             if (localStorage.getItem("kichthuoc") == null)
            return;

            var kichthuoc = localStorage.getItem("kichthuoc");
        var kt = kichthuoc + "px";
        document.getElementById("kichthuoc").value = kichthuoc;
       document.getElementById("txtKaraoke1").style.fontSize = kt; 
     document.getElementById("txtKaraoke2").style.fontSize = kt; 
     document.getElementById("number").style.fontSize = kt; 
        }

    function doihang()
    {
        var hang = new Number(document.getElementById("hang").value);
        var hax = "";
        for (var i  =0; i < hang; i++)
        hax += "<br>";

        document.getElementById("hienthi").innerHTML = hax;
    }

    function doihang_Save()
        {
             if (localStorage.getItem("hang") == null)
            return;

             var hang = new Number(localStorage.getItem("hang"));
             document.getElementById("hang").value = localStorage.getItem("hang");

        var hax = "";
        for (var i  =0; i < hang; i++)
        hax += "<br>";

        document.getElementById("hienthi").innerHTML = hax;
        }
    
    function chonKaraHay()
    {
        var chon = document.getElementById("chonKara").options.selectedIndex;
        var chonX = document.getElementById("chonKarax");
        var online = document.getElementById("online");
        var help = document.getElementById("helpYoutube");
        if (chon == 0)
        {
            online.style.display = "none";
            help.style.display = "none";
        chonX.value = "1";
        }
        else if (chon == 1)
        {
        chonX.value = "2";
        online.style.display = "inline-block";
        help.style.display = "none";
        }
        else  if (chon == 2)
        {
        chonX.value = "3";
         online.style.display = "inline-block";
         help.style.display = "none";
        }
        else  if (chon == 3)
        {
        chonX.value = "4";
         online.style.display = "inline-block";
         help.style.display = "inline-block";
        }
    }

    function dongmomenu()
    {
        var menu = document.getElementById("menu");
        var hienlinh = document.getElementById("hienlinh");
        
        if (menu.style.display == "inline-block")
        {
            menu.style.display = "none";
            hienlinh.style.display = "inline-block";
        }
        else
        {
            menu.style.display = "inline-block";
            hienlinh.style.display = "none";
        }
    }

     var elem = document.documentElement;

        function loadsolar()
        {
            var xanh = document.getElementById("xanh");
            if ('@ViewBag.Show' == "show")
            {
                if (xanh.innerHTML == "<b>FULL MÀN HÌNH - OFF</b>")
                {
                    if (elem.requestFullscreen)
                    elem.requestFullscreen();
                     else if (elem.webkitRequestFullscreen) /* Safari */
                    elem.webkitRequestFullscreen();
                   else if (elem.msRequestFullscreen) /* IE11 */
                    elem.msRequestFullscreen();

                    xanh.innerHTML = "<b>FULL MÀN HÌNH - ON</b>";
                    dongmomenu();
                }
                else 
                {

                    if (document.exitFullscreen) {
    document.exitFullscreen();
  } else if (document.webkitExitFullscreen) { /* Safari */
    document.webkitExitFullscreen();
  } else if (document.msExitFullscreen) { /* IE11 */
    document.msExitFullscreen();
  }

   var menu = document.getElementById("menu");
        var hienlinh = document.getElementById("hienlinh");
        
        if (menu.style.display != "inline-block")
        {
            menu.style.display = "inline-block";
            hienlinh.style.display = "none";
        }

                    xanh.innerHTML = "<b>FULL MÀN HÌNH - OFF</b>";
                }
            }
        }

    var you = false;
    var youX = false;

    function PlayY()
    {
        if (document.getElementById("music").currentTime != document.getElementById("musix").currentTime)
        document.getElementById("music").currentTime = document.getElementById("musix").currentTime;
    }

     function PlayZ()
    {
        if (document.getElementById("music").currentTime != document.getElementById("musix").currentTime)
        document.getElementById("musix").currentTime = document.getElementById("music").currentTime;
    }

    var flix = 0;

    function PlayKaraoke()
    {
        if (document.getElementById("music").currentTime != document.getElementById("musix").currentTime)
        document.getElementById("music").currentTime = document.getElementById("musix").currentTime;

        document.getElementById("musix").play();

        you = true;
    }

    function PlayKaraokeX()
    {
         if (document.getElementById("musix").currentTime != document.getElementById("music").currentTime)
        document.getElementById("musix").currentTime = document.getElementById("music").currentTime;

        document.getElementById("music").play();
        youX = true;
    }
  
    var t=10;
      var kk = 0;
        var empty = -1;

        var flag = 0;
         var n = 0;
        var kf = 0;

    function resetKaraoke()
    {
         document.getElementById("musix").currentTime = 0;
         document.getElementById("music").currentTime =0;
         t = 10;
          kk = 0;
        empty = -1;
        so = 0;

        flag = 0;
         n = 0;
        kf = 0;
                   document.getElementById("txtKaraoke1").innerHTML = "";
                   document.getElementById("txtKaraoke2").innerHTML = "";
                    document.getElementById("txtKara1").value = "";
                    document.getElementById("txtKara2").value = "";
                    document.getElementById("number").innerHTML = "";

    }

    function ghinho()
    {
        if ('@ViewBag.Share' == "YES - OK")
        {
            alert ("Xin lỗi, tính năng ghi nhớ cài đặt không thể áp dụng nếu bạn sử dụng Karaoke bằng link chia sẻ từ bạn bè!\nHệ thống sẽ khởi động lại...");
            resetKaraoke();
            return;
        }

        localStorage.setItem("mau", document.getElementById("mau").value);
        localStorage.setItem("mauX", document.getElementById("mauX").value);
        localStorage.setItem("mauY", document.getElementById("mauY").value);
        localStorage.setItem("kichthuoc", document.getElementById("kichthuoc").value);
        localStorage.setItem("hang", document.getElementById("hang").value);

        alert("Các cài đặt Karaoke của bạn đã được ghi nhớ thành công, hệ thống phải khởi động lại để áp dụng!");

           var menu = document.getElementById("menu");
        var hienlinh = document.getElementById("hienlinh");
        
        if (menu.style.display != "inline-block")
        {
            menu.style.display = "inline-block";
            hienlinh.style.display = "none";
        }
           var menu = document.getElementById("menu");
        var hienlinh = document.getElementById("hienlinh");
        
        if (menu.style.display != "inline-block")
        {
            menu.style.display = "inline-block";
            hienlinh.style.display = "none";
        }
        document.getElementById("xanh").innerHTML = "<b>FULL MÀN HÌNH - OFF</b>";
        resetKaraoke();
    }

     function PlayXKaraoke()
    {
        document.getElementById("musix").pause();

        you = false;
    }

    function xemplay()
    {
        if ('@ViewBag.SuDung' == "Youtube")
        {
        document.getElementById("phanphoi").innerHTML= "<iframe id=\"myVideo\" src=\""+'@ViewBag.Background'+"\"></iframe>";
        }
        else if ('@ViewBag.SuDung' == "Video")
        {
            document.getElementById("myVideo").currentTime = 0;
        }
        dongmomenu();
        if (elem.requestFullscreen)
                    elem.requestFullscreen();
                     else if (elem.webkitRequestFullscreen) /* Safari */
                    elem.webkitRequestFullscreen();
                   else if (elem.msRequestFullscreen) /* IE11 */
                    elem.msRequestFullscreen();

                    document.getElementById("xanh").innerHTML = "<b>FULL MÀN HÌNH - ON</b>";
        resetKaraoke();
    }

    function PlayXKaraokeX()
    {
        document.getElementById("music").pause();
        youX = false;
    }

    function changeKara()
    {
        var chon = document.getElementById("chon").options.selectedIndex;

        if (chon == 0)
        {
            document.getElementById("music").muted = false;
            document.getElementById("musix").muted = true;
        }
        else
        {
            document.getElementById("music").muted = true;
            document.getElementById("musix").muted = false;
        }
    }

    function StopKaraoke()
    {
        if ('@ViewBag.Share' != "YES - OK")
        window.location.href="/Home/XoaKaraoke?url="+'@ViewBag.LoginServer'+"&&baihat="+'@ViewBag.BHServer';
        else
        window.location.href="/Home/XoaKaraoke";
    }

        var time_xuathien = [];
        var time_luuvet = [];
       
        var h_xh = [];
        var h_le = [];

                              var so = 0;

        var mau = "#2900f5";
        var mauX = "#efe6e6";

        function doimau()
        {
            mau = document.getElementById("mau").value;
            document.getElementById("xemthumau").style.color = mau;
            document.getElementById("xanhX1").style.setProperty("--color", mau);
            document.getElementById("xanhX2").style.setProperty("--color", mau);
        }

        function doimau_Save()
        {
            if (localStorage.getItem("mau") == null)
            return;

             mau = localStorage.getItem("mau");
             document.getElementById("mau").value = mau;

            document.getElementById("xemthumau").style.color = mau;
            document.getElementById("xanhX1").style.setProperty("--color", mau);
            document.getElementById("xanhX2").style.setProperty("--color", mau);
        }

         function doimauX()
        {
             mauX = document.getElementById("mauX").value;
            document.getElementById("xemmauthu").style.color = mauX;
           //-- document.getElementById("txtKaraoke1").style.color = document.getElementById("mauX").value;
           //-- document.getElementById("txtKaraoke2").style.color = document.getElementById("mauX").value;
                       document.getElementById("xanhX1").style.setProperty("--colox", mauX);
            document.getElementById("xanhX2").style.setProperty("--color", mauX);
        }

        function doimauX_Save()
        {
             if (localStorage.getItem("mauX") == null)
            return;

              mauX = localStorage.getItem("mauX");
              document.getElementById("mauX").value = mauX;
            document.getElementById("xemmauthu").style.color = mauX;
           //-- document.getElementById("txtKaraoke1").style.color = document.getElementById("mauX").value;
           //-- document.getElementById("txtKaraoke2").style.color = document.getElementById("mauX").value;
                       document.getElementById("xanhX1").style.setProperty("--colox", mauX);
            document.getElementById("xanhX2").style.setProperty("--color", mauX);
        }

        function doimauY_Save()
        {
             if (localStorage.getItem("mauY") == null)
            return;

            document.getElementById("mauY").value = localStorage.getItem("mauY");
             document.getElementById("xemmaudi").style.color = localStorage.getItem("mauY");
            document.getElementById("number").style.color = localStorage.getItem("mauY");
        }

         function doimauY()
        {
            document.getElementById("xemmaudi").style.color = document.getElementById("mauY").value;
            document.getElementById("number").style.color = document.getElementById("mauY").value;
        }

        var LBH;
        var flg = 0;

                    var id = setInterval(myAlert, 100);

                    function myAlert()
                    {
                        if (flag == 0)
                        {
                            LBH = document.getElementById("txtKara").value.split(/\r|\n/);

                    var k = 0;
                    for (var i = 0; i < LBH.length; i++)
                    {
                        var ss = LBH[i].split("#");
                        time_xuathien[k] = new Number(ss[0]);
                        LBH[k] = ss[1];
                        if (ss[1] != "[Empty]" && ss[1] != "[Empty-X]")
                        {
                            time_luuvet[k] = ss[2];
                        }
                        k++;
                    }
                    flag = 1;
                        }

                         if (you == false || youX == false)
                        return;

                        // Thay doi tu cai dat da luu
                        if (flg == 0 && '@ViewBag.Share' != "YES - OK")
                        {
                        doimau_Save();
                        doimauX_Save();
                        doimauY_Save();
                        doihang_Save();
                        doikichthuoc_Save();
                        flg = 1;
                        }

                        if (t % 2 == 0)
                        {
                        if (!window.screenTop && !window.screenY)
                        {
                        document.getElementById("xanh").innerHTML = "<b>FULL MÀN HÌNH - OFF</b>";
                           var menu = document.getElementById("menu");
        var hienlinh = document.getElementById("hienlinh");
        
        if (menu.style.display != "inline-block")
        {
            menu.style.display = "inline-block";
            hienlinh.style.display = "none";
        }
                        }
                        else
                         document.getElementById("xanh").innerHTML = "<b>FULL MÀN HÌNH - ON</b>";
                        }
           
                        t++;

         if (t == 15 && flix == 0)
        {
            resetKaraoke();
            resetKaraoke();
            resetKaraoke();
            flix = 1;
        }

                //if (h_xh[kf] !== undefined)
                //{
                //     if (h_xh[kf+1] === undefined)
                //    {
                //        so = time_xuathien[n] - h_xh[kf];
                //    }
                //    else
                //    {
                //       so = h_xh[kf+1] - h_xh[kf];
                //    }
                //}


            if (t == time_xuathien[n])
            {
                h_xh = [];
                h_le = [];

                if (LBH[n] != "[Empty]" && LBH[n] != "[Empty-X]")
                {
                    var s = time_luuvet[n].split(",");

                    for (var i = 0; i < s.length; i++)
                    {
                        var ss = s[i].split("-");
                        h_xh[kk] = new Number(ss[0]);
                        h_le[kk] = new Number(ss[1]);
                        kk++;
                    }
                }

                  document.getElementById("txtKaraoke1").innerHTML = "<span id=\"xanhX1\" class=\"word\"></span>";
                    document.getElementById("txtKaraoke2").innerHTML = "<span id=\"xanhX2\" class=\"work\"></span>";

                         $('#xanhX2').addClass('work').attr('data-content',"");
                        $('#xanhX1').addClass('word').attr('data-content',"");

                if (LBH[n] == "[Empty]" || LBH[n] == "[Empty-X]")
                {
                   document.getElementById("txtKaraoke1").innerHTML = "";
                   document.getElementById("txtKaraoke2").innerHTML = "";
                    document.getElementById("txtKara1").value = "";
                    document.getElementById("txtKara2").value = "";
                }
                else
                {
                    var sing = LBH[n].split("*");
                  //-- document.getElementById("txtKaraoke1").innerHTML = new String(sing[0]).toUpperCase().replace("UNDEFINED","");

                   //-- document.getElementById("txtKaraoke2").innerHTML = new String(sing[1]).toUpperCase().replace("UNDEFINED","");

              var word1 = document.getElementById("xanhX1");
              word1.style.setProperty("--colox", mauX);
               word1.style.setProperty("--color", mau);
             var xuan1 = new String(sing[0]).toUpperCase().replace("UNDEFINED","");

            word1.innerHTML = xuan1;

              var word2 = document.getElementById("xanhX2");
               word2.style.setProperty("--colox", mauX);
                word2.style.setProperty("--color", mau);
             var xuan2 = new String(sing[1]).toUpperCase().replace("UNDEFINED","");
      
            word2.innerHTML = xuan2;
           
                    document.getElementById("txtKara1").value = sing[0];
                    document.getElementById("txtKara2").value = sing[1];
                }

                //txtKaraoke1.Select(0, LBH[n].Length + 1);
                //txtKaraoke1.SelectionColor = Color.White;
                //txtKaraoke2.Select(0, LBH[n].Length + 1);
                //txtKaraoke2.SelectionColor = Color.White;
                n++;

              //  so1 = h_xh[kf];
               // so2 = h_xh[kf + (sing[0].split(' ').length -1)];
               // so1X = h_xh[kf + sing[0].split(' ').length];
                //so2X = h_xh[kf + (sing[0].split(' ').length + sing[1].split(' ').length - 1)];
               // so2X = time_xuathien[n];

               //so = (h_xh[kf+1] - h_xh[kf])/2.8;

              // var so0 = h_xh[kf-1];

               var so1 = h_xh[kf];
               var so2 = 0;
               if (h_xh[kf+1] === undefined || h_xh[kf+1] == null)
               so2 = time_xuathien[n];
               else
               so2 = h_xh[kf+1];

              if (so2 - so1 < 3)
               so = 0.3;
               else
               if (so2 - so1 < 7)
               so = 0.8;
               else
               if (so2 - so1 < 10)
               so = 1.3;
                else
               if (so2 - so1 < 13)
               so = 1.8;
                else
               if (so2 - so1 < 16)
               so = 2.3;
                else
               if (so2 - so1 < 19)
               so = 2.8;
               else
               if (so2 - so1 < 22)
               so = 3.3;
                else
               if (so2 - so1 < 25)
               so = 3.8;
                else
               if (so2 - so1 < 28)
               so = 4.3;
                else
               so = 4.8;

                //soA = (so2 - so1) / 3.2;
                //soB = (so2X - so1X) / (90/13);
                //alert(h_xh[0] +" - "+ h_xh[1] +" - "+ h_xh[2]+" - " + h_xh[3]+" - " + h_xh[4]);
            }

            if (n > 1 && LBH[n - 1] == "[Empty]" && empty == -1)
            {
                empty = kf;
            }

            if (t >= h_xh[0]- 28 && t <= h_xh[0] - 1 || t >= h_xh[empty]- 28  && t <= h_xh[empty] - 1)
            {
                        var hang = new Number(document.getElementById("hang").value);
                var hax = "";
                for (var i  =0; i < hang-5; i++)
                hax += "<br>";

                document.getElementById("hienthi").innerHTML = hax;
            }
            else
            doihang();

            if (h_xh != null && (t == h_xh[0] - 8 || empty != -1 && t == h_xh[empty] - 8))
            {
               document.getElementById("number").innerHTML = "1";
            }

            if (h_xh != null && (t == h_xh[0] - 18 || empty != -1 && t == h_xh[empty] - 18))
            {
               document.getElementById("number").innerHTML = "2";
            }

            if (h_xh != null && (t == h_xh[0] - 28 || empty != -1 && t == h_xh[empty] - 28))
            {
               document.getElementById("number").innerHTML = "3";
            }


            var xinloi = document.getElementById("txtKara1").value.split(" ");

            var kara1 = document.getElementById("txtKara1").value;
            var kara2 = document.getElementById("txtKara2").value;  

            if (h_xh != null && t == h_xh[kf])
            {
                if (h_le[kf] <= kara1.length + xinloi[xinloi.length - 1].length)
                {
                    var ct1 = kara1.substring(0,h_le[kf]).toUpperCase().replace("UNDEFINED","");
                    var ct2 = kara1.substring(h_le[kf], h_le[kf+1]).toUpperCase().replace("UNDEFINED","");
                   var ct3 = kara1.substring(h_le[kf+1], kara1.length).toUpperCase().replace("UNDEFINED","");
                   document.getElementById("txtKaraoke1").innerHTML = "<span style=\"color:"+mau+"\">"+ct1+"</span><span id=\"xanhX1\" class=\"word\">"+ct2+"</span><span style=\"color:"+mauX+"\">"+ct3+"</span>";
      var word1 = document.getElementById("xanhX1");

    $('#xanhX1').addClass('word').attr('data-content', ct2);
     $('#xanhX2').addClass('work').attr('data-content',"");

            word1.style.setProperty("--color", mau);
            word1.style.setProperty("--colox", mauX);
            word1.style.setProperty("--animation", so+"s");
                }
                else
                {
                    var ct1 = kara2.substring(0, h_le[kf] - kara1.length - 2).toUpperCase().replace("UNDEFINED","").trim();
                    var ct2 = kara2.substring(h_le[kf] - kara1.length - 2, h_le[kf+1] - kara1.length - 2).toUpperCase().replace("UNDEFINED","").trim();
                    var ct3 = kara2.substring(h_le[kf+1] - kara1.length - 2, kara2.length).toUpperCase().replace("UNDEFINED","").trim();

                    if (ct1.length == kara2.length)
                    {
                        ct2 = "";
                    ct3 = "";
                    }

                   if (h_le[kf+1] == null || h_le[kf+1] === undefined)
                   document.getElementById("txtKaraoke2").innerHTML = "&nbsp;&nbsp;<span style=\"color:"+mau+"\">"+ct1+"</span>&nbsp;<span id=\"xanhX2\" class=\"work\">"+ct2+"</span>&nbsp;<span style=\"color:"+mauX+"\">"+ct3+"</span>";
                   else
                   if (h_le[kf+2] == null || h_le[kf+2] === undefined)
                   document.getElementById("txtKaraoke2").innerHTML = "&nbsp<span style=\"color:"+mau+"\">"+ct1+"</span>&nbsp;<span id=\"xanhX2\" class=\"work\">"+ct2+"</span>&nbsp;<span style=\"color:"+mauX+"\">"+ct3+"</span>";
                   else
                   document.getElementById("txtKaraoke2").innerHTML = "<span style=\"color:"+mau+"\">"+ct1+"</span>&nbsp;<span id=\"xanhX2\" class=\"work\">"+ct2+"</span>&nbsp;<span style=\"color:"+mauX+"\">"+ct3+"</span>";

                   var word1 = document.getElementById("xanhX2");

    $('#xanhX2').addClass('work').attr('data-content', ct2);
      $('#xanhX1').addClass('word').attr('data-content',"");

             word1.style.setProperty("--color", mau);
            word1.style.setProperty("--colox", mauX);
            word1.style.setProperty("--animation", so+"s");
                }
                kf++;

                 document.getElementById("number").innerHTML = "";
           }
     }

     function democheck()
     {
         if (document.getElementById("checkdemo").checked == false)
         {
             document.getElementById("phan1").style.display = "block";
             document.getElementById("phan2").style.display = "block";
             document.getElementById("phan3").style.display = "block";
             document.getElementById("servercheck").style.display = "block";
         }
         else{
             document.getElementById("phan1").style.display = "none";
             document.getElementById("phan2").style.display = "none";
             document.getElementById("phan3").style.display = "none";
             document.getElementById("servercheck").style.display = "none";
         }
     }

</script>

@if (ViewBag.Share != "YES")
{
<audio id="music" autoplay hidden  onplay="PlayKaraoke()" onplaying="PlayY()" onpause="PlayXKaraoke()" onended="StopKaraoke()">
    <source src="@ViewBag.Music" type="audio/mpeg">
</audio>

<audio id="musix" autoplay hidden muted onplay="PlayKaraokeX()" onplaying="PlayZ()" onpause="PlayXKaraokeX()" onended="StopKaraoke()">
    <source src="@ViewBag.Musix" type="audio/mpeg">
</audio>

<textarea id="txtKara" hidden>@ViewBag.Karaoke</textarea>

@if (ViewBag.Music == "")
{
    @if (ViewBag.Karaoke == "karaoke")
{
    <h3 style="color:aqua">Bạn nên trải nghiệm tính năng này trên máy tính (PC), laptop,... nhé 😄<br>Lưu ý : trong khi đang trải nghiệm Karaoke, bạn không nên refresh lại trang để tránh mất dữ liệu!</h3><br />
}
     <h2>@Html.ActionLink("Bạn có muốn trải nghiệm phiên bản Karaoke cơ bản?", "PlayKaraoke")</h2> <br />
 <br />
    <table align="center">
    <h2 style="text-align:center">Play Your Karaoke - Online (<span style="color :orange">phiên bản thường</span>)</h2>

    <br />

    @using (Html.BeginForm("PlayKaraokeX", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)

        @if (ViewBag.ListSong == null || ViewBag.ListSong.Length == 0)
        {
             <tr style="height:40px">
                <td> </td>
                <td>
                    <br>
                        <b id="check" style="color:pink"><input id="checkdemo" onchange="democheck()" type="checkbox" name="txtChon" /> Tham khảo bản karaoke demo có sẵn trên hệ thống</b>
                        <br>
                </td>
                    </tr>
                }

                @if (ViewBag.ListSong == null || ViewBag.ListSong.Length == 0)
                {
                    <tr style="height:40px">
                        <td> </td>
                        <td>
                            <br>
                            <b id="servercheck" style="color:hotpink">
                                <input id="onlineServer" onchange="onlinecheck()" type="checkbox" name="txtOnlineServer" />
                                Sử dụng host server Karaoke online của bạn (mệt mỏi vì mỗi lần phải upload các file từ local 😀)</b>
                            <br>
                        </td>
                    </tr>

                    <tr style="height:40px">
                        <td> </td>
                        <td id="phan4" style="display:none" >
                            <br>
                            <b> Nhập host Server name Karaoke của bạn  : </b> <a href="#xuly" onclick="helpKara()" style="color:crimson">Hướng dẫn tạo host Server để play Karaoke của bạn</a>
                            <br>
                            <input type="text" id="serverX" name="txtServer" size="80" placeholder="" value="@ViewBag.Server"/>
                            <br>
                        </td>
                    </tr>

                    <tr style="height:40px">
                        <td> </td>
                <td id="phan5" style="display:none">
                    <br>
                        <b> Nhập bài hát Karaoke từ host server của bạn (lưu ý nhập chính xác) : </b>
                    <br>
                        <input id="baihatX" type="text" name="txtSong" size="80" placeholder="" value="@ViewBag.BaiHatSV"/>
                <br>
                </td>
                    </tr>

                       <textarea id="songlist" hidden>@ViewBag.ListSong</textarea>

                <tr style="height:40px">
                    <td> </td>
                    <td id="phan6" style="display:none">
                        <br>
                        <b style="color:aqua"> Bật mí tại thư mục root trên host server của bạn, bạn có thể tạo file <span style="color:yellowgreen">MyListSong.txt</span>, trong đó liệt kê các bài hát Karaoke (thư mục) đang tồn tại trên host server của bạn, mỗi bài hát phân biệt và cách nhau bởi kí tự Enter : </b>  <a href="#xuly" onclick="showlist()" style="color:crimson" id="getlist">Get all list song of your host server</a>
                        <br>
                        <br>
                    </td>
                </tr>
                }
                else
                {
                           <tr style="height:40px">
                        <td> </td>
                        <td>
                            <br>
                            <b id="servercheck" style="color:hotpink" hidden>
                                <input id="onlineServer" checked onchange="onlinecheck()" type="checkbox" name="txtOnlineServer" />
                                Sử dụng host server Karaoke online của bạn (mệt mỏi vì mỗi lần phải upload các file từ local 😀)</b>
                            <a href="#xuly" onclick="thoatServer()" style="color:hotpink">THOÁT CHỨC NĂNG KARAOKE - YOUR HOST SERVER</a>
                                <br>
                        </td>
                    </tr>

                    <tr style="height:40px">
                        <td> </td>
                        <td id="phan4" style="display:inline-block" >
                            <br>
                            <b> Nhập host Server name Karaoke của bạn  : </b> <a href="#xuly" onclick="helpKara()" style="color:crimson">Hướng dẫn tạo host Server để play Karaoke của bạn</a>
                            <br>
                            <input readonly type="text" id="serverX" name="txtServer" size="80" placeholder="" value="@ViewBag.Server"/>
                            <br>
                        </td>
                    </tr>

                    <tr style="height:40px">
                        <td> </td>
                <td id="phan5" style="display:inline-block">
                    <br>
                        <b> Nhập bài hát Karaoke từ host server của bạn (lưu ý nhập chính xác) : </b>
                    <br>
                        <input id="baihatX" type="text" name="txtSong" size="80" placeholder="" value="@ViewBag.BaiHatSV"/>
                <br>
                </td>
                    </tr>

            <textarea id="songlist" hidden>@ViewBag.ListSong</textarea>

                <tr style="height:40px">
                    <td> </td>
                    <td id="phan6" style="display:inline-block">
                        <br>
                        <b style="color:aqua"> Bật mí tại thư mục root trên host server của bạn, bạn có thể tạo file <span style="color:yellowgreen">MyListSong.txt</span>, trong đó liệt kê các bài hát Karaoke (thư mục) đang tồn tại trên host server của bạn, mỗi bài hát phân biệt và cách nhau bởi kí tự Enter : </b>  <a id="getlist" href="#xuly" onclick="showlist()" style="color:crimson">Get all list song of your host server (click try again to finish)</a>
                        <br>
                        <br>
                        <b id="soluongSong" style="color:chartreuse"></b>
                        <br>
                        <span style="color:orangered"><u>Lưu ý</u> : Danh sách bên dưới có thể chưa được hoàn tất do file <span style="color:yellowgreen">MyListSong.txt</span> trên host server của bạn chưa được cập nhật !</span>
                        <br>
                        <br>
                        <select id="listsong" size="10" onclick="changesong()">
                            <option></option>
                        </select>
                        <br>
                    </td>
                </tr>
                }

                @if (ViewBag.ListSong == null || ViewBag.ListSong.Length == 0)
                {
                    <tr style="height:40px">
                        <td> </td>
                        <td id="phan1">
                            <br>
                            <b> Tải file TXT karaoke (đã xử lý) : </b>
                            <br>
                            <input type="file" name="txtKaraoke"/>  <b>@Html.ActionLink("Bạn chưa có file text karaoke?","CreateFile_Karaoke")</b>
                            <br>
                        </td>
                    </tr>

                    <tr style="height:40px">
                        <td> </td>
                        <td id="phan2">
                            <br>
                            <b> Tải file MP3 karaoke - nhạc gốc có giọng ca sĩ (đã xử lý) : </b>
                            <br>
                            <input type="file" name="txtMusix"/>
                            <br>
                        </td>
                    </tr>

                    <tr style="height:40px">
                        <td> </td>
                <td id="phan3">
                    <br>
                        <b> Tải file MP3 karaoke - nhạc beat tách giọng ca sĩ (karaoke - đã xử lý) : </b>
                    <br>
                        <input type="file" name="txtMusic"/>
                    <br>
                </td>
            </tr>
            }

             <tr style="height:40px">
                    <td> </td>
                    <td>
                        <br>
                        <h5 style="color:yellow">
                - Sử dụng các app/web bên ngoài để giúp tách nhạc và giọng ca sĩ (nếu bạn không có bản nhạc Karaoke)
                <br>
                - Sử dụng các app/web bên ngoài để tăng âm lượng cho âm thanh.
                <br>
                - Ngoài ra bạn có thể áp dụng sự hiểu biết về photoshop/hiệu chỉnh âm thanh khác cho thích hợp nhất!
            </h5>
                    </td>
                </tr>

                 <tr style="height:40px">
                <td></td>
                <td>
                      <select id="chonKara" onchange="chonKaraHay()">
                          <option>Sử dụng ngẫu nhiên ảnh/background có sẵn trên hệ thống</option>
                           <option>Sử dụng link ảnh/background online của bạn</option>
                           <option>Sử dụng link video/background online của bạn</option>
                            <option>Nhập link video Youtube online</option>
                      </select>
                      <input type="number" hidden id="chonKarax" name="KaraChon" value="1" min="1" max="4" />
                      <br><br>
                      <input name="txtOnline" id="online" size="100" style="display:none" type="text" placeholder="Nhập link online background của bạn thực hiện karaoke..." />
                     <br><span id="helpYoutube" style="color:red; display:none"><u>Lưu ý</u> : một số link Youtube có thể không khả dụng hoặc bạn nên cố gắng thử lại (và hãy tìm video youtube dài phút nhất có thể 😃)</span>
                </td>
            </tr>

            <tr style="height:40px">
                <td></td>
                <td>
                                     <br>
                        <input style="font-weight:bolder" type="Submit" id="okxem" value="Bắt Đầu" />
                </td>
            </tr>
    }
</table>
}
else
{
    <div class="video-overlay" id="play">
       <table align="center" onended="loadsolar()">
           <div id="hienlinh" style="display:none">
               <br>
               <br>
               <br>
               <br>
           </div>
           <b style="color:black; font-size:5px"><a style="color:black; font-size:5px" onclick="dongmomenu()" href="#xuly">...</a></b>
                      &nbsp;&nbsp;&nbsp;<br><br>
           <div id="menu" style="display:inline-block">
    <select id="chon" onchange="changeKara()">
        <option>Chế độ Karaoke</option>
        <option>Chế độ Ca sĩ hát</option>
    </select>&nbsp;&nbsp;&nbsp
    <button style="color:brown" onclick="loadsolar()" id="xanh"><b>FULL MÀN HÌNH - OFF</b></button>&nbsp;&nbsp;&nbsp;<b id="xemthumau" style="color:#2900f5">Chọn màu tô điểm text</b> : <input type="color" onchange="doimau()" id="mau" value="#2900f5" />
    &nbsp;&nbsp;&nbsp;<b id="xemmauthu" style="color:#efe6e6">Chọn màu đoạn text ban đầu</b> : <input type="color" onchange="doimauX()" id="mauX" value="#efe6e6" />
     &nbsp;&nbsp;&nbsp;<b id="xemmaudi" style="color:#e3f207">Chọn màu cho time đếm ngược bắt đầu karaoke</b> : <input type="color" onchange="doimauY()" id="mauY" value="#e3f207" />
      &nbsp;&nbsp;&nbsp; <br /><span style="color:deeppink"><b>Kích thước chữ : </b></span><input id="kichthuoc" type="number" min="0" value="80" onchange="doikichthuoc()"/>
        &nbsp;&nbsp;&nbsp;<span style="color:deeppink"><b>Vị trí xuất hiện : </b></span> <input id="hang" type="number" min="0" value="7" onchange="doihang()"/>
        &nbsp;&nbsp;&nbsp; <button onclick="ghinho()"><b style="color:lightcoral">Ghi nhớ các cài đặt</b></button>
        &nbsp;&nbsp;&nbsp; <b style="color:aqua"><a onclick="xemplay()" href="#xuly">Restart & full screen</a></b>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="StopKaraoke()"><b style="color:darkgreen">THOÁT</b></button>
      @if (ViewBag.Share != "YES - OK" && ViewBag.BHServer != "" && ViewBag.LoginServer != "")
        {
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b style="color:red"><a onclick="copyshare()" href="#xuly">Share Karaoke</a></b>
        }

    <br /><br /><b><span style="color:white">Xin lỗi, đôi khi vì sự cố kết nối mạng mà khiến cho chức năng Karaoke : nhạc và đoạn text lời xuất hiện không đồng nhất với nhau hay dữ liệu chưa được tải lên hết.
        <br>Mỗi khi gặp sự cố này, phiền bạn hãy nhấn nút <button style="color:purple" onclick="resetKaraoke()"><b>KHỞI ĐỘNG LẠI</b></button> để tải lại dữ liệu cho đến khi một cách hoàn tất. Xin cảm ơn!</span></b>
    <br />
    </div>

    <div id="hienthi">
    <br>
    <br>

    <br>

    <br>
    <br />

    <br>

    <br>
    <br />
        <br>
    
    <br>
    <br />
    <br>
      <br />
      <br>
        <br>
        <br>
        <br>
        <br>
        </div>

    <input type="text" id="txtKara1" hidden>
    <input type="text" id="txtKara2" hidden>

    <tr style="height:40px">
                <td></td>
                <td>
                       <span id="number" style="color:#e3f207; font-size:100px"></span>
                         <div style="text-align:center">
                        <div style="display:inline-block">
                          <p id="txtKaraoke1"><span id="xanhX1" class="word"></span></p>
                        <p id="txtKaraoke2"><span id="xanhX2" class="work"></span></p>
                        <span id="xui"></span>
                        </div>
                        </div>
                </td>
            </tr>                     
    
</table>
</div>
<div id="phanphoi">
@if(ViewBag.SuDung == "")
{
<img src="@ViewBag.Background" id="myVideo" class="sqs-html5-video" />
}
else if (ViewBag.SuDung == "Video")
{
<video muted loop autoplay id="myVideo" class="sqs-html5-video">
  <source src="@ViewBag.Background" >
            </video>
        }
        else
        {
            <iframe id="myVideo"
            src="@ViewBag.Background">
           </iframe>
        }
        </div>
    }
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    }
    else
    {
        <br />
        <h3 style="color:red">Dữ liệu đang được tải, vui lòng chờ trong ít phút!</h3>
    <div style="display:none">
<audio id="music" autoplay hidden  onplay="PlayKaraoke()" onplaying="PlayY()" onpause="PlayXKaraoke()" onended="StopKaraoke()">
    <source src="@ViewBag.Music" type="audio/mpeg">
</audio>

<audio id="musix" autoplay hidden muted onplay="PlayKaraokeX()" onplaying="PlayZ()" onpause="PlayXKaraokeX()" onended="StopKaraoke()">
    <source src="@ViewBag.Musix" type="audio/mpeg">
</audio>

<textarea id="txtKara" hidden>@ViewBag.Karaoke</textarea>

@if (ViewBag.Music == "")
{
    @if (ViewBag.Karaoke == "karaoke")
{
    <h3 style="color:aqua">Bạn nên trải nghiệm tính năng này trên máy tính (PC), laptop,... nhé 😄<br>Lưu ý : trong khi đang trải nghiệm Karaoke, bạn không nên refresh lại trang để tránh mất dữ liệu!</h3><br />
}
     <h2>@Html.ActionLink("Bạn có muốn trải nghiệm phiên bản Karaoke cơ bản?", "PlayKaraoke")</h2> <br />
 <br />
    <table align="center">
    <h2 style="text-align:center">Play Your Karaoke - Online (<span style="color :orange">phiên bản thường</span>)</h2>

    <br />

    @using (Html.BeginForm("PlayKaraokeX", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)

        @if (ViewBag.ListSong == null || ViewBag.ListSong.Length == 0)
        {
             <tr style="height:40px">
                <td> </td>
                <td>
                    <br>
                        <b id="check" style="color:pink"><input id="checkdemo" onchange="democheck()" type="checkbox" name="txtChon" /> Tham khảo bản karaoke demo có sẵn trên hệ thống</b>
                        <br>
                </td>
                    </tr>
                }

                <input type="text" name="txtShare" hidden value="@ViewBag.Share" />

                @if (ViewBag.ListSong == null || ViewBag.ListSong.Length == 0)
                {
                    <tr style="height:40px">
                        <td> </td>
                        <td>
                            <br>
                            <b id="servercheck" style="color:hotpink">
                                <input id="onlineServer" onchange="onlinecheck()" type="checkbox" name="txtOnlineServer" />
                                Sử dụng host server Karaoke online của bạn (mệt mỏi vì mỗi lần phải upload các file từ local 😀)</b>
                            <br>
                        </td>
                    </tr>

                    <tr style="height:40px">
                        <td> </td>
                        <td id="phan4" style="display:none" >
                            <br>
                            <b> Nhập host Server name Karaoke của bạn  : </b> <a href="#xuly" onclick="helpKara()" style="color:crimson">Hướng dẫn tạo host Server để play Karaoke của bạn</a>
                            <br>
                            <input type="text" id="serverX" name="txtServer" size="80" placeholder="" value="@ViewBag.Server"/>
                            <br>
                        </td>
                    </tr>

                    <tr style="height:40px">
                        <td> </td>
                <td id="phan5" style="display:none">
                    <br>
                        <b> Nhập bài hát Karaoke từ host server của bạn (lưu ý nhập chính xác) : </b>
                    <br>
                        <input id="baihatX" type="text" name="txtSong" size="80" placeholder="" value="@ViewBag.BaiHatSV"/>
                <br>
                </td>
                    </tr>

                       <textarea id="songlist" hidden>@ViewBag.ListSong</textarea>

                <tr style="height:40px">
                    <td> </td>
                    <td id="phan6" style="display:none">
                        <br>
                        <b style="color:aqua"> Bật mí tại thư mục root trên host server của bạn, bạn có thể tạo file <span style="color:yellowgreen">MyListSong.txt</span>, trong đó liệt kê các bài hát Karaoke (thư mục) đang tồn tại trên host server của bạn, mỗi bài hát phân biệt và cách nhau bởi kí tự Enter : </b>  <a href="#xuly" onclick="showlist()" style="color:crimson" id="getlist">Get all list song of your host server</a>
                        <br>
                        <br>
                    </td>
                </tr>
                }
                else
                {
                           <tr style="height:40px">
                        <td> </td>
                        <td>
                            <br>
                            <b id="servercheck" style="color:hotpink" hidden>
                                <input id="onlineServer" checked onchange="onlinecheck()" type="checkbox" name="txtOnlineServer" />
                                Sử dụng host server Karaoke online của bạn (mệt mỏi vì mỗi lần phải upload các file từ local 😀)</b>
                            <a href="#xuly" onclick="thoatServer()" style="color:hotpink">THOÁT CHỨC NĂNG KARAOKE - YOUR HOST SERVER</a>
                                <br>
                        </td>
                    </tr>

                    <tr style="height:40px">
                        <td> </td>
                        <td id="phan4" style="display:inline-block" >
                            <br>
                            <b> Nhập host Server name Karaoke của bạn  : </b> <a href="#xuly" onclick="helpKara()" style="color:crimson">Hướng dẫn tạo host Server để play Karaoke của bạn</a>
                            <br>
                            <input readonly type="text" id="serverX" name="txtServer" size="80" placeholder="" value="@ViewBag.Server"/>
                            <br>
                        </td>
                    </tr>

                    <tr style="height:40px">
                        <td> </td>
                <td id="phan5" style="display:inline-block">
                    <br>
                        <b> Nhập bài hát Karaoke từ host server của bạn (lưu ý nhập chính xác) : </b>
                    <br>
                        <input id="baihatX" type="text" name="txtSong" size="80" placeholder="" value="@ViewBag.BaiHatSV"/>
                <br>
                </td>
                    </tr>

            <textarea id="songlist" hidden>@ViewBag.ListSong</textarea>

                <tr style="height:40px">
                    <td> </td>
                    <td id="phan6" style="display:inline-block">
                        <br>
                        <b style="color:aqua"> Bật mí tại thư mục root trên host server của bạn, bạn có thể tạo file <span style="color:yellowgreen">MyListSong.txt</span>, trong đó liệt kê các bài hát Karaoke (thư mục) đang tồn tại trên host server của bạn, mỗi bài hát phân biệt và cách nhau bởi kí tự Enter : </b>  <a id="getlist" href="#xuly" onclick="showlist()" style="color:crimson">Get all list song of your host server (click try again to finish)</a>
                        <br>
                        <br>
                        <b id="soluongSong" style="color:chartreuse"></b>
                        <br>
                        <span style="color:orangered"><u>Lưu ý</u> : Danh sách bên dưới có thể chưa được hoàn tất do file <span style="color:yellowgreen">MyListSong.txt</span> trên host server của bạn chưa được cập nhật !</span>
                        <br>
                        <br>
                        <select id="listsong" size="10" onclick="changesong()">
                            <option></option>
                        </select>
                        <br>
                    </td>
                </tr>
                }

                @if (ViewBag.ListSong == null || ViewBag.ListSong.Length == 0)
                {
                    <tr style="height:40px">
                        <td> </td>
                        <td id="phan1">
                            <br>
                            <b> Tải file TXT karaoke (đã xử lý) : </b>
                            <br>
                            <input type="file" name="txtKaraoke"/>  <b>@Html.ActionLink("Bạn chưa có file text karaoke?","CreateFile_Karaoke")</b>
                            <br>
                        </td>
                    </tr>

                    <tr style="height:40px">
                        <td> </td>
                        <td id="phan2">
                            <br>
                            <b> Tải file MP3 karaoke - nhạc gốc có giọng ca sĩ (đã xử lý) : </b>
                            <br>
                            <input type="file" name="txtMusix"/>
                            <br>
                        </td>
                    </tr>

                    <tr style="height:40px">
                        <td> </td>
                <td id="phan3">
                    <br>
                        <b> Tải file MP3 karaoke - nhạc beat tách giọng ca sĩ (karaoke - đã xử lý) : </b>
                    <br>
                        <input type="file" name="txtMusic"/>
                    <br>
                </td>
            </tr>
            }

             <tr style="height:40px">
                    <td> </td>
                    <td>
                        <br>
                        <h5 style="color:yellow">
                - Sử dụng các app/web bên ngoài để giúp tách nhạc và giọng ca sĩ (nếu bạn không có bản nhạc Karaoke)
                <br>
                - Sử dụng các app/web bên ngoài để tăng âm lượng cho âm thanh.
                <br>
                - Ngoài ra bạn có thể áp dụng sự hiểu biết về photoshop/hiệu chỉnh âm thanh khác cho thích hợp nhất!
            </h5>
                    </td>
                </tr>

                 <tr style="height:40px">
                <td></td>
                <td>
                      <select id="chonKara" onchange="chonKaraHay()">
                          <option>Sử dụng ngẫu nhiên ảnh/background có sẵn trên hệ thống</option>
                           <option>Sử dụng link ảnh/background online của bạn</option>
                           <option>Sử dụng link video/background online của bạn</option>
                            <option>Nhập link video Youtube online</option>
                      </select>
                      <input type="number" hidden id="chonKarax" name="KaraChon" value="1" min="1" max="4" />
                      <br><br>
                      <input name="txtOnline" id="online" size="100" style="display:none" type="text" placeholder="Nhập link online background của bạn thực hiện karaoke..." />
                     <br><span id="helpYoutube" style="color:red; display:none"><u>Lưu ý</u> : một số link Youtube có thể không khả dụng hoặc bạn nên cố gắng thử lại (và hãy tìm video youtube dài phút nhất có thể 😃)</span>
                </td>
            </tr>

            <tr style="height:40px">
                <td></td>
                <td>
                                     <br>
                        <input style="font-weight:bolder" type="Submit" id="okxem" value="Bắt Đầu" />
                </td>
            </tr>
    }
</table>
}
else
{
    <div class="video-overlay" id="play">
       <table align="center" onended="loadsolar()">
           <div id="hienlinh" style="display:none">
               <br>
               <br>
               <br>
               <br>
           </div>
           <b style="color:black; font-size:5px"><a style="color:black; font-size:5px" onclick="dongmomenu()" href="#xuly">...</a></b>
                      &nbsp;&nbsp;&nbsp;<br><br>
           <div id="menu" style="display:inline-block">
    <select id="chon" onchange="changeKara()">
        <option>Chế độ Karaoke</option>
        <option>Chế độ Ca sĩ hát</option>
    </select>&nbsp;&nbsp;&nbsp
    <button style="color:brown" onclick="loadsolar()" id="xanh"><b>FULL MÀN HÌNH - OFF</b></button>&nbsp;&nbsp;&nbsp;<b id="xemthumau" style="color:#2900f5">Chọn màu tô điểm text</b> : <input type="color" onchange="doimau()" id="mau" value="#2900f5" />
    &nbsp;&nbsp;&nbsp;<b id="xemmauthu" style="color:#efe6e6">Chọn màu đoạn text ban đầu</b> : <input type="color" onchange="doimauX()" id="mauX" value="#efe6e6" />
     &nbsp;&nbsp;&nbsp;<b id="xemmaudi" style="color:#e3f207">Chọn màu cho time đếm ngược bắt đầu karaoke</b> : <input type="color" onchange="doimauY()" id="mauY" value="#e3f207" />
      &nbsp;&nbsp;&nbsp; <br /><span style="color:red">Kích thước chữ : </span><input id="kichthuoc" type="number" min="0" value="80" onchange="doikichthuoc()"/>
        &nbsp;&nbsp;&nbsp;<span style="color:red">Vị trí xuất hiện : </span> <input id="hang" type="number" min="0" value="7" onchange="doihang()"/>
        &nbsp;&nbsp;&nbsp; <button onclick="ghinho()"><b style="color:lightcoral">Ghi nhớ các cài đặt</b></button>
        &nbsp;&nbsp;&nbsp; <b style="color:aqua"><a onclick="xemplay()" href="#xuly">Restart & full screen</a></b>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="StopKaraoke()"><b style="color:darkgreen">THOÁT</b></button>

    <br /><br /><b><span style="color:white">Xin lỗi, đôi khi vì sự cố kết nối mạng mà khiến cho chức năng Karaoke : nhạc và đoạn text lời xuất hiện không đồng nhất với nhau hay dữ liệu chưa được tải lên hết.
        <br>Mỗi khi gặp sự cố này, phiền bạn hãy nhấn nút <button style="color:purple" onclick="resetKaraoke()"><b>KHỞI ĐỘNG LẠI</b></button> để tải lại dữ liệu cho đến khi một cách hoàn tất. Xin cảm ơn!</span></b>
    <br />
    </div>

    <div id="hienthi">
    <br>
    <br>

    <br>

    <br>
    <br />

    <br>

    <br>
    <br />
        <br>
    
    <br>
    <br />
    <br>
      <br />
      <br>
        <br>
        <br>
        <br>
        <br>
        </div>

    <input type="text" id="txtKara1" hidden>
    <input type="text" id="txtKara2" hidden>

    <tr style="height:40px">
                <td></td>
                <td>
                       <span id="number" style="color:#e3f207; font-size:100px"></span>
                         <div style="text-align:center">
                        <div style="display:inline-block">
                          <p id="txtKaraoke1"><span id="xanhX1" class="word"></span></p>
                        <p id="txtKaraoke2"><span id="xanhX2" class="work"></span></p>
                        <span id="xui"></span>
                        </div>
                        </div>
                </td>
            </tr>                     
    
</table>
</div>
<div id="phanphoi">
@if(ViewBag.SuDung == "")
{
<img src="@ViewBag.Background" id="myVideo" class="sqs-html5-video" />
}
else if (ViewBag.SuDung == "Video")
{
<video muted loop autoplay id="myVideo" class="sqs-html5-video">
  <source src="@ViewBag.Background" >
            </video>
        }
        else
        {
            <iframe id="myVideo"
            src="@ViewBag.Background">
           </iframe>
        }
        </div>
    }
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    </div>
    }
</body>
</html>
