<script>
       var idSA;
    var so = 0;
    function xongroi()
    {
        document.getElementById("xong").style.display = "none";
        document.getElementById("loading").style.display = "inline-block";
        document.getElementById("loi1").innerHTML = "";
        document.getElementById("loi2").innerHTML = "";
        document.getElementById("ID-X").readOnly = true;
         document.getElementById("MSSV-X").readOnly = true;
        idSA = setInterval(myAlertX, 1000);
    }

    function myAlertX()
    {
        so++;
        if (so == 3)
        {
            document.getElementById("OKX").click();
             clearInterval(id);
            return;
        }
    }
</script>
<table align="center">
    <h2 style="text-align:center">Play Test Trắc Nghiệm - Online</h2>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <tr style="height:40px">
            <td> </td>
            <td>
                <br>
                <input id="ID-X" name="txtID" type="text" placeholder="Nhập ID liên kết bài với test trắc nghiệm" size="100" value="@ViewBag.ID" />
                <br>
                 <span id="loi1" style="color:red; font-style:italic">@ViewData["Loi1"] </span>
                <br>
                <input id="MSSV-X" name="txtMSSV" type="text" size="100" placeholder="Nhập mã số học sinh" value="@ViewBag.MSSV" />
                <br>
                <span id="loi2" style="color:red; font-style:italic">@ViewData["Loi2"] </span>
            </td>
        </tr>
      
        <tr style="height:40px">
            <td></td>
            <td><br>
                 <input style="font-weight:bolder" id="OKX" type="Submit" hidden />
            </td>
        </tr>
    }
    <br />
           <tr style="height:40px" id="xong">
                <td></td>
                <td>
                     <button><b onclick="xongroi()">BẮT ĐẦU LÀM BÀI</b></button>
                </td>
            </tr>
            <br>
             <tr style="height:40px">
                <td></td>
                <td>
           <img id="loading" src="/Image_Play/waiting.gif" style="display:none" />
                </td>
            </tr>
                <p style="color:deeppink">
                    <b style="color:darkred">* LƯU Ý (đọc hiểu và xác nhận):</b><br><br>
                    - Vui lòng đợi trang được tải hoàn tất dữ liệu trước khi bạn có thể bắt tay vào làm. Thông thường, giáo viên sẽ khuyến mãi cho bạn từ 3 - 5 phút thời gian làm bài để có thể chuẩn bị và hoàn tất tải dữ liệu của bài thi.<br />
                    - Khi bạn nhấn nút "Bắt đầu làm bài" đồng nghĩa thời gian làm bài của bạn đã bắt đầu được tính.<br>
                    - Sau khi hết thời gian làm bài quy định, hệ thống sẽ tự động nộp bài. Hoặc bạn có thể tự nộp thủ công (kiểm tra kỹ bài làm của mình trước khi hoàn thành).<br>
                    - Các câu hỏi trắc nghiệm luôn được phê duyệt thường xuyên (bao gồm đáp án, đánh giá năng lực và phân loại) bởi các giáo viên. Và xin lưu ý thêm, khi bạn hoàn thành bài kiểm tra thì hệ thống sẽ chỉ lưu trữ thông tin về bạn như (MSSV, ID liên kết trắc nhiệm bạn đã thực hiện,...) và kết quả điểm bài thi đó của bạn.<br>
                    - Ngân hàng server đề thi của liên kết trắc nghiệm được biên soạn rất nhiều câu hỏi đa dạng, mỗi học sinh khi đăng nhập sẽ được random các câu hỏi và đảo lộn khác nhau. Khi công bố điểm, giáo viên chỉ có thể cung cấp điểm mà bạn đã đạt được chứ không thể biết bạn đã làm những câu nào, đúng câu nào, sai câu nào (vì lí do bảo mật nên bạn hãy chú ý điều này).<br>
                    - Hãy đảm bảo kết nối Internet và thực hiện nghiêm túc trong suốt quá trình làm bài (không tự ý load lại trang hay ra khỏi khu vực đang thi). Mỗi học sinh chỉ được phép làm bài kiểm tra một lần cho mỗi đợt thi.<br>
                    - Nếu bạn gặp bất kỳ sự cố nào, hãy liên hệ với giáo viên để được xử lý kịp thời!
                </p>
</table>
