@model MyWebPlay.Model.TracNghiem

<script>

    //---------------------------------------------------------
    function themhinhanh(i)
    {
        if (document.getElementById("hinhanh-"+i).value == "")
        return;

        if (document.getElementById("anhX-"+i).value.includes(document.getElementById("hinhanh-"+i).value) == true)
        return;

        var chon = document.getElementById("chonanh-"+i);
        chon.innerHTML += "<option>"+ document.getElementById("hinhanh-"+i).value+"</option>";
        chon.options.selectedIndex = 0;

        document.getElementById("anhX-"+i).value += document.getElementById("hinhanh-"+i).value +"\n";
        document.getElementById("hinhanh-"+i).value = "";

        var x = new Number(document.getElementById("soluong-"+i).innerHTML);
        document.getElementById("soluong-"+i).innerHTML = (x+1)+"";
    }

    function xoahinhanh(i)
    {
        if (document.getElementById("chonanh-"+i).options.selectedIndex == 0)
        return;

         document.getElementById("anhX-"+i).value = document.getElementById("anhX-"+i).value.replaceAll(document.getElementById("chonanh-"+i).value+"\n","");

        var chon = document.getElementById("chonanh-"+i);
        chon.remove(chon.selectedIndex);

        var x = new Number(document.getElementById("soluong-"+i).innerHTML);
        document.getElementById("soluong-"+i).innerHTML = (x-1)+"";
        chon.options.selectedIndex = 0;
    }

    function chondapan(i,s)
    {
        document.getElementById("ans-"+i).options.selectedIndex = s;

        var A = document.getElementById("dapanA-"+i);
        var B = document.getElementById("dapanB-"+i);
        var C = document.getElementById("dapanC-"+i);
        var D = document.getElementById("dapanD-"+i);

        if (s == 1)
        {
            A.style.color = "red";
            B.style.color = "white";
            C.style.color = "white";
            D.style.color = "white";
        }
        else if (s == 2)
        {
            A.style.color = "white";
            B.style.color = "red";
            C.style.color = "white";
            D.style.color = "white";
        }
        else if (s == 3)
        {
            A.style.color = "white";
            B.style.color = "white";
            C.style.color = "red";
            D.style.color = "white";
        }
        else if (s == 4)
        {
            A.style.color = "white";
            B.style.color = "white";
            C.style.color = "white";
            D.style.color = "red";
        }
    }

    function loading()
    {
         var an = document.getElementById("answerX").value.split("\n");

    for (var i =0 ; i< new Number('@ViewBag.TongCau'); i++)
    {
        var A = document.getElementById("dapanA-"+i);
        var B = document.getElementById("dapanB-"+i);
        var C = document.getElementById("dapanC-"+i);
        var D = document.getElementById("dapanD-"+i);

       var answer = new Number(an[i]);
       document.getElementsByClassName("dapanX")[i].options.selectedIndex = answer;

       if (answer == 1)
       {
             A.style.color = "red";
            B.style.color = "white";
            C.style.color = "white";
            D.style.color = "white";
       }
       else if (answer == 2)
       {
            A.style.color = "white";
            B.style.color = "red";
            C.style.color = "white";
            D.style.color = "white";
       }
        else if (answer == 3)
       {
            A.style.color = "white";
            B.style.color = "white";
            C.style.color = "red";
            D.style.color = "white";
       }
        else if (answer == 4)
       {
            A.style.color = "white";
            B.style.color = "white";
            C.style.color = "white";
            D.style.color = "red";
       }

     }
      alert("Thành công, mời bạn kiểm tra lại!");
   }

   function refresh()
    {

    for (var i =0 ; i< new Number('@ViewBag.TongCau'); i++)
    {
       document.getElementsByClassName("dapanX")[i].options.selectedIndex = 0;
        var A = document.getElementById("dapanA-"+i);
        var B = document.getElementById("dapanB-"+i);
        var C = document.getElementById("dapanC-"+i);
        var D = document.getElementById("dapanD-"+i);

          A.style.color = "white";
            B.style.color = "white";
            C.style.color = "white";
            D.style.color = "white";
     }

      alert("Thành công, mời bạn kiểm tra lại!");
   }


    var timeX = '@ViewBag.TimeLamBai' * 60;

    var id = setInterval(myAlert, 1000);

    function myAlert() {

        if ('@ViewBag.TimeLamBai' != "")
        {
       var t = document.getElementById("Time");

       var h = Math.floor(timeX / 3600);
       var m = Math.floor((timeX / 60) % 60) ;
       var s = timeX % 60;

        if (h< 10 && m < 10 && s < 10)
                t.innerHTML = "0" + h + " : 0" + m + " : 0" + s;
            if (h < 10 && m < 10 && s >= 10)
                t.innerHTML = "0" + h + " : 0" + m + " : " + s;
            if (h < 10 && m >= 10 && s < 10)
                t.innerHTML = "0" + h + " : " + m + " : 0" + s;
            if (h < 10 && m >= 10 && s >= 10)
                t.innerHTML = "0" + h + " : " + m + " : " + s;
            if (h >= 10 && m < 10 && s < 10)
                t.innerHTML = "" + h + " : 0" + m + " : 0" + s;
            if (h >= 10 && m < 10 && s >= 10)
                t.innerHTML = "" + h + " : 0" + m + " : " + s;
            if (h >= 10 && m >= 10 && s < 10)
                t.innerHTML = "" + h + " : " + m + " : 0" + s;
            if (h >=10 && m >= 10 && s >= 10)
                t.innerHTML = "" + h + " : " + m + " : " + s;

            timeX--;

            if (timeX == -1)
            {
                alert('Đã hết thời gian làm bài...\nBấm OK - Bài kiểm tra của bạn sẽ được nộp đánh giá sau đó!');
                clearInterval(id);

                var ok = document.getElementById("OKX");
                ok.click();
            }
         }
    }

</script>

@if (ViewBag.ND_File != null)
{
    <button onclick="loading()"><b style="color:dodgerblue">Click vào đây để cập nhật các answer hiện có từ file của bạn</b></button><br /><br />
     <button onclick="refresh()"><b style="color:darkred">Click to refresh all answer setting</b></button>
   <textarea hidden id="answerX">@ViewBag.SettingAnswer</textarea>
           var ND_File = ViewBag.ND_File;
            ViewBag.ND_File = ND_File;
}

<table align="center">
    <h2 style="text-align:center;color:lightsalmon">Play Test Trắc Nghiệm</h2>

    <h3 style="color:aqua">@ViewBag.KetQuaDung</h3>
    <h3 style="color:aqua">@ViewBag.KetQuaSai</h3>
    <h3 style="color:aqua">@ViewBag.KetQuaChuaLam</h3>
    <h2 style="color:lightgreen">@ViewBag.KetQuaDiem</h2>
   <br />

   @if (TempData["Socola"] != null && TempData["Socola"].ToString() == "hay")
   {
        <h3 style="color:yellow">@Html.Raw(ViewBag.KetQua)</h3>
    }
    else
    {
    @using (Html.BeginForm("PlayTracNghiem", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)

        <input type="text" readonly name="TongSoCau" value="@ViewBag.TongSoCau" hidden />
        <input type="text" readonly name="GioiHanCau" value="@ViewBag.GioiHanCau" hidden />
        <input type="text" readonly name="TimeLamBai" value="@ViewBag.TimeLamBaiX" hidden />
        <input type="text" readonly name="TenMon" value="@ViewBag.TenMon" hidden>

        <textarea name="File_ND" hidden>@ViewBag.ND_File</textarea>
        <textarea readonly name="CauHoi" hidden>@ViewBag.CauHoi</textarea>
        <textarea readonly name="A" hidden>@ViewBag.A</textarea>
        <textarea readonly name="B" hidden>@ViewBag.B</textarea>
        <textarea readonly name="C" hidden>@ViewBag.C</textarea>
        <textarea readonly name="D" hidden>@ViewBag.D</textarea>
         <textarea readonly name="Dung" hidden>@ViewBag.Dung</textarea>

            <br />
        <br />
            <b>Tên môn học/kỳ kiểm tra : @Model.tenmon</b>
            <br />
        <b>Tổng số câu cần làm : @Model.gioihancau/@Model.tongsocau</b>
        <br />
            <b>Thời gian làm bài : @Model.timelambai phút
                     @if (ViewBag.TimeLamBai != null)
                     {
                <span style="color:red">
                <h2 id="Time">00 : 00 : 00</h2></span>
                     }
                </b>
        <br />
        <br />
        <hr />

        @for (int i = 0; i < @Model.gioihancau; i++)
        {
            <tr style="height:40px">
                <td></td>
                        <td><h4><b style="color:yellow">Câu số @(i + 1)</b>. @Html.Raw(Model.ch[@i])</h4></td>
            </tr>

             @if (ViewBag.ND_File != null)
                            {
                                <tr style="height:40px">
                  <td></td>
     <td>
                      <h4><input type="text" size="50" placeholder="Nhập link hình ảnh online cần thêm" id="hinhanh-@i" /> <textarea cols="50" rows="20" name="anh-@i" id="anhX-@i" style="display:none"></textarea>
                          <select name="kichthuoc-@i">
                              <option>100x100</option>
                              <option>300x300</option>
                              <option>500x500</option>
                              <option>500x1000</option>
                          </select> 
                          <a onclick="themhinhanh(@i)" href="#xuly">THÊM</a> <span id="soluong-@i" style="color:deeppink">0</span></h4>
                      <h4><b><select id="chonanh-@i">
                               <option></option> 
                            </select></b> <a onclick="xoahinhanh(@i)" href="#xuly">XOÁ</a> || <a href="#" onClick="MyWindow=window.open(document.getElementById('chonanh-@i').value,'MyWindow','width=500,height=500'); return false;">XEM HÌNH ẢNH</a></h4><br>
    
                </td>
     </tr>
                        
                            }

            <tr style="height:40px">
                <td></td>
                @if(ViewData["KetQua-"+@i] ==  null)
                {
                        <td>
                            <h4><b> <a href="#@(i+1)" onclick="chondapan(@i,1)"><span id="dapanA-@i" style="color:white">A. @Html.Raw(Model.a[@i])</span></a></b></h4> 
                            </td>
                }
                else
                {
                         <td><h4><b>A. @Html.Raw(Model.a[@i])</b></h4> </td>
                }
            </tr>

          
                     <tr style="height:40px">
                         <td></td>
                @if(ViewData["KetQua-"+@i] ==  null)
                {
                        <td><h4><b> <a href="#@(i+1)" onclick="chondapan(@i,2)"><span id="dapanB-@i" style="color:white">B. @Html.Raw(Model.b[@i])</span></a></b></h4> </td>
                }
                else
                {
                         <td><h4><b>B. @Html.Raw(Model.b[@i])</b></h4> </td>
                }
                    </tr>

      
                             <tr style="height:40px">
                                          <td></td>
                @if(ViewData["KetQua-"+@i] ==  null)
                {
                        <td><h4><b> <a href="#@(i+1)" onclick="chondapan(@i,3)"><span id="dapanC-@i" style="color:white">C. @Html.Raw(Model.c[@i])</span></a></b></h4> </td>
                }
                else
                {
                         <td><h4><b>C. @Html.Raw(Model.c[@i])</b></h4> </td>
                }
                    </tr>

                    
              

                             <tr style="height:40px">
                                          <td></td>
                 @if(ViewData["KetQua-"+@i] ==  null)
                {
                        <td><h4><b> <a href="#@(i+1)" onclick="chondapan(@i,4)"><span id="dapanD-@i" style="color:white">D. @Html.Raw(Model.d[@i])</span></a></b></h4> </td>
                }
                else
                {
                         <td><h4><b>D. @Html.Raw(Model.d[@i])</b></h4> </td>
                }
                    </tr>

                    
             

                    @if(ViewData["KetQua-"+@i] ==  null)
                    {
                                <tr style="height:40px">
                                                 <td></td>
                                    <td>
  <h3>
      <select name="dapan-@i" class="dapanX" id="ans-@i" style="display:none">
      <b>
           <option></option>
          <option>A</option>
          <option>B</option>
          <option>C</option>
          <option>D</option>
          </b>
                                    </select>                    
                            </h3><br>
        </td>
                            </tr>
                    }
                    else
                    {
 <tr style="height:40px">
                  <td></td>
     <td>
         @Html.Raw(ViewData["ketqua-"+@i])
                       <h4>@Html.Raw(ViewData["dapandachon-"+@i])</h4> 
                        <h4>@Html.Raw(ViewData["dapandung-"+@i])</h4>
                        <br>
                </td>
     </tr>
                    }
        }

        @if (ViewBag.KetQuaDung == "")
        {
                <tr style="height:40px">
                    <td></td>
                    <td>
                        <input onclick="okroi()" style="font-weight:bolder" id="OKX" type="Submit" value="Đánh Giá Bài Làm" />
                        <br>
                            <p style="color:orange">Lưu ý : kiểm tra thật kỹ toàn bộ bài làm trước khi xem kết quả!</p>
                    </td>
            </tr>
        }
        else
        {
           <h3>@Html.ActionLink("Thực hiện bài test trắc nghiệm mới", "TracNghiemX_Multiple")</h3>
           <br />
        }
      }
    }
</table>
