@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> @Html.Raw(TempData["HTML-added"])
<script>
    var tim1 = 30;
    var idX1 = setInterval(myFay1, 1000);
    
    function myFay1()
    {
      if ($('#thoigian1').length)
      {
       var va = document.getElementById("thoigian1");
       va.innerHTML = tim1;
       tim1--;
       if (va.innerText == 0)
       {
           clearInterval(idX1);
           window.location.href="/Home/XoaAllFile_X1";
       }
      }
    }
    
    var tim2 = 30;
    var idX2 = setInterval(myFay2, 1000);
    
    function myFay2()
    {
      if ($('#thoigian2').length)
      {
       var va = document.getElementById("thoigian2");
       va.innerHTML = tim2;
       tim2--;
       if (va.innerText == 0)
       {
           clearInterval(idX2);
           window.location.href="/Home/XoaAllFile_X2";
       }
      }
    }
    
    var tim3 = 30;
    var idX3 = setInterval(myFay3, 1000);
    
    function myFay3()
    {
        if ($('#thoigian3').length)
      {
       var va = document.getElementById("thoigian3");
       va.innerHTML = tim3;
       tim3--;
       if (va.innerText == 0)
       {
           clearInterval(idX3);
           window.location.href="/Home/XoaKaraoke";
       }
      }
    }
</script>
}
<script>
    var not = 0;
    setInterval(function()
    {
        if (not == 1) return;
    
        var music = document.getElementById("music").readyState;
    
        if (music == 4 || ('@TempData["ajax_on_no_upload"]' != null && '@TempData["ajax_on_no_upload"]' != ""))
        {
            document.getElementById("xuxu").style.display = "inline-block";
            document.getElementById("lainhac").style.display = "inline-block";
             document.getElementById("loading1").style.display = "none";
             not = 1;
        }
    },10);

    function chonlainhac(input)
    {
        var audio = document.getElementById("music");
        const file = input.files[0];
        const url = URL.createObjectURL(file);

        audio.src = url;
    }
    
    var playmute = 0;
    
    function ketquaplay()
    {
        playmute = 1;
    }
    
    function playketqua()
    {
        playmute = 0;
        document.getElementById("muteplay").play();
    }
    
        var LBH= [];
        var time_XuatHien= [];
        var time_LuuVet= [];
        var n = 0;
        var nn = 0;
        var k = 0;
        var t = 10;
    
        var id;
        var flox = 0;
    
        function startplay()
        {
            if ('TempData["ajax_on_no_upload"]' != null && 'TempData["ajax_on_no_upload"]' != "")
            {
                if (document.getElementById("bannhac").files.length == 0)
                {
                    alert("Vui lòng chọn/tải lên lại file mp3 karaoke để xử lý ....");
                    return;
                }
            }


            var music = document.getElementById("music");
            if (music.duration == 0 || playmute == 0)
              {
                  alert("Hệ thống đang chuẩn bị sẵn sàng...\nHãy chờ và thử lại sau!")
            return;
              }
    
             music.play();
             document.getElementById("xuxu").style.display = "none";
             document.getElementById("lainhac").style.display = "none";
             document.getElementById("LBH2").innerHTML = "&nbsp;";
             document.getElementById("balax").style.display = "none";
             phat = 1;
             window.scrollTo(0, document.body.scrollHeight);
        }
    
    
    function PlayKaraoke()
    {
       var music = document.getElementById("music");
    
       music.style.display = "none";
    
       var xong = document.getElementById("xong");
       xong.style.display = "block";
    
      // document.getElementById("txtVD").focus();
    
       t = 0;
               
                //--------------------------------
    
                LBH = document.getElementById("Lyric").value.split(/\r|\n/);
                time_XuatHien = [];
                time_LuuVet = [];
                n = 0;
                k = 0;
                nn = 0;
                
                 id = setInterval(myAlert, 100);
    }
    
    function myAlert()
    {
       t++;
       var music = document.getElementById("music").currentTime + "";
       var time = music.split('.');
       var tgian = new Number(time[0]);
         var h = Math.floor(tgian / 3600);
       var m = Math.floor((tgian / 60) % 60);
       var s = tgian % 60;
    
        if (flox == 0 && h == 0 && m == 0 && s == 1 && t > 0)
       {
           flox = 1;
           document.getElementById("error").style.display = "inline-block";
       }
    
        if (h< 10 && m < 10 && s < 10)
                document.getElementById("tgian").innerHTML = "ĐANG PHÁT - "+ "0" + h + " : 0" + m + " : 0" + s;
            if (h < 10 && m < 10 && s >= 10)
                document.getElementById("tgian").innerHTML = "ĐANG PHÁT - "+ "0" + h + " : 0" + m + " : " + s;
            if (h < 10 && m >= 10 && s < 10)
                document.getElementById("tgian").innerHTML = "ĐANG PHÁT - "+ "0" + h + " : " + m + " : 0" + s;
            if (h < 10 && m >= 10 && s >= 10)
                document.getElementById("tgian").innerHTML = "ĐANG PHÁT - "+ "0" + h + " : " + m + " : " + s;
            if (h >= 10 && m < 10 && s < 10)
                document.getElementById("tgian").innerHTML = "ĐANG PHÁT - "+ "" + h + " : 0" + m + " : 0" + s;
            if (h >= 10 && m < 10 && s >= 10)
                document.getElementById("tgian").innerHTML = "ĐANG PHÁT - "+ "" + h + " : 0" + m + " : " + s;
            if (h >= 10 && m >= 10 && s < 10)
                document.getElementById("tgian").innerHTML = "ĐANG PHÁT - "+ "" + h + " : " + m + " : 0" + s;
            if (h >=10 && m >= 10 && s >= 10)
                document.getElementById("tgian").innerHTML = "ĐANG PHÁT - "+ "" + h + " : " + m + " : " + s;
    }
    
    var idSo;
    var so = 0;
    var xw = new Number('@TempData["Time_Waiting"]') * 6;
                    function myAlertSo()
                    {
                        if (so == xw)
                        {
                             var ok = document.getElementById("ok");
                             ok.style.display = "block";
                              document.getElementById("loading").style.display = "none";
                             clearInterval(idSo);
                            return;
                        }
    
                        so++;
                    }
    
    function xulyKaraoke()
    {
       var ss = "";
            for (var i = 0; i<LBH.length;i++)
            {
                if (LBH[i] != "[Empty]" && LBH[i] != "[Empty-X]")
                {
    
                         var lbh = LBH[i].split(' ');
                            var kk = "";
                            for (var j = 0; j< lbh.length;j++)
                            {
                                kk += lbh[j];
                                if (j < lbh.length - 1 && j != (lbh.length / 2) - 1)
                                    kk += " ";
    
                                    var x = 0;
                                    if (lbh.length % 2 != 0)
                                    x = lbh.length + 1;
                                    else
                                    x = lbh.length;
    
                                if (j == (x / 2) - 1)
                                    kk += "*";
                            }
                            ss += time_XuatHien[i] + "#" + kk + "#" + time_LuuVet[i];
                }
                else
                    ss += time_XuatHien[i] + "#" + LBH[i];
                if (i < LBH.length - 1)
                    ss += "\n";
            }
            clearInterval(id);
            document.getElementById("Lyrix").value = ss;
             var xong = document.getElementById("xong");
       xong.style.display = "none";
      document.getElementById("loading").style.display = "inline-block";
      document.getElementById("textLBH").style.display = "none";
      document.getElementById("tgian").style.display = "none";
      document.getElementById("music").pause();
            alert("Đã xử lý thành công nội dung text Karaoke cho mp3 của bạn đã phân tích. Cuối cùng, hãy đợi quá trình xử lý thêm một lúc và click nút Hoàn tất sau khi xuất hiện!");
            idSo = setInterval(myAlertSo, 1000);
    }
    
    var phat = 0;
    
     document.addEventListener("DOMContentLoaded", (event) => {
                    document.body.addEventListener("keydown", (e) => {
                         //document.getElementById("txtVD").value = "";
    
                         if (phat == 0) return;
    
                 if (e.keyCode == 13)
                 {
             var lbh = document.getElementById("BH2").value.split(' ');
             if (lbh[k] != undefined && lbh[k] != null)
             {
                nn += lbh[k].length + 1;
    
                document.getElementById("LBH1").innerHTML = new String (document.getElementById("BH2").value).substring(0,nn).toUpperCase();
                document.getElementById("LBH2").innerHTML = new String (document.getElementById("BH2").value).substring(nn,document.getElementById("BH2").value.length).toUpperCase();
    
                time_LuuVet[n-1] += t + "-" + nn;
                if (k < lbh.length - 1)
                    time_LuuVet[n - 1] += ",";
                    k++;
              }
           }
           else if (e.keyCode == 32)
           {
                k = 0;
                nn = 0;
                document.getElementById("LBH2").innerHTML = new String(LBH[n]).toUpperCase();
               document.getElementById("LBH1").innerHTML = "";
    
                document.getElementById("BH2").value = LBH[n];
                document.getElementById("BH1").value = "";
    
                time_XuatHien[n] = t;
                n++;
           }
                    });
                });
    
    
</script>
@if (ViewBag.KaraX == "")
{
<h3 style="color:aqua">[THÔNG BÁO]<br /><br />Xin vui lòng không refresh lại trang này vì sẽ làm mất dữ liệu...<br />Nếu bạn vô tình làm như vậy, hãy quay lại trang trước đó và thử lại!</h3>
<br />
}
<h3 style="color:deeppink">@Html.Raw(@ViewBag.FileKaraoke)</h3>
<br /><br />
@if (ViewBag.KaraX == "")
{
<audio id="muteplay" autoplay hidden onplaying="ketquaplay()" onpause="playketqua()" onended="playketqua()" muted>
    <source src="/karaoke_Example/ExamKara/KaraokeDemo.mp3" type="audio/mpeg">
</audio>
<table align="center">
    <h2 style="text-align:center">Create File Your Karaoke - Online</h2>
    <br />
    <h2 style="color:red">HƯỚNG DẪN THỰC HIỆN - VUI LÒNG ĐỌC KỸ TRƯỚC KHI THỰC HIỆN</h2>
    - Sẵn sàng nghe nhạc mp3 của bạn cùng ca sĩ hát để xác định thời điểm của mỗi khúc/đoạn và mỗi từ  có trong lyric mà ca sĩ sẽ hát.
    <br>
    - Nếu bạn đã chuẩn bị sẵn sàng, nhấn nút Start Play và nghe bản nhạc của bạn bên dưới. Trong khi đang nghe, bạn sẽ vừa thao tác để tiến hành tạo file Karaoke của bạn.
    <br>
    - Cách thực hiện : vừa nghe nhạc, đồng thời hai ngón tay của bạn luôn giữ phím <b>Enter</b> và <b>Space</b> để thao tác trong suốt quá trình.
    <br>
    + Nếu ca sĩ sắp hát đến đoạn lyric nào, hãy nhấn <b>Space</b> (đoạn lyric đó sẽ xuất hiện - ca sĩ sắp hát đến đoạn đó (nên dành thời gian 1-3 giây hoặc từ 5-8 giây (nếu sau nhạc dạo)).
    <br>
    + Nếu ca sĩ đang hát đến từ nào trong đoạn lyric, hãy nhấn phím <b>Enter</b> (màu chữ của từ đó sẽ được tô) - ngoại trừ các đoạn nhạc dạo <b>[Empty]</b> bạn có thể bỏ qua mà không cần gõ để tô màu đoạn này!
    <br>
    + Và thực hiện tương tự cho đến khi hết bài hát!
    <br />
    LƯU Ý : trong suốt quá trình thực hiện, bạn không nên có bất kỳ thao tác nào khác ngoài việc bạn chỉ cần giữ và canh gõ 2 phím : <b>Enter</b> và <b>Space</b>.
    <div id="balax">
        <br /><u>XIN LỖI VÌ SỰ BẤT TIỆN</u> : mọi thao tác sai, bạn phải thực hiện lại từ đầu :)) - khi dò xét mỗi đoạn lyric mà đoạn đó có bao nhiêu từ thì bạn chỉ gõ đúng số lần đó (VD : đoạn lyric có 5 từ sẽ tương ứng chỉ đủ 5 lần gõ phím <b>Enter</b> của bạn [tô màu đủ số từ đang hiển thị]  tại đoạn Lyric đang dò xét đó - không nên nhấn lố hay thiếu (hãy cẩn thận)) ... Chúc bạn thành công!😄
        <br />
        <span style="color:orangered">Thông tin bổ sung : hiện tại dịch vụ thiết kế Karaoke của my web play chỉ là một tính năng nhỏ, cơ bản và có thể không được hoàn hảo như bạn mong muốn; có lẽ bạn phải tự thử đi thử lại nhiều lần (tuỳ vào cảm nhận của bạn về ứng dụng và lần sau khi tạo bản karaoke khác, sẽ dựa vào kinh nghiệm của bạn và theo phong cách của bạn - lúc đó bạn có thể tự tạo cho mình cách thiết kế karaoke từ my web play vì bạn đã hiểu được cách mà ứng dụng này nó hoạt động ra sao (mỗi người mỗi nhu cầu và cách xử lý sẽ khác nhau 😂). Thành thật xin lỗi vì điều này, nhưng mình sẽ cố gắng nâng cấp phiên bản mới tốt hơn từng ngày nếu có thể). Và trong khi play, nếu gặp một từ mà ca sĩ hát kéo dài (đoạn hơi dài), gợi ý bạn vui lòng đợi sau khi ca sĩ sắp và gần chót hát xong từ đó thì mới hãy tô màu cho từ chữ đó mà singer đang đã ca xong; còn nếu từ đó được singer ca và lấy hơi kéo quá dài thì bạn hãy bổ sung đại diện các dấu ba chấm sau từ đang ca đó - VD :"🎼 Hò ... ... ơi ..." (tuỳ chọn và tuỳ độ dài) và cũng tô màu cho chúng (tốt hơn hết đừng vì một từ mà đợi/kéo dài quá 0.3 giây mới tô) 😀.</span>
        <br /><span style="color:green">Hiện nay bạn đã có thể chờ và tô màu từ text đó theo quãng và tốc độ hát của ca sĩ vào đúng thời điểm thực tế, nhưng cho dù vậy bạn cũng không nên quá lố và quá sức... Mọi sự ở đây đều là hên xui (hướng dẫn này chỉ là một phần), hãy tự học hỏi - cảm nhận và tự sáng tạo và rút ra kinh nghiệm của mình và cho ra những sản phẩm karaoke theo ý bạn nhé 😎</span>
        <br /><br />
        <h3 style="color:red">TỔNG HỢP MẸO XỬ LÝ - GIÚP CHO KARAOKE CÓ TIẾN TRÌNH/THIẾT KẾ KHI PLAY SẼ MƯỢT MÀ VÀ CHUẨN HƠN</h3>
        <br >
        <span style="color:chartreuse">
        - Hai ngón tay của bạn luôn canh và giữ 2 phím : Enter và Space. Nhấn Space khi muốn chuyển sang đoạn khác và ca sĩ cũng sắp hát đến đoạn đó. Và nhấn Enter khi ca sĩ đang hát đến từ đó (tô màu chữ theo tiến độ mà ca sĩ đang hát).
        <br />
        - Bạn cần phải nắm rõ tiến độ và lời bài hát (file mp3) mà ca sĩ đã trình bày để việc canh giữ phím Enter và Space của bạn sẽ được chuẩn xác hơn so với thực tế.
        <br>
        - Đối với các đoạn nhạc dạo giữa :
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;+ Nếu bạn để là [Empty] thì màn hình phần text karaoke khi play sẽ được để trống, khi ca sĩ sắp hát tiếp sẽ tự động có bộ đếm ngược cho biết sắp bắt đầu hát/sắp bắt đầu vô nhịp mới. Lưu ý thêm, ở cái đoạn mới (hát tiếp) sau khi sắp hết đoạn nhạc dạo thì bạn canh gõ phím Enter một cách sớm nhất có thể nhé, vì còn phải chừa thời gian cho bộ đếm ngược thời gian bắt đầu hát đó nữa 😁 (cái này cũng tương tự như lúc đầu nữa nhé)...
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;+ Nếu bạn để lả [Empty-X] thì cũng tương tự như trên, nhưng nó sẽ không có bộ đếm ngược (trường hợp này sử dụng khi nhạc dạo ngắn).
        <br />
        - Mặc dù được khuyên là gõ Enter khi ca sĩ đang/đã hát đến từ đó. Nhưng cách tốt nhất là đợi ca sĩ hát xong từ đó và cũng vừa dứt câu từ đó thì bạn mới gõ Enter để tô màu chữ đó (đậc biệt là khi ca sĩ hát cái từ đó và được kéo dài ra). Tuy nhiên, cũng có một số trường hợp mà ca sĩ đã hát xong từ đó (miệng ca sĩ đang im lặng một khoảng thời gian) rồi sau đó mới hát tiếp câu từ tiếp theo; đối với trường hợp này bạn có thể bổ sung giữa 2 từ này một kí tự đại diện phân cách để có thể đại diện cho độ nghỉ này (cũng canh và tô màu tương tự)...
        <br />
        => Nói chung bạn thử chơi Karaoke vài lần và tự rút kinh nghiệm là biết à (mình cũng không biết nói sao nữa, bạn cố gắng lên nhé 💕😂😁)...
        </span>
        <br />
        <br />
        <h3 style="color:deeppink">Nếu bạn đã hiểu và sẵn sàng, nhấn nút START PLAY và bắt đầu nghe nhạc của bạn : </h3>
    </div>
    <br />
    <b style="color:red;display:none" id="error">⚠️ Cảnh báo về một lỗi có thể xảy ra nếu bạn tiếp tục thực hiện, vui lòng thử thao tác lại sau.</b>
    <br />
    <audio id="music" onplay="PlayKaraoke()" hidden>
        <source src="@TempData["Music"]" type="audio/mpeg">
    </audio>
    <br />
    <button style="color:olive;display:none" id="xuxu" onclick="startplay()"><b>START PLAY</b></button>
    <br />
    <span id="lainhac" style="display:none"><input type="file" id="bannhac" onchange="chonlainhac(this)" /><b style="color:lawngreen"> Chọn lại bản nhạc hiện tại (nên làm thêm bước này)</b></span>
    <br />
    <span style="color:red">Nếu trước đó bạn chưa chọn tải lên file mp3 karaoke để xử lý hay đơn giản bạn nếu muốn chọn lại file khác thì thực hiện lại một lần nữa tại đây nhé 🌞 ...</span><br />
    <img id="loading1" src="/Image_Play/waiting.gif" />
    <br />
    <b id="tgian" style="color:deeppink; font-size:20px"></b>
    <br /><br />
    <button style="display:none" id="xong" onclick="xulyKaraoke()"><b>XONG - XỬ LÝ FILE KARAOKE</b></button>
    <br>
    <img id="loading" src="/Image_Play/waiting.gif" style="display:none" />
    <br /><br />
    <textarea rows="30" cols="50" id="Lyric" hidden>@TempData["Lyric"]</textarea>
    <input type="text" id="BH1" hidden />
    <input type="text" id="BH2" hidden />
    <h1 id="textLBH" style="background-color:orangered"><span id="LBH1" style="color:blue"></span>
        <span id="LBH2" name="colorX" style="color:@TempData["mau_text"]">&nbsp;</span>
    </h1>
    <br /><br />
    <p hidden>
        @using (Html.BeginForm("PlayCreateFile_Karaoke", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
        @Html.ValidationSummary(true)
        <textarea rows="30" cols="50" id="Lyrix" name="txtLyric"></textarea>
        <tr style="height:40px">
    <td></td>
    <td>
    <input id="ok" style="font-weight:bolder; display:none" type="Submit" value="HOÀN TẤT" />
    </td>
    </tr>
    }
    </p>
</table>
}