@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true; if (document.body) document.body.style.visibility= "visible"; 
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true; if (document.body) document.body.style.visibility= "visible"; 
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
<script>
    function xoa()
    {
        var con = confirm("Bạn có chắc chắn muốn xoá/refresh the random layout?");
        if (con == true)
        window.location.href = "/Home/XoaLayout";
    }
    
    function changexem()
    {
         if (document.getElementById("chon").options.selectedIndex == 0)
        {
            document.getElementById("text1").style.display = "inline-block";
            document.getElementById("text2").style.display = "none";
        }
        else
        {
            document.getElementById("text2").style.display = "inline-block";
            document.getElementById("text1").style.display = "none";
        }
    }
</script>
<div style="opacity:@TempData["opacity-body-css"]" id="custom886">
<button onclick="xoa()" id="custom887"><b style="color:red" id="custom888">XOÁ</b></button>
<h3 style="color:pink" id="custom889"> @ViewBag.DateTime </h3>
<br /><br />
<h3 id="custom890">@Html.ActionLink("Chỉnh sửa Layout", "EditLayout")</h3>
<br />
<select id="chon" onchange="changexem()">
    <option id="custom891">Xem dưới dạng text</option>
    <option id="custom892">Xem dưới dạng HTML</option>
</select>
<br />
<table align="center" id="custom893">
    <h2 style="text-align:center" id="custom894">Text Layout Random File</h2>
    <tr style="height:40px" id="custom895">
        <td id="custom896">
        </td>
        <td id="custom897">
            <br>
            <br>
            <hr />
            <br />
            <div id="text1">
                <textarea rows="500" cols="150" name="txtText" readonly placeholder="Nội dung view layout file hiện đang trống..." autofocus id="custom898">@ViewBag.Text</textarea>
            </div>
            <div id="text2" style="display:none">
                @Html.Raw(ViewBag.Text)
            </div>
            <br />
            <hr />
            <br /><br />
        </td>
    </tr>
</table>
<script>
     // Delete div somee
     setInterval(function()
                {
                     $(document).ready(function () {
                $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
                $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
                $("div[onmouseover='S_ssac();']").remove();
                $("center").remove();
                $("div[style='height: 65px;']").remove();
            }); 
        },10);
</script>
<br />
<h3 id="custom899">@Html.ActionLink("Chỉnh sửa Layout", "EditLayout")</h3>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> @Html.Raw(TempData["HTML-added"])