@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
<script>
    function xoaValue(ele)
    {
          document.getElementById(ele).value = "";
          document.getElementById(ele).focus();
    }
    function PlayChon1()
    {
      var DK2 = document.getElementById("DK1");
      var chon2 = document.getElementById("chon1").options;
    
      if (chon2.selectedIndex == 0)
      DK2.value = 2;
      else
      if (chon2.selectedIndex == 1)
      DK2.value = 1;
    }
    
    function TabChuoi()
    {
      var chuoi = document.getElementById("Chuoi");
      
      chuoi.value += "\t";
    }
    
    function TabInput()
    {
      var input = document.getElementById("Input");
      
      input.value += "\t";
    }
    
    function TabOutput()
    {
      var output = document.getElementById("Output");
      
      output.value += "\t";
    }
</script>
<table align="center" id="custom978">
    <h2 style="text-align:center" id="custom979">Replace - Regex</h2>
    <h3 style="color:purple" onclick="muaxuan()" id="custom980">@ViewBag.KetQua</h3>
    @using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)
    <tr style="height:40px" id="custom981">
        <td id="custom982"></td>
        <td id="custom983">
            <br>
            <a href="#xuly" onclick="xoaValue('Chuoi')"><b id="custom984">Chuỗi của bạn : </b></a>
            <br>
            <input type="radio" onclick="TabChuoi()" checked id="custom985"><b id="custom986">Click để thêm [TAB] vào cuối</b>
            <br>
            <textarea rows="20" cols="150" name="Chuoi" id="Chuoi" autofocus></textarea>
            <br>
            <span style="color:red; font-style:italic" id="custom987">@ViewData["Loi1"] </span>
        </td>
    </tr>
    <br />
    <br />
    <tr style="height:40px" id="custom988">
        <td id="custom989"> </td>
        <td id="custom990">
            <br>
            <input type="radio" onclick="TabInput()" checked id="custom991"><b id="custom992">Click để thêm [TAB] vào cuối</b>
            <br>
            <a href="#xuly" onclick="xoaValue('Input')">  <b id="custom993"> Nhập pattern-input cần được thay thế : </b></a>
            <br>
            <textarea rows="10" cols="100" name="Input" id="Input" autofocus></textarea>
            <br>
            <span style="color:red; font-style:italic" id="custom994">@ViewData["Loi2"] </span>
        </td>
    </tr>
    <br />
    <br />
    <tr style="height:40px" id="custom995">
        <td id="custom996"></td>
        <td id="custom997">
            <br>
            <input type="radio" onclick="TabOutput()" checked id="custom998"><b id="custom999">Click để thêm [TAB] vào cuối</b>
            <br>
            <a href="#xuly" onclick="xoaValue('Output')"><b id="custom1000"> Nhập pattern-output sẽ được thay thế thành : </b></a>
            <br>
            <textarea rows="10" cols="100" name="Output" id="Output" autofocus></textarea>
            <br>
            <span style="color:red; font-style:italic" id="custom1001">@ViewData["Loi3"] </span>
        </td>
    </tr>
    <br />
    <br />
    <tr style="height:40px" id="custom1002">
        <td id="custom1003"> </td>
        <td id="custom1004">
            <br>
            <b id="custom1005">Mời bạn lựa chọn áp dụng Regex (Với 1 : Áp dụng Regex, 2 : Không áp dụng Regex)</b>
            <br>
            <select id="chon1" onchange="PlayChon1()">
                <option id="custom1006">Không áp dụng Regex</option>
                <option id="custom1007">Áp dụng Regex</option>
            </select>
            <input type="number" min="1" max="2" name="DuKien1" id="DK1" value="2" hidden>
            <br>
            <span style="color:red; font-style:italic" id="custom1008">@ViewData["Loi4"] </span>
        </td>
    </tr>
    <br />
    <br />
    <tr style="height:40px" id="custom1009">
        <td id="custom1010"> </td>
        <td id="custom1011">
            <br>
            <b id="custom1012">Nhập số lượng thay thế kết quả áp dụng - [Chú ý nếu đã chọn không áp dụng Regex thì nó sẽ áp dụng tất cả...] (ưu tiên các kết quả đầu tiên) # Có thể nhập -1 để áp dụng tất cả...</b>
            <br>
            <input type="number" min="-1" name="DuKien2" value="-1" id="custom1013">
            <br>
            <span style="color:red; font-style:italic" id="custom1014">@ViewData["Loi5"] </span>
        </td>
    </tr>
    <br />
    <br />
    <tr style="height:40px" id="custom1015">
        <td id="custom1016"> </td>
        <td id="custom1017">
            <br>
            <b id="custom1018">Nhập số lượng lần lặp cần thay thế (với 0 là tất cả mãi mãi)</b>
            <br>
            <input type="number" min="0" name="DuKien3" value="0" id="custom1019">
            <br>
            <span style="color:red; font-style:italic" id="custom1020">@ViewData["Loi6"] </span>
        </td>
    </tr>
    <br />
    <br />
    <tr style="height:40px" id="custom1021">
        <td id="custom1022"></td>
        <td id="custom1023">
            <input type="Submit" value="Kết Quả" />
        </td>
    </tr>
    }
</table>
<br>
<br />
* QUY TẮC PATTERN - REGEX (50%) :
<br>
<br>. : đại diện cho 1 kí tự, ngoại trừ Enter
<br>
<br>\d : đại diện kí tự số
<br>
<br>[0-9] : giống \d (đại diện kí từ số từ 0 đến 9]
<br>
<br>[x-y] : đại diện kí từ số từ x đến y
<br>
<br>\d{x} : Tìm chuỗi con có x kí tự là số liên tiếp nhau
<br>
<br>\D : đại diện ký tự không phải là số
<br>
<br>\s : ký tự khoảng trắng hay Enter hay cách Tab
<br>
<br>\w : bao gồm kí tự chữ, số và dấu gạch dưới
<br>
<br>[azAZ_0-9] : giống \w
<br>
<br>^[azAZ_0-9] : Phủ định của [azAZ_0-9] (những TH còn lại)
<br>
<br>\S : kí tự không là khoảng trắng, Enter hay cách Tab
<br>
<br>\W : ký tự không phải là một từ word
<br>
<br>^ : Bắt đầu một chuỗi hay một dòng
<br>
<br>$ : Kết thúc một chuỗi hay một dòng
<br>
<br>\A : Bắt đầu một chuỗi
<br>
<br>\z : Kết thúc một chuỗi
<br>
<br>| : OR (điều kiện 'hoặc' - logic)
<br>
<br>[xyz] : x hay y hay z đều thoả mãn (miễn ít nhất một và không nằm  ngoài vùng này)
<br>
<br>^[xyz] : Phủ định với [xyz]
<br>
<br>( hay và ) : xác định một group các pattern
<br>
<br>?x : Trước chữ x của một từ phải có các chữ đứng trước xuất hiện 0 hay 1 lần
<br>VD : ax --> Trước chữ x chỉ có đúng một chữ a.
<br>
<br>*x : Trước chữ x của một từ phải có các chữ đứng trước xuất hiện 0 lần trở lên
<br>
<br>+x : Trước chữ x của một từ phải có các chữ đứng trước xuất hiện 1 lần trở lên
<br>
<br>{n}x : Trước chữ x của một từ phải có các chữ đứng trước xuất hiện đúng n lần
<br>
<br>{n,}x : Trước chữ x của một từ phải có các chữ đứng trước xuất hiện n lần trở lên
<br>
<br>{m,n}x : Trước chữ x của một từ phải có các chữ đứng trước xuất hiện từ m đến n lần.
<br>
<br>...
<br>
<br /><br /><br />
******************************************************************************************************************************************************************************
<br />
<br />
<br />
<div id="hihi">
    @Html.Raw(ViewBag.Result) <br><br>@if(TempData["fileResult"] != null) {<a id="downloadResult" href="/POST_DataResult/@TempData["fileResult"]" download>CLICK HERE TO DOWNLOAD TXT RESULT</a>}
</div>