@{
    Layout = null;
}
<html lang="vi">
<head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C# | Asp Net Core | Công nghệ thông tin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyWebPlay.styles.css" asp-append-version="true" />
        <link rel="icon" href="/images/imagex.png">
        </head>
        <body name="backgroundX" style="background-color:@TempData["mau_background"]">
    <meta charset="ISO-8859-1">
<script>

     // Delete div somee

        setInterval(function()
        {
             $(document).ready(function () {
        $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
        $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
        $("div[onmouseover='S_ssac();']").remove();
        $("center").remove();
        $("div[style='height: 65px;']").remove();
    });
        },1);

    function getlogerror()
    {
        document.getElementById("session").value = "error_exception_log";
        document.getElementById("hahaha").click();
    }

    function gansessionJS()
    {
        var session = document.getElementById("session").value;
        var giatri = document.getElementById("giatri").value;

        if (giatri != "")
       sessionStorage.setItem(session, giatri);
       else
       sessionStorage.setItem(session, "Default Session Webplay");
        
        alert("Xử lý thành công!")
    }

    function ganLocalStorageJS()
    {
         var session = document.getElementById("session").value;
        var giatri = document.getElementById("giatri").value;

        if (giatri != "")
       localStorage.setItem(session, giatri);
       else
       localStorage.setItem(session, "Default localStorage Webplay");
        
        alert("Xử lý thành công!")
    }

    function docsessionJS()
    {
        var session = document.getElementById("session").value;
    
       document.getElementById("ketqua").value = sessionStorage.getItem(session);
        

        window.location.href="#ketqua";
    }

    function docLocalStorageJS()
    {
         var session = document.getElementById("session").value;
    
       document.getElementById("ketqua").value = localStorage.getItem(session);

        window.location.href="#ketqua";
    }

     function getListKeylocalStorage_JS()
    {
         var session = document.getElementById("session").value;
    
         var s = "";

         for (var key in localStorage)
         {
             s += key + " : "+localStorage.getItem(key) + "\n";
         }
       document.getElementById("ketqua").value = s;

        window.location.href="#ketqua";
    }

    function gansessionC()
    {
        if (document.getElementById("check-s").checked == false)
        document.getElementById("chon").value = 1;
        else
         document.getElementById("chon").value = 10;
        document.getElementById("ok").click();
        alert("Xử lý thành công!")
    }

    function xoaLocalStorage_JS()
    {
         alert("Xử lý thành công!")
         localStorage.removeItem(document.getElementById("session").value);
    }

     function ganTempData_C()
    {
        document.getElementById("chon").value = 0;
        document.getElementById("ok").click();
        alert("Xử lý thành công!")
    }

    function docsessionC()
    {
        if (document.getElementById("check-s").checked == false)
       document.getElementById("chon").value = 2;
       else
        document.getElementById("chon").value = 9;

        alert("Xử lý thành công, mời bạn tự trượt phía dưới để xem thử kết quả !")
       document.getElementById("ok").click();
    }

      function docTempDataC()
    {
       document.getElementById("chon").value = 6;
        alert("Xử lý thành công, mời bạn tự trượt phía dưới để xem thử kết quả !")
       document.getElementById("ok").click();
    }

      function getListKeyTempData_C()
    {
       document.getElementById("chon").value = 8;
        alert("Xử lý thành công, mời bạn tự trượt phía dưới để xem thử kết quả !")
       document.getElementById("ok").click();
    }

      function getListKeySession_C()
    {
       document.getElementById("chon").value = 7;
        alert("Xử lý thành công, mời bạn tự trượt phía dưới để xem thử kết quả !")
       document.getElementById("ok").click();
    }

    function xoasessionJS()
    {
        var re = confirm("Bạn có chắc chắn muốn tiếp tục xử lý hành động này?");

        if (re == true)
        {
           document.getElementById("ketqua").value = "";
           sessionStorage.removeItem(document.getElementById("session").value);
           alert("Xử lý thành công!")
        }
    }

    function xoasessionC()
    {
        var re = confirm("Bạn có chắc chắn muốn tiếp tục xử lý hành động này?");

        if (re == true)
        {
            document.getElementById("chon").value = 3;
           document.getElementById("ok").click();
           alert("Xử lý thành công!")
        }   
    }

     function xoaallJS()
    {
        var re = confirm("Bạn có chắc chắn muốn tiếp tục xử lý hành động này?");

        if (re == true)
        {
           document.getElementById("ketqua").value = "";
           sessionStorage.clear();
           alert("Xử lý thành công!")
        }
    }

    function xoaallC()
    {
        var re = confirm("Bạn có chắc chắn muốn tiếp tục xử lý hành động này?");

        if (re == true)
        {
            document.getElementById("chon").value = 4;
           document.getElementById("ok").click();
           alert("Xử lý thành công!")
        } 
    }

    function xoaallTempData()
    {
         var re = confirm("Bạn có chắc chắn muốn tiếp tục xử lý hành động này?");

        if (re == true)
        {
            document.getElementById("chon").value = 5;
           document.getElementById("ok").click();
           alert("Xử lý thành công!")
        } 
    }

    function xoaallLocalStorage()
    {
         var re = confirm("Bạn có chắc chắn muốn tiếp tục xử lý hành động này?");

        if (re == true)
        {
           localStorage.clear();
           alert("Xử lý thành công!")
        } 
    }

    //-----------------------------------------------

    var sang = 0;
         if ('@TempData["mau_background"]' == "white")
         {
             sang = 1;
         }

         var xongmau = 0;
         var iss = setInterval(function(){
             if (xongmau == 1) return;

             if (localStorage.getItem("nensangtoi") != null)
             {
                 sang = localStorage.getItem("nensangtoi");
                 nensangtoi();
             }
             xongmau++;
         },10);

         function nensangtoi()
         {
             if (sang == 0)
             {
                 sang = 1;
             var li1 = document.getElementsByName("backgroundX").length;
             for (var i = 0 ; i<li1; i++)
             {
                 document.getElementsByName("backgroundX")[i].style.backgroundColor = "white";
             }

             var li2 = document.getElementsByName("colorX").length;
             for (var i = 0 ; i<li2; i++)
             {
                 document.getElementsByName("colorX")[i].style.color = "black";
             }
            }
            else
            {
                sang = 0;
             var li1 = document.getElementsByName("backgroundX").length;
             for (var i = 0 ; i<li1; i++)
             {
                 document.getElementsByName("backgroundX")[i].style.backgroundColor = "black";
             }

             var li2 = document.getElementsByName("colorX").length;
             for (var i = 0 ; i<li2; i++)
             {
                 document.getElementsByName("colorX")[i].style.color = "white";
             }
            }
         }

</script>

<table align="center">
    <h2 style="text-align:center;color:lightsalmon">Play Session</h2>
    <h2 style="color:red">@Html.ActionLink("Reload this page (hạn chế F5)?","SessionPlay_DarkAdmin")</h2>
        <br />
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <tr style="height:40px">
            <td> </td>
            <td>
                <input hidden id="chon" type="number" name="txtChon" value="0" />
                <input type="text" name="txtSession" size="100" id="session" placeholder="Nhập tên session (lưu ý phân biệt hoa/thường)" value="@ViewBag.Session"/>
                <br>
                 <br>
                <h1><a onclick="docLocalStorageJS()" href="#xuly">Đọc giá trị localStorage bằng JS</a>&nbsp;&nbsp;&nbsp;&nbsp;<a onclick="docsessionJS()" href="#xuly">Đọc giá trị session bằng JS</a>
                    <br /><a id="hahaha" onclick="docsessionC()" href="#xuly">Đọc giá trị session bằng C# (chờ xử lý)</a>
                <br /><a onclick="docTempDataC()" href="#xuly">Đọc giá trị TempData bằng C# (chờ xử lý)</a>
                   <br /><a onclick="getListKeySession_C()" href="#xuly">Get các key Session đang tồn tại bằng C# (chờ xử lý)</a>
                    <br /><a onclick="getListKeylocalStorage_JS()" href="#xuly">Get các key localStorage và giá trị gán đang tồn tại bằng JS</a>
                    <br /><a onclick="getListKeyTempData_C()" href="#xuly">Get các key TempData và giá trị gán đang tồn tại bằng C# (chờ xử lý)</a>
                    <br /><a onclick="ganTempData_C()" href="#xuly">Gán TempData bằng C# (chờ xử lý)</a>
                    <br /><a onclick="xoaLocalStorage_JS()" href="#xuly">Xoá localStorage bằng JS</a>
                    <br /><a onclick="getlogerror()" href="#xuly" style="color:red">[Đặc biệt] Đọc log error/exception bị văng ra hiện tại khi triển khai web (nếu có)</a>
                </h1>
                <br>
                <h1><a onclick="xoasessionJS()" href="#xuly">Xoá session bằng JS</a>&nbsp;&nbsp;&nbsp;&nbsp;<a onclick="xoasessionC()" href="#xuly">Xoá session bằng C# (chờ xử lý)</a></h1>
                <br>
                <textarea cols="100" rows="12" name="txtGiaTri" id="giatri" placeholder="Nhập giá trị gán cho session (nếu có) - nếu để trống mặc định sẽ là 'Default Session Webplay' !">@ViewBag.GiaTri</textarea>
                <br>
                <h1><a onclick="ganLocalStorageJS()" href="#xuly">Gán localStorage bằng JS</a>&nbsp;&nbsp;&nbsp;&nbsp;<a onclick="gansessionJS()" href="#xuly">Gán session bằng JS</a>
                    <br /><a onclick="gansessionC()" href="#xuly">Gán session bằng C# (chờ xử lý)</a>&nbsp;</h1><input id="check-s" type="checkbox"/><b style="color:deeppink">&nbsp;Gán bởi string (nếu không tick sẽ gán mặc định bởi <span style="color:green">object&lt;string&gt;</span> - cũng có thể sử dụng khi muốn đọc Session</b><br /><br/>
                <h1><a onclick="xoaallJS()" href="#xuly">Xoá all session bằng JS</a>&nbsp;&nbsp;&nbsp;&nbsp;<a onclick="xoaallC()" href="#xuly">Xoá all session bằng C# (chờ xử lý)</a></h1>
                <h1 style="color:deeppink"><a onclick="xoaallTempData()" href="#xuly">[Xoá all temp data bằng C#]</a>&nbsp;&nbsp;&nbsp;&nbsp;<a onclick="xoaallLocalStorage()" href="#xuly">[Xoá all localStorage bằng JS]</a></h1>
                <br>
                <h1 style="color:red">⬇</h1>
                <br><br>
                <textarea cols="100" rows="12" name="txtKetQua" id="ketqua" placeholder="Kết quả của Session sau khi xử lý sẽ xuất hiện tại đây (nếu có)!">@ViewBag.KetQua</textarea>
                <br>
            </td>
        </tr>
      
        <tr style="height:40px">
            <td></td>
            <td><br>
                <input hidden id="ok" type="Submit" value="Kết Quả" />
            </td>
        </tr>
    }
</table>
<br /><br />
 <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


</body>
</html>