@{
Layout = null;
}
@if (TempData["HTML-visible"] != null && TempData["HTML-visible"].ToString() != "2")
{
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title id="custom1060">C# | Asp Net Core | Công nghệ thông tin</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyWebPlay.styles.css" asp-append-version="true" />
        <link rel="icon" href="/images/imagex.png">
    </head>
    <img id="laloly" src="/Image_Play/waiting.gif" /><body name="backgroundX" style="background-color:@TempData["mau_background"]; visibility:hidden;opacity:@TempData["opacity-body-css"]" id="custom1061">
        <script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
    <meta charset="ISO-8859-1" id="custom1062">
    <script>
        function okhihi()
        {
            document.getElementById("ok").click();
        }
        
        function dichuyen()
        {
            document.getElementById("giatri").value = document.getElementById("ketqua").value;
            document.getElementById("ketqua").value = "";
            window.location.href = "#giatri";
        }
        
        function DeleteViewData_C()
        {
            document.getElementById("chon").value = 13;
            alert("Xử lý thành công !")
           document.getElementById("ok").click();
        }
        
        function SetViewData_C()
        {
            document.getElementById("chon").value = 14;
            alert("Xử lý thành công !")
           document.getElementById("ok").click();
        }
        
        function GetKeyViewData_C()
        {
            document.getElementById("chon").value = 15;
            alert("Xử lý thành công, mời bạn tự trượt phía dưới để xem thử kết quả !")
           document.getElementById("ok").click();
        }
        
        function DocViewData_C()
        {
            document.getElementById("chon").value = 16;
            alert("Xử lý thành công, mời bạn tự trượt phía dưới để xem thử kết quả !")
           document.getElementById("ok").click();
        }
        
        function mahoa()
        {
             document.getElementById("chon").value = 11;
            alert("Xử lý thành công, mời bạn tự trượt phía dưới để xem thử kết quả !")
           document.getElementById("ok").click();
        }
        
         function giaima()
        {
             document.getElementById("chon").value = 12;
            alert("Xử lý thành công, mời bạn tự trượt phía dưới để xem thử kết quả !")
           document.getElementById("ok").click();
        }
        
         // Delete div somee
        
            setInterval(function()
            {
                 $(document).ready(function () {
            $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
            $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
            $("div[onmouseover='S_ssac();']").remove();
            $("center").remove();
            $("div[style='height: 65px;']").remove();
        });
            },10);
        
        function getlogerror()
        {
            document.getElementById("session").value = "error_exception_log";
            document.getElementById("hahaha").click();
        }
        
        function gansessionJS()
        {
            var session = document.getElementById("session").value;
            var giatri = document.getElementById("giatri").value;
        
            if (giatri != "")
           sessionStorage.setItem(session, giatri);
           else
           sessionStorage.setItem(session, "Default Session Webplay");
            
            alert("Xử lý thành công!")
        }
        
        function ganLocalStorageJS()
        {
             var session = document.getElementById("session").value;
            var giatri = document.getElementById("giatri").value;
        
            if (giatri != "")
           localStorage.setItem(session, giatri);
           else
           localStorage.setItem(session, "Default localStorage Webplay");
            
            alert("Xử lý thành công!")
        }
        
        function docsessionJS()
        {
            var session = document.getElementById("session").value;
        
           document.getElementById("ketqua").value = sessionStorage.getItem(session);
            
        
            window.location.href="#ketqua";
        }
        
        function docLocalStorageJS()
        {
             var session = document.getElementById("session").value;
        
           document.getElementById("ketqua").value = localStorage.getItem(session);
        
            window.location.href="#ketqua";
        }
        
         function getListKeylocalStorage_JS()
        {
             var session = document.getElementById("session").value;
        
             var s = "";
        
             for (var key in localStorage)
             {
                 s += key + " : "+localStorage.getItem(key) + "\n";
             }
           document.getElementById("ketqua").value = s;
        
            window.location.href="#ketqua";
        }
        
        function gansessionC()
        {
            if (document.getElementById("check-s").checked == false)
            document.getElementById("chon").value = 1;
            else
             document.getElementById("chon").value = 10;
            document.getElementById("ok").click();
            alert("Xử lý thành công!")
        }
        
        function xoaLocalStorage_JS()
        {
             alert("Xử lý thành công!")
             localStorage.removeItem(document.getElementById("session").value);
        }
        
         function ganTempData_C()
        {
            document.getElementById("chon").value = 0;
            document.getElementById("ok").click();
            alert("Xử lý thành công!")
        }
        
        function docsessionC()
        {
            if (document.getElementById("check-s").checked == false)
           document.getElementById("chon").value = 2;
           else
            document.getElementById("chon").value = 9;
        
            alert("Xử lý thành công, mời bạn tự trượt phía dưới để xem thử kết quả !")
           document.getElementById("ok").click();
        }
        
          function docTempDataC()
        {
           document.getElementById("chon").value = 6;
            alert("Xử lý thành công, mời bạn tự trượt phía dưới để xem thử kết quả !")
           document.getElementById("ok").click();
        }
        
          function getListKeyTempData_C()
        {
           document.getElementById("chon").value = 8;
            alert("Xử lý thành công, mời bạn tự trượt phía dưới để xem thử kết quả !")
           document.getElementById("ok").click();
        }
        
          function getListKeySession_C()
        {
           document.getElementById("chon").value = 7;
            alert("Xử lý thành công, mời bạn tự trượt phía dưới để xem thử kết quả !")
           document.getElementById("ok").click();
        }
        
        function xoasessionJS()
        {
            var re = confirm("Bạn có chắc chắn muốn tiếp tục xử lý hành động này?");
        
            if (re == true)
            {
               document.getElementById("ketqua").value = "";
               sessionStorage.removeItem(document.getElementById("session").value);
               alert("Xử lý thành công!")
            }
        }
        
        function xoasessionC()
        {
            var re = confirm("Bạn có chắc chắn muốn tiếp tục xử lý hành động này?");
        
            if (re == true)
            {
                document.getElementById("chon").value = 3;
               document.getElementById("ok").click();
               alert("Xử lý thành công!")
            }   
        }
        
         function xoaallJS()
        {
            var re = confirm("Bạn có chắc chắn muốn tiếp tục xử lý hành động này?");
        
            if (re == true)
            {
               document.getElementById("ketqua").value = "";
               sessionStorage.clear();
               alert("Xử lý thành công!")
            }
        }
        
        function xoaallC()
        {
            var re = confirm("Bạn có chắc chắn muốn tiếp tục xử lý hành động này?");
        
            if (re == true)
            {
                document.getElementById("chon").value = 4;
               document.getElementById("ok").click();
               alert("Xử lý thành công!")
            } 
        }
        
        function xoaallTempData()
        {
             var re = confirm("Bạn có chắc chắn muốn tiếp tục xử lý hành động này?");
        
            if (re == true)
            {
                document.getElementById("chon").value = 5;
               document.getElementById("ok").click();
               alert("Xử lý thành công!")
            } 
        }
        
        function xoaallLocalStorage()
        {
             var re = confirm("Bạn có chắc chắn muốn tiếp tục xử lý hành động này?");
        
            if (re == true)
            {
               localStorage.clear();
               alert("Xử lý thành công!")
            } 
        }
        
        //-----------------------------------------------
        
        var sang = 0;
             if ('@TempData["mau_background"]' == "white")
             {
                 sang = 1;
             }
        
             var xongmau = 0;
             var iss = setInterval(function(){
                  if (xongmau == 1) return;
        
                 if (localStorage.getItem("nensangtoi") != null)
                 {
                     sang = localStorage.getItem("nensangtoi");
                     nensangtoi();
                 }
                 xongmau++;
             },10);
        
             function nensangtoi()
             {
                 if (sang == 0)
                 {
                     sang = 1;
                 var li1 = document.getElementsByName("backgroundX").length;
                 for (var i = 0 ; i<li1; i++)
                 {
                     document.getElementsByName("backgroundX")[i].style.backgroundColor = "white";
                 }
        
                 var li2 = document.getElementsByName("colorX").length;
                 for (var i = 0 ; i<li2; i++)
                 {
                     document.getElementsByName("colorX")[i].style.color = "black";
                 }
                }
                else
                {
                    sang = 0;
                 var li1 = document.getElementsByName("backgroundX").length;
                 for (var i = 0 ; i<li1; i++)
                 {
                     document.getElementsByName("backgroundX")[i].style.backgroundColor = "black";
                 }
        
                 var li2 = document.getElementsByName("colorX").length;
                 for (var i = 0 ; i<li2; i++)
                 {
                     document.getElementsByName("colorX")[i].style.color = "white";
                 }
                }
             }
        
    </script>
    <table align="center" id="custom1063">
        <h2 style="text-align:center;color:lightsalmon" id="custom1064">Play Session</h2>
        <h2 style="color:red" id="custom1065">@Html.ActionLink("Reload this page (hạn chế F5)?","SessionPlay_DarkAdmin")</h2>
        <br />
        @using (Html.BeginForm())
        {
        @Html.ValidationSummary(true)
        <tr style="height:40px" id="custom1066">
            <td id="custom1067"> </td>
            <td id="custom1068">
                <input hidden id="chon" type="number" name="txtChon" value="0" />
                <input type="text" name="txtSession" size="100" id="session" placeholder="Nhập tên session (lưu ý phân biệt hoa/thường)" value="@ViewBag.Session"/> - <span style="color:orangered" id="custom1069">gán giá trị [null] nếu muốn xoá phần tử đó - chỉ C#</span>
                <br><br />
                <textarea cols="100" rows="12" name="txtGiaTri" id="giatri" placeholder="Nhập giá trị gán cho session (nếu có) - nếu để trống mặc định sẽ là 'Default Session Webplay' !">@ViewBag.GiaTri</textarea>
                <br>
                <button onclick="okhihi()" id="custom1070">❤</button>
                <br>
                <br>
                <hr />
                <h3 id="custom1071">
                    <a style="color:red" onclick="docLocalStorageJS()" href="#xuly">Đọc giá trị localStorage bằng JS</a>
                    <br /><a onclick="docsessionJS()" href="#xuly">Đọc giá trị session bằng JS</a>
                    <br /><a style="color:red" id="hahaha" onclick="docsessionC()" href="#xuly">Đọc giá trị session bằng C# (chờ xử lý)</a>
                    <br /><a onclick="docTempDataC()" href="#xuly">Đọc giá trị TempData bằng C# (chờ xử lý)</a>
                    <br /><a style="color:red" onclick="DocViewData_C()" href="#xuly">Đọc View Data C# - chờ xử lý</a>
                    <hr />
                    <br /><a  onclick="getListKeySession_C()" href="#xuly">Get các key Session đang tồn tại bằng C# - và giá trị (chờ xử lý)</a>
                    <br /><a style="color:red" onclick="getListKeylocalStorage_JS()" href="#xuly">Get các key localStorage và giá trị gán đang tồn tại bằng JS</a>
                    <br /><a onclick="GetKeyViewData_C()" href="#xuly">Get các key ViewData và giá trị set đang tồn tại C# - chờ xử lý</a>
                    <br /><a style="color:red" onclick="getListKeyTempData_C()" href="#xuly">Get các key TempData và giá trị gán đang tồn tại bằng C# (chờ xử lý)</a>     
                    <hr />
                    <br /><a style="color:red" onclick="xoaLocalStorage_JS()" href="#xuly">Xoá localStorage bằng JS</a>
                    <br /><a onclick="xoasessionJS()" href="#xuly">Xoá session bằng JS</a>
                    <br /><a style="color:red" onclick="xoasessionC()" href="#xuly">Xoá session bằng C# (chờ xử lý)</a>
                    <hr />
                    <br /><a onclick="getlogerror()" href="#xuly" style="color:green">[Đặc biệt] Đọc log error/exception bị văng ra hiện tại khi triển khai web (nếu có)</a>
                    <hr />
                    <br /><a style="color:red" onclick="ganLocalStorageJS()" href="#xuly">Gán localStorage bằng JS</a>
                    <br /><a onclick="ganTempData_C()" href="#xuly">Gán TempData bằng C# (chờ xử lý)</a>
                    <br /><a style="color:red" onclick="gansessionJS()" href="#xuly">Gán session bằng JS</a>
                    <br /><a onclick="SetViewData_C()" href="#xuly">Gán giá trị View Data C# - chờ xử lý</a>
                    <br /><a style="color:red" onclick="gansessionC()" href="#xuly">Gán session bằng C# (chờ xử lý)</a>
                    <br /> <input id="check-s" type="checkbox"/><b style="color:deeppink" id="custom1072">&nbsp;Gán bởi string (nếu không tick sẽ gán mặc định bởi <span style="color:green" id="custom1073">object&lt;string&gt;</span> - cũng có thể sử dụng khi muốn đọc Session</b><br /><br/>
                    <hr />
                    <br /><a onclick="xoaallJS()" href="#xuly">Xoá all session bằng JS</a>
                    <br /><a style="color:red" onclick="xoaallC()" href="#xuly">Xoá all session bằng C# (chờ xử lý)</a>           
                    <br /><a onclick="DeleteViewData_C()" href="#xuly">Xoá tất cả các ViewData C# - chờ xử lý</a>
                    <br /><a style="color:red" onclick="xoaallTempData()" href="#xuly">[Xoá all temp data bằng C# - chờ xử lý]</a>
                    <br /><a onclick="xoaallLocalStorage()" href="#xuly">[Xoá all localStorage bằng JS]</a>
                    <hr />
                    <br /><a style="color:red" onclick="mahoa()" href="#xuly">Mã hoá - chờ xử lý (?)</a>
                    <br /><a onclick="giaima()" href="#xuly">Giải mã - chờ xử lý (!)</a>
                </h3>
                <br>
                <h1 onclick="dichuyen()" style="color:orangered" id="custom1074">⬇</h1>
                <br><br>
                <textarea cols="100" rows="12" name="txtKetQua" id="ketqua" placeholder="Kết quả của Session sau khi xử lý sẽ xuất hiện tại đây (nếu có)!">@TempData["ketqua-session"]</textarea>
                <br>
            </td>
        </tr>
        <tr style="height:40px" id="custom1075">
            <td id="custom1076"></td>
            <td id="custom1077"><br>
                <input hidden id="ok" type="Submit" value="Kết Quả" />
            </td>
        </tr>
        }
    </table>
    <br /><br />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> @Html.Raw(TempData["HTML-added"])
    </body>
</html>
}