@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true;
                }
            }
         });
    }, 100);

</script>
<br />
<div id="html_play"></div>
<br />
<table align="center">
    <h2 style="text-align:center">Special X - OrderBy</h2>
    <h3 style="color:purple" onclick="muaxuan()">@ViewBag.KetQua</h3>
    @using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)
    <tr style="height:40px">
        <td></td>
        <td>
            <br>
            <b>Dữ kiện thứ tự sắp xếp và ưu tiên (index mỗi từ) : </b>
            <br>
            <input type="text" size="50" name="SapXep" value="N-1=N-2=0=1">
            <br>
            <span style="color:red; font-style:italic">@ViewData["Loi1"] </span>
        </td>
    </tr>
    <br />
    <br />
    <tr style="height:40px">
        <td> </td>
        <td>
            <br>
            <b>Chuỗi của bạn : </b>
            <br>
            <textarea rows="20" cols="150" name="Chuoi" autofocus>@ViewBag.ChuoiViDu</textarea>
            <br>
            <span style="color:red; font-style:italic">@ViewData["Loi2"] </span>
        </td>
    </tr>
    <br /><br />
    <tr style="height:40px">
        <td></td>
        <td>
            <br>
            <b> Với 0 là sắp tăng và 1 là sắp giảm </b>
            <br>
            <input type="number" size="50" name="TangGiam" value="0" max="1" min="0">
            <br>
            <span style="color:red; font-style:italic">@ViewData["Loi3"] </span>
        </td>
    </tr>
    <br />
    <br />
    <tr style="height:40px">
        <td></td>
        <td>
            <br>
            <b> Nhập số ô cần xác định sắp xếp (index start in 1)  </b>
            <br>
            <input type="number" size="50" name="CoDinh" value="2" min="1">
            <br>
            <span style="color:red; font-style:italic">@ViewData["Loi4"] </span>
        </td>
    </tr>
    <br />
    <br />
    <tr style="height:40px">
        <td></td>
        <td>
            <input type="Submit" value="Kết Quả" />
        </td>
    </tr>
    }
</table>
<br />
<br />
<br />
******************************************************************************************************************************************************************************
<br />
<br />
<br />
<div id="hihi">
    @Html.Raw(ViewBag.Result) <br><br>@if(TempData["fileResult"] != null) {<a id="downloadResult" href="/POST_DataResult/@TempData["fileResult"]" download>CLICK HERE TO DOWNLOAD TXT RESULT</a>}
</div>