@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true; if (document.body) document.body.style.visibility= "visible"; 
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true; if (document.body) document.body.style.visibility= "visible"; 
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
<script>
    function xoaValue(ele)
    {
          document.getElementById(ele).value = "";
          document.getElementById(ele).focus();
    }
</script>
<table align="center" id="custom1147">
    <h2 style="text-align:center" id="custom1148">Insert Doc SQL</h2>
    <h3 id="custom1149"><a style="color:red" href="/Home/InsertSQL">Xem thử dạng mới</a></h3>
    <h3 style="color:purple" onclick="muaxuan()" id="custom1150">@ViewBag.KetQua</h3>
    @using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)
    <tr style="height:40px" id="custom1151">
        <td id="custom1152"> </td>
        <td id="custom1153">
            <br>
            <a href="#xuly" onclick="xoaValue('table')"><b id="custom1154">Tên Table : </b></a>
            <br>
            <input type="text" size="50" name="Table" id="table" value="SinhVien">
            <br>
            <span style="color:red; font-style:italic" id="custom1155">@ViewData["Loi1"] </span>
        </td>
    </tr>
    <br /><br />
    <tr style="height:40px" id="custom1156">
        <td id="custom1157"> </td>
        <td id="custom1158">
            <br>
            <a href="#xuly" onclick="xoaValue('trangthai')"><b id="custom1159">Nhập trạng thái theo mẫu - Nhập ví dụ theo từng phần (VD : 3-1-3-1-2 # nếu một doc SQL có 5 cột)... - Với # 1 : Kiểu số, 2 : Kiểu chuỗi, 3 : Kiểu DateTime/Char </b></a>
            <br>
            <input type="text" size="50" name="TrangThai" id="trangthai" value="3-2-1-3">
            <br>
            <span style="color:red; font-style:italic" id="custom1160">@ViewData["Loi2"] </span>
        </td>
    </tr>
    <br /><br />
    <tr style="height:40px" id="custom1161">
        <td id="custom1162"> </td>
        <td id="custom1163">
            <br>
            <a href="#xuly" onclick="xoaValue('dulieu')"> <b id="custom1164">Nhập dãy dữ liệu theo mẫu (VD - nếu mỗi doc SQL có 5 cột/ mỗi col cách nhau bởi [Tab] - mỗi doc cách nhau bởi Enter)... </b></a>
            <br>
            <textarea name="DuLieu" id="dulieu" cols="100" rows="50">@ViewBag.VD</textarea>
            <br>
            <span style="color:red; font-style:italic" id="custom1165">@ViewData["Loi3"] </span>
        </td>
    </tr>
    <tr style="height:40px" id="custom1166">
        <td id="custom1167"></td>
        <td id="custom1168">
            <input type="Submit" value="Kết Quả" />
        </td>
    </tr>
    }
</table>
<br />
<br />
<br />
<br />
******************************************************************************************************************************************************************************
<br />
<br />
<br />
<div id="hihi">
    @Html.Raw(ViewBag.Result) <br><br>@if(TempData["fileResult"] != null) {<a id="downloadResult" href="/POST_DataResult/@TempData["fileResult"]" download>CLICK HERE TO DOWNLOAD TXT RESULT</a>}
</div>