@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<script>
    function tuychinhmucdo()
    {
        if (document.getElementById("checkmucdo").checked == true)
        {
            document.getElementById("hienmucdo").style.display = "block";
        }
        else
        {
            document.getElementById("hienmucdo").style.display = "none";
        }
    }
    function soluong()
    {
        var sl = document.getElementById("txtSL").value;
        window.location.href = "/Home/TracNghiem_Multiple?sl="+sl;
    }
    
     function xong()
    {
        document.getElementById("ok").style.display = "none";
        document.getElementById("loading").style.display = "inline-block";
    }
    
    function hanhphuc(event)
    {
        if (event.keyCode == 13)
        soluong();
    }
</script>
<h3 style="color:aqua">Bạn nên trải nghiệm tính năng này trên máy tính (PC), laptop,... nhé 😄</h3>
<br />
<h2>@Html.ActionLink("Phiên bản này đã quá cũ, đi đến trải nghiệm phiên bản mới?", "TracNghiemX_Multiple")</h2>
<br />
<br />
<table align="center">
    <h2 style="text-align:center">Play Test Trắc Nghiệm - Multiple</h2>
    <br />
    <tr style="height:40px">
        <td> </td>
        <td>
            <br>
            <b> Nhập số lượng chương bài học : </b>
            <br>
            <input type="number" id="txtSL" onkeydown="return hanhphuc(event)" value="@ViewBag.SL"/><button onclick="soluong()">OK</button>
        </td>
    </tr>
    @if (ViewBag.SL > 0)
    {
    @using (Html.BeginForm("TracNghiem_Multiple", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
    @Html.ValidationSummary(true)
    <input type="text" name="txtSoluong" value="@ViewBag.SL" hidden/>
    <tr style="height:40px">
        <td> </td>
        <td>
            <br>
            <b> Nhập tên môn học/tên kỳ kiểm tra : </b>
            <br>
            <input type="text" name="txtMon" size="50" value=" "/>
            <br>
            <span style="color:red; font-style:italic">@ViewData["Loi"] </span>
        </td>
    </tr>
    <tr style="height:40px">
        <td> </td>
        <td>
            <br>
            <b>Số câu cần làm :</b>
            <br>
            <input type="number" name="txtSoCau" min="1" value="100">
            <br>
            <span style="color:red; font-style:italic">@ViewData["Loi2"] </span>
        </td>
    </tr>
    <tr style="height:40px">
        <td></td>
        <td>
            <br>
            <b>Thời gian làm bài (phút) : </b>
            <br>
            <input type="number" name="txtTime" min="1" value="30">
            <br>
            <span style="color:red; font-style:italic">@ViewData["Loi3"] </span>
        </td>
    </tr>
    for (int i = 0; i < ViewBag.SL; i++)
    {
    <tr style="height:40px">
        <td> </td>
        <td>
            <br>
            <b> Tải file TXT trắc nghiệm của bạn cho chương bài @(i+1) (đã xử lý) : </b>
            <br>
             @if(TempData["fileSuDung"] == "true")
             {
                            <input type="file" name="txtFile"/>
                        }
                        else
                        {
                            <input disabled type="file" name="txtFile"/>
                        }
                        @if (i == 0)
            {
            <b>@Html.ActionLink("Bạn chưa có file trắc nghiệm?","CreateFile_TracNghiem")</b><br />
            }
            <span style="color:red; font-style:italic">@ViewData["Loi1-"+@i] </span>
        </td>
    </tr>
    }
    @if (ViewBag.SL != null && ViewBag.SL > 0)
    {
    <tr style="height:40px">
        <td> </td>
        <td>
            <br>
            <input id="checkmucdo" name="txtMucDox" type="checkbox" onchange="tuychinhmucdo()" /><b style="color:orangered">Tuỳ chỉnh mức độ phân phối câu hỏi theo từng chương</b>
            <br />
            <span style="color:red; font-style:italic">@ViewData["LoiMucDo"] </span>
            <br /><br />
            <div id="hienmucdo" style="display:none">
                @for (int i = 0; i < ViewBag.SL; i++)
                {
                <b style="color:purple">Chương/Bài @(i+1)  : </b><input type="number" name="txtMucDo-@i" min="1" max="100" value="1" /><b style="color:lawngreen">%</b>
                <br />
                }
                <br />
                <span style="color:blue; font-style:italic">Lưu ý : bạn có thể tuỳ chỉnh các mức độ phân phối cho mỗi chương tuỳ ý, nhưng cũng phải dựa trên số liệu thực tế hiện có</span>
            </div>
        </td>
    </tr>
    }
    <br />
    <tr style="height:40px">
        <td></td>
        <td>
            <input  id="ok" onclick="xong()" style="font-weight:bolder" type="Submit" value="Bắt đầu làm bài" />
            <br>
            <img id="loading" src="/Image_Play/waiting.gif" style="display:none" />
        </td>
    </tr>
    }
    }
</table>