@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true;
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true;
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
<script>
    function tuychinhmucdo()
    {
        if (document.getElementById("checkmucdo").checked == true)
        {
            document.getElementById("hienmucdo").style.display = "block";
        }
        else
        {
            document.getElementById("hienmucdo").style.display = "none";
        }
    }
    function soluong()
    {
        var sl = document.getElementById("txtSL").value;
        window.location.href = "/Home/TracNghiem_Multiple?sl="+sl;
    }
    
     function xong()
    {
        document.getElementById("ok").style.display = "none";
        document.getElementById("loading").style.display = "inline-block";

         thatbai_time = 0;
        setInterval(function()
        {
            if (thatbai_time == 5)
            {
                if (thatbai == true)
                {
                      document.getElementById("ok").style.display = "inline-block";
                     document.getElementById("loading").style.display = "none";
                }
                return;
            }
            thatbai_time++;
        },10);
    }
    
    function hanhphuc(event)
    {
        if (event.keyCode == 13)
        soluong();
    }
</script>
<h3 style="color:aqua" id="custom1802">Bạn nên trải nghiệm tính năng này trên máy tính (PC), laptop,... nhé 😄</h3>
<br />
<h2 id="custom1803">@Html.ActionLink("Phiên bản này đã quá cũ, đi đến trải nghiệm phiên bản mới?", "TracNghiemX_Multiple")</h2>
<br />
<br />
<table align="center" id="custom1804">
    <h2 style="text-align:center" id="custom1805">Play Test Trắc Nghiệm - Multiple</h2>
    <br />
    <tr style="height:40px" id="custom1806">
        <td id="custom1807"> </td>
        <td id="custom1807">
            <br>
            <b id="custom1809"> Nhập số lượng chương bài học : </b>
            <br>
            <input type="number" id="txtSL" onkeydown="return hanhphuc(event)" value="@ViewBag.SL"/><button onclick="soluong()" id="custom1810">OK</button>
        </td>
    </tr>
    @if (ViewBag.SL > 0)
    {
    @using (Html.BeginForm("TracNghiem_Multiple", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
    @Html.ValidationSummary(true)
    <input type="text" name="txtSoluong" value="@ViewBag.SL" hidden/>
    <tr style="height:40px" id="custom1806">
        <td id="custom1807"> </td>
        <td id="custom1807">
            <br>
            <b id="custom1809"> Nhập tên môn học/tên kỳ kiểm tra : </b>
            <br>
            <input type="text" name="txtMon" size="50" value=" "/>
            <br>
            <span style="color:red; font-style:italic" id="custom1815">@ViewData["Loi"] </span>
        </td>
    </tr>
    <tr style="height:40px" id="custom1806">
        <td id="custom1807"> </td>
        <td id="custom1807">
            <br>
            <b id="custom1809">Số câu cần làm :</b>
            <br>
            <input type="number" name="txtSoCau" min="1" value="100" id="custom1820">
            <br>
            <span style="color:red; font-style:italic" id="custom1815">@ViewData["Loi2"] </span>
        </td>
    </tr>
    <tr style="height:40px" id="custom1806">
        <td id="custom1807"></td>
        <td id="custom1807">
            <br>
            <b id="custom1809">Thời gian làm bài (phút) : </b>
            <br>
            <input type="number" name="txtTime" min="1" value="30" id="custom1826">
            <br>
            <span style="color:red; font-style:italic" id="custom1815">@ViewData["Loi3"] </span>
        </td>
    </tr>
    for (int i = 0; i < ViewBag.SL; i++)
    {
    <tr style="height:40px" id="custom1806">
        <td id="custom1807"> </td>
        <td id="custom1807">
            <br>
            <b id="custom1809"> Tải file TXT trắc nghiệm của bạn cho chương bài @(i+1) (đã xử lý) : </b>
            <br>
            <input type="file" name="txtFile"/>
            @if (i == 0)
            {
            <b id="custom1809">@Html.ActionLink("Bạn chưa có file trắc nghiệm?","CreateFile_TracNghiem")</b><br />
            }
            <span style="color:red; font-style:italic" id="custom1815">@ViewData["Loi1-"+@i] </span>
        </td>
    </tr>
    }
    @if (ViewBag.SL != null && ViewBag.SL > 0)
    {
    <tr style="height:40px" id="custom1806">
        <td id="custom1807"> </td>
        <td id="custom1807">
            <br>
            <input id="checkmucdo" name="txtMucDox" type="checkbox" onchange="tuychinhmucdo()" /><b style="color:orangered" id="custom1837">Tuỳ chỉnh mức độ phân phối câu hỏi theo từng chương</b>
            <br />
            <span style="color:red; font-style:italic" id="custom1815">@ViewData["LoiMucDo"] </span>
            <br /><br />
            <div id="hienmucdo" style="display:none">
                @for (int i = 0; i < ViewBag.SL; i++)
                {
                <b style="color:purple" id="custom1839">Chương/Bài @(i+1)  : </b><input type="number" name="txtMucDo-@i" min="1" max="100" value="1" /><b style="color:lawngreen" id="custom1840">%</b>
                <br />
                }
                <br />
                <span style="color:blue; font-style:italic" id="custom1841">Lưu ý : bạn có thể tuỳ chỉnh các mức độ phân phối cho mỗi chương tuỳ ý, nhưng cũng phải dựa trên số liệu thực tế hiện có</span>
            </div>
        </td>
    </tr>
    }
    <br />
    <tr style="height:40px" id="custom1806">
        <td id="custom1807"></td>
        <td id="custom1807">
            <input  id="ok" onclick="xong()" style="font-weight:bolder" type="Submit" value="Bắt đầu làm bài" />
            <br>
            <img id="loading" src="/Image_Play/waiting.gif" style="display:none" />
        </td>
    </tr>
    }
    }
</table>