    @if (TempData["ViewSiteBasic"] == "true")
{
    Layout = null;
}
<script>
     function xong()
    {
        document.getElementById("ok").style.display = "none";
        document.getElementById("loading").style.display = "inline-block";
    }
</script>
<table align="center">
    <h3 style="color:aqua">Bạn nên trải nghiệm tính năng này trên máy tính (PC), laptop,... nhé 😄</h3><br />
    <h2 style="text-align:center">Play Test Trắc Nghiệm</h2>

    <br />

    @using (Html.BeginForm("TracNghiem", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)

            <tr style="height:40px">
                <td> </td>
                <td>
                    <br>
                        <b> Tải file TXT trắc nghiệm của bạn (đã xử lý) : </b>
                    <br>
                        <input type="file" name="txtFile"/>  <b>@Html.ActionLink("Bạn chưa có file trắc nghiệm?","CreateFile_TracNghiem")</b>
                        <br /><br />
                          <input type="checkbox" name="encrypt_data" />&nbsp;<b>Giải mã nội dung file TXT của tôi tải lên (hãy thử nếu bạn gặp vấn đề về xử lý)</b>
                    <br>
                    <span style="color:red; font-style:italic">@ViewData["Loi1"] </span>
                </td>
            </tr>


                 <tr style="height:40px">
                    <td> </td>
                    <td>
                        <br>
                            <b> Nhập tên môn học/tên kỳ kiểm tra : </b>
                        <br>
                            <input type="text" name="txtMon" size="50" value=" "/>
                        <br>
                        <span style="color:red; font-style:italic">@ViewData["Loi"] </span>
                    </td>
                </tr>

            <tr style="height:40px">
                <td> </td>
                <td>
                    <br>
                        <b>Số câu cần làm :</b>
                    <br>
                    <input type="number" name="txtSoCau" min="1" value="100">
                        <br>
                        <span style="color:red; font-style:italic">@ViewData["Loi2"] </span>
                </td>
            </tr>

                  <tr style="height:40px">
                    <td></td>
                    <td>
                        <br>
                            <b>Thời gian làm bài (phút) : </b>
                        <br>
                        <input type="number" name="txtTime" min="1" value="30">
                            <br>
                            <span style="color:red; font-style:italic">@ViewData["Loi3"] </span>
                    </td>
                </tr>


            <tr style="height:40px">
                <td></td>
                <td>
                        <input  id="ok" onclick="xong()" style="font-weight:bolder" type="Submit" value="Bắt đầu làm bài" />
                        <br>
                        <img id="loading" src="/Image_Play/waiting.gif" style="display:none" />
                </td>
            </tr>
    }
</table>
