<script>
    function xem()
    {
        if ( document.getElementById("ticky").checked)
        alert("XIN LƯU Ý :\n\n- Đây không phải là một bài kiểm tra - thi - test\n\n- Hệ thống không quan tâm sự đúng sai các đáp án bạn tự đánh giá tại đây\n\n- Hiện tại file trắc nghiệm của bạn đang sử dụng chưa có đáp án, bạn đang sử dụng tính năng này để setting answer lại vào file của bạn (dựa vào answer bạn sẽ đánh giá ở đây)...\n\n- Bạn hãy tự quan tâm đến độ chính xác đáp án của bạn nhé!");
    }
</script>

<table align="center">
    <h2 style="text-align:center">Play Test X Trắc Nghiệm - Multiple</h2>

    <br />

        @using (Html.BeginForm("TracNghiemX_Multiple", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)

            <input type="text" name="txtSoluong" value="@ViewBag.SL" hidden/>

            <tr style="height:40px">
                <td> </td>
                <td>
                    <br>
                    <b> Nhập tên môn học/tên kỳ kiểm tra : </b>
                    <br>
                    <input type="text" name="txtMon" size="50" value=" "/>
                    <br>
                    <span style="color:red; font-style:italic">@ViewData["Loi"] </span>
                </td>
            </tr>

            <tr style="height:40px">
                <td> </td>
                <td>
                    <br>
                    <b>Số câu cần làm :</b>
                    <br>
                    <input type="number" name="txtSoCau" min="1">
                    <br>
                    <span style="color:red; font-style:italic">@ViewData["Loi2"] </span>
                </td>
            </tr>

            <tr style="height:40px">
                <td></td>
                <td>
                    <br>
                    <b>Thời gian làm bài (phút) : </b>
                    <br>
                    <input type="number" name="txtTime" min="1">
                    <br>
                    <span style="color:red; font-style:italic">@ViewData["Loi3"] </span>
                </td>
            </tr>

                <tr style="height:40px">
                    <td> </td>
                <td>
                    <br>
                    <b> Đưa tất cả các file trắc nghiệm (chương bài học) của bạn vào cùng 1 thư mục sau đó sẽ dễ dàng kéo tất cả các file vào đây...</b>
                    <br>
                    <input type="file" name="txtFile" multiple/>  <b>@Html.ActionLink("Bạn chưa có file trắc nghiệm?","CreateFile_TracNghiem")</b>
                   <br>
                    <span style="color:red; font-style:italic">@ViewData["Loi1"] </span>
                </td>
            </tr>

             <tr style="height:40px">
                <td></td>
                <td>
                    <br>
                    <input type="checkbox" name="txtTick" id="ticky" /> <b style="color:pink">File trắc nghiệm của tôi hiện chưa có đáp án</b>
                    <br>
                    <p style="color:lawngreen">Sử dụng tính năng này với mục đích setting answer trắc nghiệm vào file của bạn bằng cách chơi trực tiếp!</p>
                </td>
            </tr>

            <tr style="height:40px">
                <td></td>
                <td>
                    <input style="font-weight:bolder" type="Submit" onclick="xem()" value="Bắt đầu làm bài" />
                </td>
            </tr>

    }
</table>
