@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true;
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true;
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
<script>
    function xong()
    {
       document.getElementById("ok").style.display = "none";
       document.getElementById("loading").style.display = "inline-block";

        thatbai_time = 0;
        setInterval(function()
        {
            if (thatbai_time == 5)
            {
                if (thatbai == true)
                {
                      document.getElementById("ok").style.display = "inline-block";
                     document.getElementById("loading").style.display = "none";
                }
                return;
            }
            thatbai_time++;
        },10);
    }
</script>
<table align="center" id="custom1603">
    <h3 style="color:aqua" id="custom1604">Bạn nên trải nghiệm tính năng này trên máy tính (PC), laptop,... nhé 😄</h3>
    <br />
    <h2 style="text-align:center" id="custom1605">Play Test Trắc Nghiệm</h2>
    <br />
    @using (Html.BeginForm("TracNghiem", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
    @Html.ValidationSummary(true)
    <tr style="height:40px" id="custom1606">
        <td id="custom1607"> </td>
        <td id="custom1608">
            <br>
            <b id="custom1609"> Tải file TXT trắc nghiệm của bạn (đã xử lý) : </b>
            <br>
            <input type="file" name="txtFile"/>
            <b id="custom1610">@Html.ActionLink("Bạn chưa có file trắc nghiệm?","CreateFile_TracNghiem")</b>
            <br>
            <span style="color:red; font-style:italic" id="custom1611">@ViewData["Loi1"] </span>
        </td>
    </tr>
    <tr style="height:40px" id="custom1612">
        <td id="custom1613"> </td>
        <td id="custom1614">
            <br>
            <b id="custom1615"> Nhập tên môn học/tên kỳ kiểm tra : </b>
            <br>
            <input type="text" name="txtMon" size="50" value=" "/>
            <br>
            <span style="color:red; font-style:italic" id="custom1616">@ViewData["Loi"] </span>
        </td>
    </tr>
    <tr style="height:40px" id="custom1617">
        <td id="custom1618"> </td>
        <td id="custom1619">
            <br>
            <b id="custom1620">Số câu cần làm :</b>
            <br>
            <input type="number" name="txtSoCau" min="1" value="100" id="custom1621">
            <br>
            <span style="color:red; font-style:italic" id="custom1622">@ViewData["Loi2"] </span>
        </td>
    </tr>
    <tr style="height:40px" id="custom1623">
        <td id="custom1624"></td>
        <td id="custom1625">
            <br>
            <b id="custom1626">Thời gian làm bài (phút) : </b>
            <br>
            <input type="number" name="txtTime" min="1" value="30" id="custom1627">
            <br>
            <span style="color:red; font-style:italic" id="custom1628">@ViewData["Loi3"] </span>
        </td>
    </tr>
    <tr style="height:40px" id="custom1629">
        <td id="custom1630"></td>
        <td id="custom1631">
            <input  id="ok" onclick="xong()" style="font-weight:bolder" type="Submit" value="Bắt đầu làm bài" />
            <br>
            <img id="loading" src="/Image_Play/waiting.gif" style="display:none" />
        </td>
    </tr>
    }
</table>