<script>
    function xoaallfile(){
        
        var check = prompt('Để xác nhận xoá tất cả các file trên Server, admin nhập đúng mật mã : ');
        
        if (check!=null)
        {
            if (check != "admin")
        {
            alert('Mật mã xác nhận xử lý không chính xác!')
        }
        else{
            alert('Thành công! Tác vụ sẽ tiến hành chuẩn bị xử lý...')
        }

         window.location.href = "/Home/XoaAllFile?password="+check;
        }
    }

    function xacnhan()
    {
        alert('Thành công! File của bạn đã bị xoá khỏi Server hệ thống...')
    }

    function downloadfile()
    {
        window.location.href = "/Home/DownloadFile";
    }

    function soluongfile()
    {
        window.location.href = "/Home/UploadFile?sl="+document.getElementById("SL").value;
    }

</script>

<table align="center">
    <h2 style="text-align:center">UPLOAD YOUR FILE - lưu ý nếu thao tác bạn thực hiện đã xảy ra lỗi (mặc dù các thông tin của bạn cung cấp đúng và đầy đủ), tuy nhiên một số trường hợp các file của bạn vẫn có thể upload lên Server thành công bằng một cách kỳ diệu nào đó :)) - vì vậy bạn có thể kiểm tra tồn tại file của bạn đã được đăng tải hoặc thử lại sau :v</h2>

    <h3 style="color:blue">@Html.Raw(@ViewBag.KetQua)</h3>
    
    <button style="color:purple" onclick="xoaallfile()">Xoá tất cả các file trên Server (dành cho admin)</button>
    <br />
    <br />
    <button style="color:blueviolet" onclick="downloadfile()">Bạn đã có file trên hệ thống trước đó?</button>
    <br />
    <br />
    <b>Nhập số lượng file mà bạn muốn đăng tải : </b> <input type="number" id="SL" value="@ViewBag.SL" min="1"/>
    <button onclick="soluongfile()">OK</button>

    @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)

        <br />
            <span style="color:red; font-style:italic">@ViewData["Loi"] </span>
            <br />

        @for (int i = 0; i < ViewBag.SL; i++)
        {
            <tr style="height:40px">
                <td> Upload 1 file của bạn : </td>
                <td>
                    <input type="file" name="fileUpload">
                    <br>
                </td>
            </tr>
            <br />

            <tr style="height:40px">
                <td> Đặt lại tên file ngắn gọn tuỳ bạn gợi nhớ (file được lưu trữ trên Server sẽ mang tên này) : </td>
                <td>
                    <input type="text" size="50" name="TenFile">
                    <br>
                </td>
            </tr>
        }
            
        @if(ViewBag.SL > 0)
        {
            <tr style="height:40px">
                <td></td>
                <td>
                    <input style="font-weight:bolder" type="Submit" value="OK UPLOAD" />
                </td>
            </tr>
        }
    }
</table>