@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<script>
    function xoaValue(ele)
    {
          document.getElementById(ele).value = "";
          document.getElementById(ele).focus();
    }
</script>
<table align="center">
    <h2 style="text-align:center">Insert SQL (mới)</h2>
    <h3 style="color:purple" onclick="muaxuan()">@ViewBag.KetQua</h3>
    @using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)
    <tr style="height:40px">
        <td> </td>
        <td>
            <br>
            <a href="#xuly" onclick="xoaValue('namecu')"> <b>Nhập tên các cột của Table tại DB cũ (tách nhau bởi Enter) : </b></a><br>
            <br>
            <textarea name="txtNameCu" id="namecu" cols="100" rows="10">@ViewBag.NameCu</textarea>
            <br>
            <a href="#xuly" onclick="xoaValue('recordcu')"> <b>Nhập một record bất kỳ của bảng tại DB cũ muốn sao chép (vui lòng copy dữ liệu từ kết quả SQL sau khi excute Table để nội dung được phân tách bởi Tab) : </b></a><br>
            <br>
            <input type="text" id="recordcu" name="txtRecordCu" value="@ViewBag.RecordCu" size="100" />
             <br>
            <a href="#xuly" onclick="xoaValue('namemoi')"> <b>Nhập tên các cột của Table tại DB mới (tách nhau bởi Enter) : </b></a><br>
            <br>
            <textarea name="txtNameMoi" id="namemoi" cols="100" rows="10">@ViewBag.NameMoi</textarea>
            <br>
            <a href="#xuly" onclick="xoaValue('recordmoi')"> <b>Nhập một record bất kỳ của bảng tại DB mới bạn mà tin tưởng (vui lòng copy dữ liệu từ kết quả SQL sau khi excute Table để nội dung được phân tách bởi Tab) : </b></a><br>
            <br>
            <input type="text" id="recordmoi" name="txtRecordMoi" value="@ViewBag.RecordMoi" size="100" />
            <br />

        </td>
    </tr>
    <tr style="height:40px">
        <td></td>
        <td>
            <input type="Submit" value="Kết Quả" />
        </td>
    </tr>
    }
</table>
<br /><br />
******************************************************************************************************************************************************************************
<br />
<br />
<br />
<div id="hihi">
    @Html.Raw(ViewBag.Result) <br><br>@if(TempData["fileResult"] != null) {<a id="downloadResult" href="/POST_DataResult/@TempData["fileResult"]" download>CLICK HERE TO DOWNLOAD TXT RESULT</a>}
</div>