@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
<script>
    function xoaValue(ele)
    {
          document.getElementById(ele).value = "";
          document.getElementById(ele).focus();
    }
</script>
<table align="center" id="custom1834">
    <h2 style="text-align:center" id="custom1835">Xử Lý SQL 1</h2>
    <h3 style="color:purple" onclick="muaxuan()" id="custom1836">@ViewBag.KetQua</h3>
    @using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)
    <tr style="height:40px" id="custom1837">
        <td id="custom1838"> </td>
        <td id="custom1839">
            <br>
            <a href="#xuly" onclick="xoaValue('table')"><b id="custom1840">Chuỗi tên các Tables (chú ý index - cách nhau bởi Enter) : <br>
            </b></a>
            <br>
            <textarea cols="50" rows="12" name="txtTables" id="table">@ViewBag.Table</textarea>
        </td>
    </tr>
    <tr style="height:40px" id="custom1841">
        <td id="custom1842"></td>
        <td id="custom1843"><br>
            <input type="Submit" value="Kết Quả" />
        </td>
    </tr>
    }
</table>
<br /><br />
******************************************************************************************************************************************************************************
<br />
<br />
<br />
<div id="hihi">
    @Html.Raw(ViewBag.Result) <br><br>@if(TempData["fileResult"] != null) {<a id="downloadResult" href="/POST_DataResult/@TempData["fileResult"]" download>CLICK HERE TO DOWNLOAD TXT RESULT</a>}
</div>