@if (TempData["ViewSiteBasic"] == "true")
{
Layout = null;
}
<script>

     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true;
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true;
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
<script>
    function xoaValue(ele)
    {
          document.getElementById(ele).value = "";
          document.getElementById(ele).focus();
    }
</script>
<table align="center" id="custom2079">
    <h2 style="text-align:center" id="custom2080">Xử Lý SQL 3</h2>
    <h3 style="color:purple" onclick="muaxuan()" id="custom2081">@ViewBag.KetQua</h3>
    @using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)
    <tr style="height:40px" id="custom2082">
        <td id="custom2083"> </td>
        <td id="custom2083">
            <a href="#xuly" onclick="xoaValue('field')"><b id="custom2085">Nhập các fields - tách nhau bởi Enter (hoặc bỏ qua, có thể nhập dồn ở phần input chuỗi xử lý bên dưới) : <br>
            </b></a>
            <br>
            <textarea cols="50" rows="10" name="txtField" id="field">@ViewBag.Field</textarea>
            <br>
            <a href="#xuly" onclick="xoaValue('dauhieu')"><b id="custom2085">[Nếu bạn đã nhập input trên thì bắt buộc phải điền thêm input này] Nhập giá trị dấu hiệu từng record để xuống hàng - tách nhau bởi Enter (thường là cột đầu hoặc ID / hoặc bỏ qua, có thể nhập dồn ở phần input chuỗi xử lý bên dưới) : <br>
            </b></a>
            <br>
            <textarea cols="50" rows="10" name="txtDauHieu" id="dauhieu">@ViewBag.DauHieu</textarea>
            <br>
            <a href="#xuly" onclick="xoaValue('chuoi')"><b id="custom2085">Chuỗi xử lý (admin tự hiều :)) - mỗi thành phần tách nhau bởi \n#3275#\n, hoặc nếu bạn đã liệt kê giá trị cho hai input trên thì khỏi (cứ paste giá trị output SQL vô bình thường)) : <br>
            </b></a>
            <br>
            <textarea cols="100" rows="15" name="txtChuoi" id="chuoi">@ViewBag.Chuoi</textarea>
        </td>
    </tr>
    <tr style="height:40px" id="custom2082">
        <td id="custom2083"></td>
        <td id="custom2083"><br>
            <input type="Submit" value="Kết Quả" />
        </td>
    </tr>
    }
</table>
<br /><br />
******************************************************************************************************************************************************************************
<br />
<br />
<br />
<div id="hihi">
    @Html.Raw(ViewBag.Result) <br><br>@if(TempData["fileResult"] != null) {<a id="downloadResult" href="/POST_DataResult/@TempData["fileResult"]" download>CLICK HERE TO DOWNLOAD TXT RESULT</a>}
</div>