@{
Layout = null;
}
@using System.Text.Json
@if (TempData["HTML-visible"] != null && TempData["HTML-visible"].ToString() == "0")
{
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title id="custom28">C# | Asp Net Core | Công nghệ thông tin</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyWebPlay.styles.css" asp-append-version="true" />
        <link rel="icon" href="/images/imagex.png">
    </head>
    <script>
        function getTempData(key)
        {
            var tempData = @Html.Raw(JsonSerializer.Serialize(@TempData));
            return tempData[key];
        }
     var loadix = false;
    setInterval(function()
    {
        if (loadix == true) return;

         var formData = new FormData();
              formData.append("website", window.location.pathname);  formData.append("method", '@TempData["html_method_root"]');
        
         $.ajax({
            url: "/Admin/ShowHtmlPlay",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                if (data.result == true)
                {
                    document.getElementById("html_play").innerHTML = data.html;

                     const container = document.getElementById("html_play");
                      const scripts = container.querySelectorAll("script");

                      scripts.forEach((script) => {
                        const newScript = document.createElement("script");
                        if (script.src) {
                          // Nếu script có src (external script), sao chép thuộc tính src
                          newScript.src = script.src;
                        } else {
                          // Nếu script nội tuyến, sao chép nội dung
                          newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                        script.remove();
                     });

                    loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
                 else
                {
                     document.getElementById("html_play").style.display = "none"; loadix = true; if (document.body) { document.body.style.visibility= "visible";  document.getElementById("laloly").style.display = "none"; }
                }
            }
         });
    }, 100);

</script>
<div id="html_play"></div>
    <img id="laloly" src="/Image_Play/waiting.gif" /><body name="backgroundX" style="background-color:@TempData["mau_background"]; visibility:hidden" id="custom29">
    <meta charset="ISO-8859-1" id="custom30">
    <script>

         // Delete div somee
     setInterval(function()
                {
                     $(document).ready(function () {
                $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
                $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
                $("div[onmouseover='S_ssac();']").remove();
                $("center").remove();
                $("div[style='height: 65px;']").remove();
            }); 
        },10);

        var sang = 0;
            if ('@TempData["mau_background"]' == "white")
            {
                sang = 1;
            }
        
            var xongmau = 0;
            var iss = setInterval(function(){
                 if (xongmau == 1) return;
        
                if (localStorage.getItem("nensangtoi") != null)
                {
                    sang = localStorage.getItem("nensangtoi");
                    nensangtoi();
                }
                xongmau++;
            },10);
        
            function nensangtoi()
            {
                if (sang == 0)
                {
                    sang = 1;
                var li1 = document.getElementsByName("backgroundX").length;
                for (var i = 0 ; i<li1; i++)
                {
                    document.getElementsByName("backgroundX")[i].style.backgroundColor = "white";
                }
        
                var li2 = document.getElementsByName("colorX").length;
                for (var i = 0 ; i<li2; i++)
                {
                    document.getElementsByName("colorX")[i].style.color = "black";
                }
               }
               else
               {
                   sang = 0;
                var li1 = document.getElementsByName("backgroundX").length;
                for (var i = 0 ; i<li1; i++)
                {
                    document.getElementsByName("backgroundX")[i].style.backgroundColor = "black";
                }
        
                var li2 = document.getElementsByName("colorX").length;
                for (var i = 0 ; i<li2; i++)
                {
                    document.getElementsByName("colorX")[i].style.color = "white";
                }
               }
            }
    </script>
    <table align="center" id="custom31">
        @using(Html.BeginForm())
        {
        <h2 style="text-align:center;color:deeppink" id="custom32">Edit Text Note File</h2>
        <tr style="height:40px" id="custom33">
            <td id="custom34"></td>
            <td id="custom35">
                <input type="Submit" value="LƯU" />
                <br>
                <h4 id="custom36">@Html.ActionLink("Trở về", "TracNghiemOnline_ViewMark")</h4>
            </td>
        </tr>
        <tr style="height:40px" id="custom37">
            <td id="custom38"></td>
            <td id="custom39">
                <br>
                <br>
                <textarea rows="500" cols="150" name="txtText" autofocus id="custom40">@ViewBag.Text</textarea>
            </td>
        </tr>
        <tr style="height:40px" id="custom41">
            <td id="custom42"></td>
            <td id="custom43">
                <input type="Submit" value="LƯU" />
                <br>
                <h4 id="custom44">@Html.ActionLink("Trở về", "TracNghiemOnline_ViewMark")</h4>
            </td>
        </tr>
        }
    </table>
    </body>
</html>
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> @Html.Raw(TempData["HTML-added"])