@{
Layout = null;
}
@if (TempData["HTML-visible"] != null && TempData["HTML-visible"].ToString() != "2")
{
@model MyWebPlay.Model.SettingAdmin;
<style>
    .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    }
    .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    }
    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    }
    .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }
    input:checked + .slider {
    background-color: #2196F3;
    }
    input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    }
    input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }
    /* Rounded sliders */
    .slider.round {
    border-radius: 34px;
    }
    .slider.round:before {
    border-radius: 50%;
    }
</style>
<script>
    var t = 0;
    setInterval(function(){
    
        if (t == 1)
        return;
    
       document.getElementById("IDadmin").value = localStorage.getItem("AdminSetting-ID");
       document.getElementById("PASSadmin").value = localStorage.getItem("AdminSetting-Password");
    
       t = 1;
    },10);
    
    // Delete div somee
    
         setInterval(function()
                {
                     $(document).ready(function () {
                $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
                $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
                $("div[onmouseover='S_ssac();']").remove();
                $("center").remove();
                $("div[style='height: 65px;']").remove();
            });
                },10);
    
        function rememberMe()
        {
            if (document.getElementById("ghinho").checked == true)
            {
                localStorage.setItem("AdminSetting-ID", document.getElementById("IDadmin").value);
                localStorage.setItem("AdminSetting-Password", document.getElementById("PASSadmin").value);
            }
            else
            {
                localStorage.removeItem("AdminSetting-ID");
                localStorage.removeItem("AdminSetting-Password");
            }
        }
    
          var sang = 0;
         if ('@TempData["mau_background"]' == "white")
         {
             sang = 1;
         }
    
    
         var xongmau = 0;
         var iss = setInterval(function(){
    
              if (xongmau == 1) return;
    
             if (localStorage.getItem("nensangtoi") != null)
             {
                 sang = localStorage.getItem("nensangtoi");
                 nensangtoi();
             }
             xongmau++;
         },10);
    
         function showsetting()
         {
             var ok = prompt("Nhập mã PIN admin : ");
             if (ok != null && ok != "")
             {
                 window.location.href = "/Admin/XemXetShowSetting?code="+ok;
             }
         }
    
         function nensangtoi()
         {
             if (sang == 0)
             {
                 sang = 1;
             var li1 = document.getElementsByName("backgroundX").length;
             for (var i = 0 ; i<li1; i++)
             {
                 document.getElementsByName("backgroundX")[i].style.backgroundColor = "white";
             }
    
             var li2 = document.getElementsByName("colorX").length;
             for (var i = 0 ; i<li2; i++)
             {
                 document.getElementsByName("colorX")[i].style.color = "black";
             }
            }
            else
            {
                sang = 0;
             var li1 = document.getElementsByName("backgroundX").length;
             for (var i = 0 ; i<li1; i++)
             {
                 document.getElementsByName("backgroundX")[i].style.backgroundColor = "black";
             }
    
             var li2 = document.getElementsByName("colorX").length;
             for (var i = 0 ; i<li2; i++)
             {
                 document.getElementsByName("colorX")[i].style.color = "white";
             }
            }
         }
    
         function thaydoichon()
         {
             if (document.getElementById("chonX").options.selectedIndex == 0)
             {
                 for (var i = 0; i < new Number('@TempData["count-setting"]'); i++)
                 {
                     document.getElementById("haha-"+i).style.display = "block";
                     document.getElementById("come-"+i).style.display = "block";
                 }
             }
             else
             {
                 for (var i = 0; i < new Number('@TempData["count-setting"]'); i++)
                 {
                     if (document.getElementById("check-"+i).checked == true)
                     {
                     document.getElementById("haha-"+i).style.display = "block";
                     document.getElementById("come-"+i).style.display = "block";
                     }
                     else
                     {
                     document.getElementById("haha-"+i).style.display = "none";
                     document.getElementById("come-"+i).style.display = "none";
                     }
                 }
             }
         }
    
         function backupdataAdmin()
         {
             var con = prompt('Are you sure? Please enter admin PIN code : ');
             if (con != null && con != "")
             {
                 window.location.href = "/Admin/BackupDataAdmin?admincode="+con;
             }
         }
    
</script>
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Đăng nhập Admin - Setting</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyWebPlay.styles.css" asp-append-version="true" />
        <link rel="icon" href="/images/imagex.png">
    </head>
    <body name="backgroundX" style="background-color:@TempData["mau_background"];opacity:@TempData["opacity-body-css"]">
    <meta charset="ISO-8859-1">
    <div style="background-color:aqua">
        <h1 style="color:red">ĐĂNG NHẬP ADMIN - SETTING WEB</h1>
        <a href="#xuly" onclick="backupdataAdmin()" style="color:purple">Backup data for admin in mail</a>
        <br />
        <br />
        <h2 style="color:goldenrod">Trạng thái lần cuối : @ViewBag.SettingStatus</h2>
        <br /><br />
        @using(Html.BeginForm())
        {
        <b style="color:darkred">Nhập ID admin : </b><input id="IDadmin" name="txtID" type="password" size="100" autofocus />
        <br /><br />
        <b style="color:darkred">Nhập mật khẩu : </b><input id="PASSadmin" name="txtPassword" type="password" size="100" />
        <br /><br />
        <input type="checkbox" id="ghinho" onchange="rememberMe()" /> <b style="color:purple">Ghi nhớ thông tin - hãy nhập xong các thông tin trên mới được tick vào đây? (nếu sau này muốn huỷ, hãy tick checkbox này và tắt nó lại lần nữa)</b>
        <br /><br />
        @if(TempData["xacthuc"] == "true")
        {
        <b style="color:darkblue">Nhập mã xác thực (hai bước) : </b><input name="txtXacMinh" type="password" size="100" />
        <br /><br />
        }
        <input style="font-weight:bolder" type="submit" value="Đăng nhập" />
        <br />
        }
    </div>
    <br/>
    <hr />
    <br />
    @if (TempData["show-setting"] == "true")
    {
    <h1 style="color:deeppink">BẢN XEM TRƯỚC MỘT SỐ CÀI ĐẶT HIỆN TẠI (để chỉnh sửa vui lòng đăng nhập)</h1>
    <br />
    <select id="chonX" onchange="thaydoichon()">
        <option>Hiển thị tất cả</option>
        <option>Chỉ hiển thị các setting đang bật</option>
    </select>
    <br /><br />
    @for (int i = 0; i < Model.Topics.Count; i++)
    {
    <h3 name="colorX" style="color:@TempData["mau_text"]" id="come-@i">@Html.Raw(Model.Topics[i].NoiDung)</h3>
    <label id="haha-@i" class="switch">
    @if (Model.Topics[i].Option == false)
    {
    <input id="check-@i" disabled type="checkbox" />
    }
    else
    {
    <input id="check-@i" disabled type="checkbox" checked />
    }
    <span class="slider round"></span>
    <br /><br />
    </label>
    }
    <br /><br />
    <h3 style="color:blue">...</h3>
    <br />
    }
    else
    {
    <a href="#xuly" onclick="showsetting()" style="color:deeppink">Xem trước một số cài đặt admin</a>
    }
    </body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</html>
}