@if (TempData["HTML-visible"].ToString() != "2")
{
Layout = null;
<!DOCTYPE html>
@model MyWebPlay.Model.SettingAdmin;
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C# | Asp Net Core | Công nghệ thông tin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyWebPlay.styles.css" asp-append-version="true" />
    <link rel="icon" href="/images/imagex.png">
</head>
<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
<body name="backgroundX" style="background-color:@TempData["mau_background"]">
    <br />

    <script>


        localStorage.removeItem("mini-Web");

        var checkme = 0;

        if ('@TempData["check-me"]' == "true")
        {
            checkme = 1;
        }

        function changeShow(x1, x2, x3, x4)
        {
            var txtAcceptUrl1 = document.getElementById(x1);

            var txtAcceptUrl2 = document.getElementById(x2);

            if (document.getElementById(x3).checked == true)
            {
                if (txtAcceptUrl1.value.replaceAll(x4,"\n") != txtAcceptUrl2.value)
                {
                    alert("Có vẻ như bạn vẫn đang tiến hành chỉnh sửa, vui lòng hoàn tác hoặc hoàn tất quá trình này để xem lại kết quả sau !");
                    document.getElementById(x3).checked = false;
                }
                else
                {
                    txtAcceptUrl1.style.display = "none";
                    txtAcceptUrl2.style.display = "inline-block";
                }
            }
            else
            {
                    txtAcceptUrl1.style.display = "inline-block";
                    txtAcceptUrl2.style.display = "none";
            }
        }
       
        function mailthefirstIP()
        {
            var xn = confirm('Bạn có chắc chắn không?');
            if (xn == true)
            {
                window.location.href = "/Admin/RefreshTheFistIP";
            }
        }


        function getmamau()
        {
            var mau = document.getElementById("bgColor").value;
            alert("Mã màu của bạn đang chọn là : "+mau);
        }

        function deleteX()
        {
            var xn = confirm('Bạn có chắc chắn không?');
            if (xn == true)
            {
                window.location.href = "/Admin/DeleteAll_ThisIPRegist";
            }
        }

        function doichonlua()
        {
            document.getElementById("chonX").value = document.getElementById("chonlua").options.selectedIndex;
        }

        function okreplace()
        {
             var xn = confirm('Bạn có chắc chắn không? (tất cả dữ liệu liên quan sẽ được thay thế và được áp dụng vào lần tới, hệ thống sẽ lọc ra những file không cần thiết). Mọi sự thay đổi sẽ không thể khôi phục lại.');
            if (xn == true)
            {
                document.getElementById("oki").click();
            }
        }

         function deleteY()
        {
            var xn = confirm('Bạn có chắc chắn không?');
            if (xn == true)
            {
                window.location.href = "/Admin/DeleteAll_ThisIPLocked";
            }
        }

         function deleteZ()
        {
            var xn = confirm('Bạn có chắc chắn không?');
            if (xn == true)
            {
                window.location.href = "/Admin/DeleteAll_ThisIPLockedClient";
            }
        }


        // Delete div somee

        setInterval(function()
        {
             $(document).ready(function () {
        $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
        $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
        $("div[onmouseover='S_ssac();']").remove();
        $("center").remove();
        $("div[style='height: 65px;']").remove();
    });
        },1);

         function sudungMini()
         {
             if (checkme == 0)
             {
                 alert("Trước tiên, hãy kiểm tra và cấp quyền sử dụng web mini admin.\nNếu sau đó vẫn chưa được, tức là bạn đã thực hiện không thành công thì bạn phải thử lại sau...");
                 return;
             }

             var n = new Number(document.getElementById("count").value) - 25;
            for (var i = 0; i < n;i++)
            {
                if (document.getElementById("check-"+i).checked == true)
                {
                    alert("Vui lòng tắt tất cả các item setting bên dưới để có thể tiếp tục...");
                    window.location.href = "/Admin/SettingXYZ_DarkAdmin";
                    return;
                }
            }

            var fr = document.getElementById("frameplay");
            fr.style.display = "inline-block";
            fr.src = "/Home/Index?mini=true";
            fr.style.width = "100%";
            fr.style.height = "100%";
            fr.style.position = "fixed";
            fr.style.right = "0";
            fr.style.bottom = "0";

            document.getElementById("caidatchung").style.display = "none";
            localStorage.setItem("mini-Web", document.getElementById("matpassAd").value);
         }

        function xoapassAd()
        {
            localStorage.removeItem("matpassAd");
        }

        if (window.localStorage.getItem("mokhoa-web") != null)
        {
            if (localStorage.getItem("mokhoa-web") == '@ViewBag.Password')
            {
                var t = 0;
               setInterval(function(){
            
                   if (t == 3)
                   {
                       window.localStorage.removeItem("mokhoa-web");
                       window.location.href="/Admin/SettingXYZ_DarkAdmin";
                   }
                   t++;
         },1000);
            }
            else
            {
                 window.localStorage.removeItem("mokhoa-web");
            }
        }

        if (window.localStorage.getItem("mokhoa-web") == null && '@TempData["tathoatdong"]' == "true")
        {
            window.location.href="/Home/Error";
        }

        if ('@TempData["loisave"]' == "false" && localStorage.getItem("setting-status") != null)
        {
            var type = localStorage.getItem("setting-status");
            localStorage.removeItem("setting-status");

            if (type != "0" || localStorage.getItem("setting-status") == "ON-ALL" || localStorage.getItem("setting-status") == "OFF-ALL")
            window.location.href = "/Admin/SettingStatusUpdate?type="+type+"&&come=false";
            else if (type == "0")
            window.location.href = "/Admin/SettingStatusUpdate?type="+type+"&&come=true";
        }

         var sang = 0;
         if ('@TempData["mau_background"]' == "white")
         {
             sang = 1;
         }

         if ('@TempData["loisave"]' == "true")
         {
             alert("Đã xảy ra lỗi sau khi xử lý yêu cầu, mời bạn thử lại !");
         }

         var xongmau = 0;
         var iss = setInterval(function(){

              if (xongmau == 1) return;

             if (localStorage.getItem("matpassAd") != null)
             {
                 document.getElementById("matpassAd").value = localStorage.getItem("matpassAd");
             }

             if (localStorage.getItem("nensangtoi") != null)
             {
                 sang = localStorage.getItem("nensangtoi");
                 nensangtoi();
             }
             xongmau++;
         },10);

         function nensangtoi()
         {
             if (sang == 0)
             {
                 sang = 1;
             var li1 = document.getElementsByName("backgroundX").length;
             for (var i = 0 ; i<li1; i++)
             {
                 document.getElementsByName("backgroundX")[i].style.backgroundColor = "white";
             }

             var li2 = document.getElementsByName("colorX").length;
             for (var i = 0 ; i<li2; i++)
             {
                 document.getElementsByName("colorX")[i].style.color = "black";
             }
            }
            else
            {
                sang = 0;
             var li1 = document.getElementsByName("backgroundX").length;
             for (var i = 0 ; i<li1; i++)
             {
                 document.getElementsByName("backgroundX")[i].style.backgroundColor = "black";
             }

             var li2 = document.getElementsByName("colorX").length;
             for (var i = 0 ; i<li2; i++)
             {
                 document.getElementsByName("colorX")[i].style.color = "white";
             }
            }
         }

         if (('@TempData["admin-open"]' == "" || '@TempData["admin-open"]' == null) && localStorage.getItem('@TempData["key-admin"]') != null)
         {
             window.location.href = "/Admin/OpenAdmin?code="+localStorage.getItem('@TempData["key-admin"]');
         }

        if (localStorage.getItem('@TempData["key-admin"]') == null || '@TempData["admin-open"]' == "false")
        {
           localStorage.removeItem('@TempData["key-admin"]');
            window.location.href = "/Home/Error";
        }

        if ('@TempData["SaveComeHere"]' == "true" && window.location.search == "?key=code")
        window.location.href = "#listIPcomehere";

        function reportIPcomehere()
        {
            window.location.href = "/Admin/ReportListIPComeHere";
        }

         function deleteIPcomehere()
        {
            var con = confirm('Are you sure?');
            if (con == true)
            window.location.href = "/Admin/DeleteIPComeHere";
        }

        function listIPcomehere()
        {
            window.location.href = "#listIPcomehere";
        }

        function xong()
        {
             if (document.getElementById("luupass").checked == true)
            {
                localStorage.setItem("matpassAd", document.getElementById("matpassAd").value);
            }

            localStorage.setItem("setting-status","0");
             document.getElementById("ok").click();
        }

          function saveXY()
        {
             localStorage.removeItem("matpassAd");
             localStorage.setItem("setting-status","-1");
             document.getElementById("ok-X").click();
        }

        function saveX(x)
        {
             if (document.getElementById("luupass").checked == true)
            {
                localStorage.setItem("matpassAd", document.getElementById("matpassAd").value);
            }

            localStorage.setItem("setting-status","0");
            if (document.getElementById("chon").options.selectedIndex == 0)
            {
                document.getElementById("ok").click();
            }
            else
            {
                 var n = new Number(document.getElementById("count").value) - 25;
                for (var i = 0; i < n;i++)
                {
                    if (i == x)
                    document.getElementById("save-"+i).style.display = "block";
                    else
                    document.getElementById("save-"+i).style.display = "none";
                }
            }
        }

        function chonnhanh()
        {
             if (document.getElementById("luupass").checked == true)
            {
                localStorage.setItem("matpassAd", document.getElementById("matpassAd").value);
            }

            var ch = document.getElementById("chonXY").options.selectedIndex;

            if (ch == 0)
            return;

            if (ch == 1)
            {
                 var n = new Number(document.getElementById("count").value) - 25;
            for (var i = 0; i < n;i++)
            {
                if (i == 0 || i == 20 || i == 30)
                document.getElementById("check-"+i).checked = true;
                else
                document.getElementById("check-"+i).checked = false;
            }
            localStorage.setItem("setting-status", "1");
            document.getElementById("ok").click();
            }

             if (ch == 2)
            {
                 var n = new Number(document.getElementById("count").value) - 25;
            for (var i = 0; i < n;i++)
            {
                if (i == 1 || i == 2)
                document.getElementById("check-"+i).checked = true;
                else
                document.getElementById("check-"+i).checked = false;
            }
            localStorage.setItem("setting-status", "2");
            document.getElementById("ok").click();
            }

              if (ch == 3)
            {
                 var n = new Number(document.getElementById("count").value) - 25;
            for (var i = 0; i < n;i++)
            {
                if (i == 1 || i == 20)
                document.getElementById("check-"+i).checked = true;
                else
                document.getElementById("check-"+i).checked = false;
            }
            localStorage.setItem("setting-status", "3");
            document.getElementById("ok").click();
            }

              if (ch == 4)
            {
                 var n = new Number(document.getElementById("count").value) - 25;
            for (var i = 0; i < n;i++)
            {
                if (i == 1 || i == 2 || i == 25)
                document.getElementById("check-"+i).checked = true;
                else
                document.getElementById("check-"+i).checked = false;
            }
            localStorage.setItem("setting-status", "4");
            document.getElementById("ok").click();
            }

              if (ch == 5)
            {
                 var n = new Number(document.getElementById("count").value) - 25;
            for (var i = 0; i < n;i++)
            {
                if (i == 1 || i == 2 || i == 26)
                document.getElementById("check-"+i).checked = true;
                else
                document.getElementById("check-"+i).checked = false;
            }
            localStorage.setItem("setting-status", "5");
            document.getElementById("ok").click();
            }

              if (ch == 6)
            {
                 var n = new Number(document.getElementById("count").value) - 25;
            for (var i = 0; i < n;i++)
            {
                if (i == 2 || i == 20)
                document.getElementById("check-"+i).checked = true;
                else
                document.getElementById("check-"+i).checked = false;
            }
            localStorage.setItem("setting-status", "6");
            document.getElementById("ok").click();
            }

               if (ch == 7)
            {
                 var n = new Number(document.getElementById("count").value) - 25;
            for (var i = 0; i < n;i++)
            {
                if (i == 20)
                document.getElementById("check-"+i).checked = true;
                else
                document.getElementById("check-"+i).checked = false;
            }
            localStorage.setItem("setting-status", "7");
            document.getElementById("ok").click();
            }

              if (ch == 8)
            {
                 var n = new Number(document.getElementById("count").value) - 25;
            for (var i = 0; i < n;i++)
            {
                if (i == 1 || i == 2 || i == 25 || i == 3 || i == 4 || i == 5 || i == 6)
                document.getElementById("check-"+i).checked = true;
                else
                document.getElementById("check-"+i).checked = false;
            }
            localStorage.setItem("setting-status", "8");
            document.getElementById("ok").click();
            }

              if (ch == 9)
            {
                 var n = new Number(document.getElementById("count").value) - 25;
            for (var i = 0; i < n;i++)
            {
                if (i == 1 || i == 2 || i == 25 || i == 3 || i == 4 || i == 5 || i == 6 || i == 7 )
                document.getElementById("check-"+i).checked = true;
                else
                document.getElementById("check-"+i).checked = false;
            }
            localStorage.setItem("setting-status", "9");
            document.getElementById("ok").click();
            }

              if (ch == 10)
            {
                 var n = new Number(document.getElementById("count").value) - 25;
            for (var i = 0; i < n;i++)
            {
                if (i >=13 && i<= 19 || i >= 21 && i <= 23 || i == 28)
                document.getElementById("check-"+i).checked = true;
                else
                continue;
            }
            localStorage.setItem("setting-status", "10");
            document.getElementById("ok").click();
            }

              if (ch == 11)
            {
                 var n = new Number(document.getElementById("count").value) - 25;
            for (var i = 0; i < n;i++)
            {
                if (i >=13 && i<= 19 || i >= 21 && i <= 23 || i == 28)
                document.getElementById("check-"+i).checked = false;
                else
                continue;
            }
            localStorage.setItem("setting-status", "11");
            document.getElementById("ok").click();
            }

              if (ch == 12)
            {
                 var n = new Number(document.getElementById("count").value) - 25;
            for (var i = 0; i < n;i++)
            {
                if (i == 24)
                document.getElementById("check-"+i).checked = true;
                else
                continue;
            }
            localStorage.setItem("setting-status", "12");
            document.getElementById("ok").click();
            }

               if (ch == 13)
            {
                localStorage.setItem("setting-status","13");
                 document.getElementById("check-31").checked = true;
                  document.getElementById("ok").click();
            }

               if (ch == 14)
            {
                localStorage.setItem("setting-status","14");
                 document.getElementById("check-32").checked = true;
                  document.getElementById("check-3").checked = true;
                  document.getElementById("ok").click();
            }

              if (ch == 15)
            {
                 var n = new Number(document.getElementById("count").value) - 25;
            for (var i = 0; i < n;i++)
            {
                if (i == 1 || i == 2 || i == 25 || i == 4 || i == 5 || i == 6 || i == 7 || i == 8)
                document.getElementById("check-"+i).checked = true;
                else
                document.getElementById("check-"+i).checked = false;
            }
            localStorage.setItem("setting-status", "15");
            document.getElementById("ok").click();
            }

               if (ch == 16)
            {
                localStorage.setItem("setting-status","-1");
                 document.getElementById("check-33").checked = true;
                 localStorage.removeItem("matpassAd");
                  document.getElementById("ok-X").click();
            }

              if (ch == 17)
            {
                localStorage.setItem("setting-status","16");
                 document.getElementById("check-45").checked = false;
                 document.getElementById("check-46").checked = false;
                 document.getElementById("check-47").checked = false;
                  document.getElementById("check-48").checked = false;
                  document.getElementById("check-49").checked = false;
                  document.getElementById("check-53").checked = false;
                  document.getElementById("check-54").checked = false;
                  document.getElementById("check-57").checked = false;
                  document.getElementById("ok").click();
            }

              if (ch == 18)
            {
                 var n = new Number(document.getElementById("count").value) - 25;
            for (var i = 0; i < n;i++)
            {
                 if (i == 8)
                document.getElementById("check-"+i).checked = true;
                else
                document.getElementById("check-"+i).checked = false;
            }
            localStorage.setItem("setting-status", "17");
                 document.getElementById("check-45").checked = false;
                 document.getElementById("check-46").checked = false;
                 document.getElementById("check-47").checked = false;
                  document.getElementById("check-48").checked = true;
                  document.getElementById("check-49").checked = false;
                  document.getElementById("check-53").checked = false;
                  document.getElementById("check-54").checked = false;
                  document.getElementById("check-57").checked = true;
                  document.getElementById("ok").click();
            }
        }

        function chonall()
        {
             localStorage.setItem("setting-status","ON-ALL");
              if (document.getElementById("luupass").checked == true)
            {
                localStorage.setItem("matpassAd", document.getElementById("matpassAd").value);
            }
            var n = new Number(document.getElementById("count").value) - 25;
            for (var i = 0; i < n;i++)
            {
                if (i == 29) continue;

                document.getElementById("check-"+i).checked = true;
            }
            document.getElementById("ok").click();
        }

        function boall()
        {
            localStorage.setItem("setting-status","OFF-ALL");
             if (document.getElementById("luupass").checked == true)
            {
                localStorage.setItem("matpassAd", document.getElementById("matpassAd").value);
            }
            var n = new Number(document.getElementById("count").value) - 25;
            for (var i = 0; i < n;i++)
            {
                document.getElementById("check-"+i).checked = false;
            }
            document.getElementById("ok").click();
        }

        var active = 0;

        function loadActive()
        {
            if (active == 1)
            return;

            active = 1;

            var list = '@TempData["ListIPActive"]'.toString().split("##");

            var listA = "";
            for (var i =0 ; i < list.length; i++)
            {
                if (list[i] != "")
                listA += "<option>"+list[i]+"</option>";
            }
            document.getElementById("ip_active").innerHTML = listA;
             var x = document.getElementById("ip_active");
            document.getElementById("txtIPActive").value = x.options[0].text;
        }

        function setActive()
        {
            var x = document.getElementById("ip_active");
            document.getElementById("txtIPActive").value = x.options[x.selectedIndex].text;
        }

        //-----------------------

        var lockAdmin = 0;

        function loadLockAdmin()
        {
            if (lockAdmin == 1)
            return;

            lockAdmin = 1;

            var list = '@TempData["ListIPLockAdmin"]'.toString().split("##");

            var listB = "";
            for (var i =0 ; i < list.length; i++)
            {
                if (list[i] != "")
                listB += "<option>"+list[i]+"</option>";
            }
            document.getElementById("ip_blockadmin").innerHTML = listB;
             var x = document.getElementById("ip_blockadmin");
            document.getElementById("txtIPLockAdmin").value = x.options[0].text;
        }

        function setLockAdmin()
        {
            var x = document.getElementById("ip_blockadmin");
            document.getElementById("txtIPLockAdmin").value = x.options[x.selectedIndex].text;
        }

         //-----------------------

        var lockClient = 0;

        function loadLockClient()
        {
            if (lockClient == 1)
            return;

            lockClient = 1;

            var list = '@TempData["ListIPLockClient"]'.toString().split("##");

            var listC = "";
            for (var i =0 ; i < list.length; i++)
            {
                if (list[i] != "")
                listC += "<option>"+list[i]+"</option>";
            }
            document.getElementById("ip_blockclient").innerHTML = listC;
            var x = document.getElementById("ip_blockclient");
            document.getElementById("txtIPLockClient").value = x.options[0].text;
        }

        function setLockClient()
        {
            var x = document.getElementById("ip_blockclient");
            document.getElementById("txtIPLockClient").value = x.options[x.selectedIndex].text;
        }

        //========================

        function addActive()
        {
             var re = confirm("Are you sure?");
            if (re == false) return;
            window.location.href = "/Home/Setting_AddIPActive?ip="+document.getElementById("txtIPActive").value+"&info="+document.getElementById("ghichu").value;
        }

         function removeActive()
        {
             var re = confirm("Are you sure?");
            if (re == false) return;
            window.location.href = "/Home/Setting_RemoveIPActive?ip="+document.getElementById("txtIPActive").value;
        }

        function addLockAdmin()
        {
             var re = confirm("Are you sure?");
            if (re == false) return;
            window.location.href = "/Home/Setting_AddIPLockAdmin?ip="+document.getElementById("txtIPLockAdmin").value;
        }

         function removeLockAdmin()
        {
             var re = confirm("Are you sure?");
            if (re == false) return;
            window.location.href = "/Home/Setting_RemoveIPLockAdmin?ip="+document.getElementById("txtIPLockAdmin").value;
        }

         function addLockClient()
        {
             var re = confirm("Are you sure?");
            if (re == false) return;
            window.location.href = "/Home/Setting_AddIPLockClient?ip_pass="+document.getElementById("txtIPLockClient").value;
        }

        function changeCodeLockClient()
        {
             var re = confirm("Bạn có chắc chắn không?");
            if (re == false) return;
            window.location.href = "/Home/Setting_ChangePassLockClient?ip_pass="+document.getElementById("txtIPLockClient").value;
        }

         function removeLockClient()
        {
            var re = confirm("Are you sure?");
            if (re == false) return;

            window.location.href = "/Home/Setting_RemoveIPLockClient?ip_pass="+document.getElementById("txtIPLockClient").value;
        }

        function deleteFirstIP()
        {
             var re = confirm("Are you sure?");
            if (re == false) return;

            window.location.href = "/Admin/DeleteFirstIP";
        }

        //function xoachitiet()
        //{
        //    window.location.href = "/Admin/RefreshInfoIPRegist";
        //}

         function deletechitiet()
        {
            var re = confirm("Are you sure?");
            if (re == false) return;

             window.location.href = "/Admin/RefreshInfoIPRegist";
        }

        function refreshHetHan()
        {
             window.location.href = "/Admin/RefreshFileHetHan";
        }

        function addJPReplace()
        {
            var re = confirm("(⚠) Are you sure?");
            if (re == false) return;

             window.location.href = "/Home/AddJPReplace?nd="+document.getElementById("JPrex").value.replaceAll("\n","⭐");
        }

         function addFontReplace()
        {
            var re = confirm("(⚠) Are you sure?");
            if (re == false) return;

             window.location.href = "/Home/AddFontReplace?nd="+document.getElementById("txtFont").value.replaceAll("\n","⭐");
        }

          function resetJPReplace()
        {
            var re = confirm("(⚠) Are you sure?");
            if (re == false) return;

             window.location.href = "/Home/ResetJPReplace";
        }

           function resetFontReplace()
        {
            var re = confirm("(⚠) Are you sure?");
            if (re == false) return;

             window.location.href = "/Home/ResetFontReplace";
        }



        function checkmeMiniWeb()
        {
            window.location.href= "/Admin/CheckMeMiniWeb?code="+document.getElementById("matpassAd").value;
        }

        function demoBG()
        {
            document.getElementById("background-demo").style.backgroundColor = document.getElementById("bgColor").value;
        }

          function demoText()
        {
            document.getElementById("text-demo").style.color = document.getElementById("textColor").value;
            
        }

          function luulaiDemo()
        {
            document.getElementById("txtDEMO").value = document.getElementById("bgColor").value + "<>" + document.getElementById("textColor").value;
            //window.location.href = "#demo-X";
            document.getElementById("ok").click();
        }

        var dm = 0

        setInterval(function()
        {

            if (dm == 1 || document.getElementById("txtDEMO").value == "") return;

            var dx = document.getElementById("txtDEMO").value.split("<>");

            document.getElementById("bgColor").value = dx[0];
             document.getElementById("textColor").value = dx[1];

             document.getElementById("background-demo").style.backgroundColor = document.getElementById("bgColor").value;
             document.getElementById("text-demo").style.color = document.getElementById("textColor").value;

             document.getElementById("apdungnen").style.display = "none";

            dm = 1;
        }, 10);

     </script>

@*<label class="switch">
  <input type="checkbox">
  <span class="slider"></span>
</label>*@
<a href="#xuly" style="color:seagreen" onclick="checkmeMiniWeb()">Hãy kiểm tra tôi? (cấp quyền sử dụng mini web)</a><span>&nbsp;</span><button onclick="sudungMini()"><span>&nbsp;</span><b>Bật sử dụng Mini Web - Admin (load lại trang nếu muốn tắt)</b></button><b style="color:orangered">Chú ý : hãy nhớ load lại trang ngay khi sử dụng xong ✔</b><br />
<br />
 <iframe style="display:none" id="frameplay"></iframe>
<br />
<br />
<hr />
<br />
<div id="caidatchung">
 @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <input type="password" name="txtMatPassAd" id="matpassAd" size="30" /><input type="checkbox" id="luupass" onchange="xoapassAd()" />
        <br />
        <input type="number" id="count" hidden value ="@Model.Topics.Count" />
        <select id="chon">
            <option>Chọn một - lưu lại liền</option>
            <option>Chọn nhiều liên tục - lưu lại sau</option>
        </select>
        <br /><br />
         <tr style="height:40px">
            <td></td>
            <td><br>
                <h2 style="color:deeppink" href="#mini-X">Cài ĐẶT ADMIN (<a href="/Admin/LoginSettingAdmin" style="color:tomato;font-weight:bolder">Đăng xuất?</a>)</h2><br /><h2 style="color:goldenrod">Trạng thái lần cuối : @ViewBag.SettingStatus</h2><br />
                <h4><a href="#xuly" onclick="refreshHetHan()" style="color:purple">Refresh hoặc xoá tất cả thư mục và các file hết hạn</a></h4><br>
                <h4><a href="#xuly" id="#welcome" onclick="chonall()" style="color:green">CHỌN TẤT CẢ</a> | <a href="#xuly" onclick="boall()" style="color:red">BỎ CHỌN TẤT CẢ</a> <br><span>&nbsp;</span><span style="color:coral">(ngoại trừ các setting phụ)<span>&nbsp;</span><span>&nbsp;</span><a href="/Admin/DongMoFileStatus" style="color:maroon">Đóng/mở sử dụng thư mục file upload Server (trạng thái : @ViewBag.FileStatus)</a>
                   <br> <select id="chonXY">
                        <option></option>
                        <option>Tắt hoạt động web site (tất cả, không nhận đơn đăng kí tiếp theo, mở chiến dịch xoá localStorage JS), ngoại trừ mật độ tuyệt đối</option>
                        <option>Bật hoạt động web site (chỉ người đã đăng kí, bật TB, nhận đơn đăng kí tiếp theo)</option>
                         <option>Bật hoạt động web site (chỉ người đã đăng kí, tắt TB, không nhận đơn đăng kí tiếp theo)</option>
                         <option>Bật hoạt động website (cho phép tất cả mọi người, không get IP)</option>
                         <option>Bật hoạt động website (cho phép tất cả mọi người, get IP)</option>
                         <option>Tắt hoạt động web site (không nhận đơn đăng kí tiếp theo, bật thông báo), ngoại trừ các IP đã đăng kí và tin tưởng</option>
                         <option>Tắt hoạt động web site (không nhận đơn đăng kí tiếp theo, tắt thông báo), ngoại trừ các IP đã đăng kí và tin tưởng</option>
                         <option>Sử dụng POST QUICK DATA và tàng hình (copy), get IP - cho phép mọi người</option>
                         <option>Sử dụng POST QUICK DATA và tàng hình (download *.txt), get IP - cho phép mọi người</option>
                         <option>Bật thông báo tất cả nội dung liên quan email và MegaIO File and list user get to link request (riêng karaoke sẽ nhận cả hai bản : Text và MP3) - giữ nguyên còn lại</option>
                         <option>Tắt thông báo tất cả nội dung liên quan email và MegaIO File and list user get to link request - giữ nguyên còn lại</option>
                         <option>Bật sử dụng website with url encode secret play - giữ nguyên còn lại (nên chọn cái này lại hoặc sau cùng)</option>
                         <option>Không cho phép sử dụng mật độ tuyệt đối hay IP tin tưởng để truy cập website - giữ nguyên còn lại</option>
                         <option>Cho phép upload file nhanh (UploadFile_ClearWeb) và chế độ tàng hình - giữ nguyên còn lại</option>
                         <option>Sử dụng POST DATA QUICK admin, cho phép mọi người, chuyển hướng đến trang file TXT của result (dành cho external)</option>
                         <option>[Đặc biệt] Khoá trang web tuyệt đối/vĩnh viễn, không thể truy cập trang nào (kể cả admin) => error all web page</option>
                         <option>[Sub admin setting] Tắt hết các setting phụ (giữ nguyên còn lại)</option>
                          <option>[Bonus secret] Bí mật và sử dụng data External API</option>
                    </select><br /><br /><a href="#xuly" onclick="chonnhanh()">Xử lý setting nhanh (có sẵn)</a>
                    <br /><br />
                </h4>
                <br>
            </td>
        </tr>

      <tr style="height:40px">
            <td> </td>
            <td>
                @for (int i = 0; i < Model.Topics.Count; i++)
{
                    if (i == 33) continue; // Item setting khoá all page web nằm tuốt phía cuối trang

                    <h3 name="colorX" style="color:@TempData["mau_text"]" id="come-@i">@Html.Raw(Model.Topics[i].NoiDung)</h3>
 @if(Model.Topics[i].ID != "Password_Admin" && Model.Topics[i].ID != "Believe_IP" && Model.Topics[i].ID != "Code_LockedClient" && Model.Topics[i].ID != "MatDoTuyetDoi" 
 && Model.Topics[i].ID != "Encode_Url" && Model.Topics[i].ID != "Info_Email" && Model.Topics[i].ID != "Info_MegaIO" 
 && Model.Topics[i].ID != "Color_BackgroundAndText" && Model.Topics[i].ID != "Color_TracNghiem"  && Model.Topics[i].ID != "AppWeb_LockedUse"
 && Model.Topics[i].ID != "DownloadFile_ClearWeb" && Model.Topics[i].ID != "Accept_ListUrl" && Model.Topics[i].ID != "UploadFile_MaxSize" 
 && Model.Topics[i].ID != "TabTittle_NoiDung" && Model.Topics[i].ID != "Time_Waiting" && Model.Topics[i].ID != "HTML_Visible" && Model.Topics[i].ID != "Admin_Setting")
 {
<label class="switch">
    @if (Model.Topics[i].Option == false)
    {

          <input id="check-@i" onchange="saveX(@i)" name="@Model.Topics[i].ID" type="checkbox" />
                                
     }
            else
            {
               
                <input id="check-@i" onchange="saveX(@i)" name="@Model.Topics[i].ID" type="checkbox" checked />
            }
            <span class="slider round"></span>
                        </label>
                        <br /><br />
                <h3 id="save-@i" style="display:none"><a onclick="xong()" href="#save" style="color:crimson">SAVE</a></h3>
                    }
                    else
                    if (Model.Topics[i].ID == "Password_Admin")
                    {
                        <input size="180" name="@Model.Topics[i].ID" type="text" value="@ViewBag.Password" />
                    }
                    else
                    if (Model.Topics[i].ID == "Believe_IP")
                    {
                        <input id="txtBelieve1" size="180" name="@Model.Topics[i].ID" type="text" value="@ViewBag.Believe" />
                                                 <br />
                            <input type="checkbox" id="checkBelieve" onchange="changeShow('txtBelieve1','txtBelieve2','checkBelieve',',')" /><b style="color:deeppink">Xem chế độ mở rộng</b>
                            <br />
                         <textarea readonly id="txtBelieve2" cols="30" rows="15" style="display:none">@ViewBag.Belive_Line</textarea>
                    }
                    else
                    if (Model.Topics[i].ID == "Code_LockedClient")
                    {
                        <input size="180" name="@Model.Topics[i].ID" type="text" value="@ViewBag.CodeSocolar" />
                    }
                     else
                    if (Model.Topics[i].ID == "MatDoTuyetDoi")
                    {
                        <input size="180" name="@Model.Topics[i].ID" type="text" value="@ViewBag.MaMatDo" />
                    }
                     else
                    if (Model.Topics[i].ID == "Encode_Url")
                    {
                        <input id="txtEncode1" placeholder="Ví dụ bạn chỉ cần nhập Home/Index là được (không cần kèm theo https://)" size="180" name="@Model.Topics[i].ID" type="text" value="@ViewBag.EncodeUrl" />
                        <br />
                            <input type="checkbox" id="checkEncode" onchange="changeShow('txtEncode1','txtEncode2','checkEncode','***')" /><b style="color:deeppink">Xem chế độ mở rộng</b><br />
                        <textarea readonly id="txtEncode2" cols="100" rows="15" style="display:none">@ViewBag.EncodeUrl_Line</textarea>
                            
                    }
                    else
                    if (Model.Topics[i].ID == "Info_Email")
                    {
                        <input size="180" name="@Model.Topics[i].ID" type="text" value="@ViewBag.InfoEmail" />
                    }
                    else
                    if (Model.Topics[i].ID == "Info_MegaIO")
                    {
                        <input size="180" name="@Model.Topics[i].ID" type="text" value="@ViewBag.InfoMegaIO" />
                    }
                    else
                    if (Model.Topics[i].ID == "Color_BackgroundAndText")
                    {
                        <input id="txtDEMO" size="180" name="@Model.Topics[i].ID" type="text" value="@ViewBag.SetColor" />
                    }
                    else
                    if (Model.Topics[i].ID == "Color_TracNghiem")
                    {
                        <input size="180" name="@Model.Topics[i].ID" type="text" value="@ViewBag.TNColor" />
                    }
                     else
                    if (Model.Topics[i].ID == "AppWeb_LockedUse")
                    {
                        <input size="180" id="txtLock1" name="@Model.Topics[i].ID" type="text" value="@ViewBag.LockedUseApp" />
                         <br />
                            <input type="checkbox" id="checkLock" onchange="changeShow('txtLock1','txtLock2','checkLock',',')" /><b style="color:deeppink">Xem chế độ mở rộng</b>
                            <br />
                        <textarea readonly id="txtLock2" cols="30" rows="15" style="display:none">@ViewBag.LockedUseApp_Line</textarea>
                           
                    }
                     else
                    if (Model.Topics[i].ID == "DownloadFile_ClearWeb")
                    {
                        <input size="180" name="@Model.Topics[i].ID" type="text" value="@ViewBag.DownloadFileQuick" />
                    }
                     else
                    if (Model.Topics[i].ID == "Accept_ListUrl")
                    {
                        <input id="txtAcceptUrl1" size="180" name="@Model.Topics[i].ID" type="text" value="@ViewBag.AcceptListUrl" />
                        <br />
                            <input type="checkbox" id="checkAccept" onchange="changeShow('txtAcceptUrl1','txtAcceptUrl2','checkAccept',',')" /><b style="color:deeppink">Xem chế độ mở rộng</b>
                            <br />
                        <textarea readonly id="txtAcceptUrl2" cols="30" rows="15" style="display:none">@ViewBag.AcceptListUrl_Line</textarea>
                            
                        }
                      else
                    if (Model.Topics[i].ID == "TabTittle_NoiDung")
                    {
                        <input size="180" name="@Model.Topics[i].ID" type="text" value="@ViewBag.TabTittle" />
                    }
                    else
                    if (Model.Topics[i].ID == "UploadFile_MaxSize")
                    {
                        <input size="30" name="@Model.Topics[i].ID" type="number" required value="@ViewBag.MaxSizeFile" min="0" max="9000000000000" />
                    }
                     else
                    if (Model.Topics[i].ID == "Time_Waiting")
                    {
                        <input size="15" name="@Model.Topics[i].ID" type="number" required value="@ViewBag.TimeWaiting" min="0" max="100000" />
                    }
                     else
                    if (Model.Topics[i].ID == "HTML_Visible")
                    {
                        <input size="5" name="@Model.Topics[i].ID" type="number" required value="@ViewBag.HTMLVisible" min="0" max="2" />
                    }
                    else
                    if (Model.Topics[i].ID == "Admin_Setting")
                    {
                        <input size="180" name="@Model.Topics[i].ID" type="text" value="@ViewBag.AdminSetting" />
                    }
                  }
                    <br /><br />
            </td>
        </tr>
      
        <tr style="height:40px">
            <td></td>
            <td><br>
                <input id="ok" type="submit" hidden value="LƯU CÀI ĐẶT" />
            </td>
        </tr>
    }
        <hr /><hr />
    <br />
    <div id="background-demo" style="background-color:#fbff05;width:30%"><pre id="text-demo" style="color:#2205ff">This is demo text (background and color text)</pre></div>
    <input type="color" id="bgColor" onchange="demoBG()" value="#fbff05" /><input type="color" id="textColor" onchange="demoText()" value="#2205ff" /><span>&nbsp;</span><button onclick="luulaiDemo()">Set lại demo này vào setting trên và lưu nó</button><span>&nbsp;</span><span id="apdungnen" style="color:deeppink">(Hiện chưa được áp dụng)</span><span>&nbsp;</span><a href="#xuly" onclick="getmamau()" style="color:orangered">Xem mã màu đang chọn (ô màu thứ nhất)</a>
     
    <hr /><hr />
    <br />
    <div style="background-color:grey">



    <b id="labelActive" name="colorX" style="color:@TempData["mau_text"]">DANH SÁCH CÁC IP ĐANG HOẠT ĐỘNG (một số thiết bị có thể chưa xác nhận cấp phép sử dụng hoặc họ đã xoá dữ liệu trình duyệt)</b>
    <br />
    <select onclick="loadActive()" onchange="setActive()" id="ip_active">
    </select><span>&nbsp;</span><input type="text" id="txtIPActive" /><br />
    <input type="text" size="100" placeholder="Nhập thông tin user hoặc ghi chú (nếu có)" id="ghichu" /><br />
    <button onclick="addActive()" style="color:green">THÊM (HOẠT ĐỘNG NHƯNG CHƯA XÁC NHẬN THIẾT BỊ)</button><span>&nbsp;</span><button onclick="removeActive()" style="color:red">XOÁ (HẾT HẠN)</button><span>&nbsp;</span>(<a href="/ClientConnect/InfoIPRegist.txt" target="_blank" style="color:yellow">Xem Chi Tiết (có thể chưa đủ thông tin)</a><b> <span>&nbsp;</span> </b><a style="color:yellow" href="/ClientConnect/InfoIPRegist.txt" @*onclick="xoachitiet()"*@ download="">Tải xuống</a> <span>&nbsp;</span> <a style="color:yellow" href="#xuly" onclick="deletechitiet()">Delete detail</a> <span>&nbsp;</span> <a style="color:yellow" href="#xuly" onclick="deleteX()">Delete all this</a><span>)</span>
    <br />
     <br />
    <b name="colorX" style="color:@TempData["mau_text"]">DANH SÁCH CÁC IP ĐANG BỊ KHOÁ (ADMIN)</b>
    <br />
    <select onclick="loadLockAdmin()" onchange="setLockAdmin()" id="ip_blockadmin">
    </select><span>&nbsp;</span><input type="text" id="txtIPLockAdmin" /><br />
    <button onclick="addLockAdmin()" style="color:green">THÊM (KHOÁ IP ADMIN)</button><span>&nbsp;</span><button onclick="removeLockAdmin()" style="color:red">XOÁ (MỞ KHOÁ IP ADMIN)</button><span>&nbsp;</span><a href="/ClientConnect/ListIPLock.txt" target="_blank" style="color:yellow">Xem Chi Tiết</a> <span> || </span> <a style="color:yellow" href="#xuly" onclick="deleteY()">Delete all this</a>
    <br />
     <br />
    <b name="colorX" style="color:@TempData["mau_text"]">DANH SÁCH CÁC IP ĐANG BỊ KHOÁ (CLIENT)</b>
    <br />
    <select onclick="loadLockClient()" onchange="setLockClient()" id="ip_blockclient">
    </select><span>&nbsp;</span><input type="text" id="txtIPLockClient" size="180" placeholder="Nhập với cấu trúc : IP<>Mật khẩu; hoặc nếu bạn muốn sử dụng mật khẩu mặc định thì nhập như sau : IP" /><br />
    <button onclick="addLockClient()" style="color:green">THÊM (KHOÁ IP CLIENT)</button><span>&nbsp;</span><button onclick="removeLockClient()" style="color:red">XOÁ (MỞ KHOÁ IP CLIENT)</button><span>&nbsp;</span><button onclick="changeCodeLockClient()" style="color:orangered">ĐỔI MẬT KHẨU</button><span>&nbsp;</span><a href="/ClientConnect/LockedIPClient.txt" target="_blank" style="color:yellow">Xem Chi Tiết</a><span> || </span><a style="color:yellow" href="#xuly" onclick="deleteZ()">Delete all this</a>
    <br/><br />
    <a href="/Admin/ListIPComeToHereTheFirst.txt" style="color:aqua" target="_blank">Xem list các IP đã ghé thăm (save in the first) hiện có</a><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><a href="#xuly" style="color:aqua" onclick="deleteFirstIP()">Delete</a><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><a href="#xuly" style="color:aqua" onclick="mailthefirstIP()">Báo cáo list các IP đã ghé thăm (save in the first) hiện có qua mail và refresh</a>
      <hr /><hr />
    <br /><br />
    <select id="chonlua" onchange="doichonlua()">
        <option>Thay thế các ảnh ngẫu nhiên hệ thống khi play karaoke (có thể tải lên nhiều file *.jpg)</option>
        <option>Thay thế ảnh gif error khi truy cập page Error (chỉ tải lên 1 file *.jpg hoặc lấy file đầu tiên)</option>
         <option>Thay thế ảnh gif waiting đại diện cho tiến trình chờ xử lý (chỉ tải lên 1 file *.gif hoặc lấy file đầu tiên)</option>
         <option>Thay thế ảnh hiển thị cho phần Tab Tittle View (chỉ tải lên 1 file *.png hoặc lấy file đầu tiên)</option>
         <option>Thay thế nội dung các Tab Tittle View (chỉ tải lên 1 file *.txt hoặc lấy file đầu tiên)</option>
         <option>Thay thế nội dung các link ảnh online cho Tab Tittle View (chỉ tải lên 1 file *.txt hoặc lấy file đầu tiên)</option>
         <option>Thay thế nội dung các link video youtube ngẫu nhiên - background play karaoke (chỉ tải lên 1 file *.txt hoặc lấy file đầu tiên)</option>
    </select>
     @using (Html.BeginForm("ReplaceUpload", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <input type="file" multiple name="txtFile" />
        <input type="number" value="0" size="10" name="txtChonX" id="chonX" hidden />
        <input type="submit" hidden id="oki" />
    }
    <br />
    <button style="color:crimson" onclick="okreplace()">OK REPLACE</button><br />
    </div>


     @if (TempData["SaveComeHere"] == "true")
    {
    <button id="listIPcomehere" onclick="listIPcomehere()"><b style="color:red">RELOAD THIS HERE</b></button>
    
    <button onclick="reportIPcomehere()"><b style="color:green">MAIL REPORT THIS RESULT AND RESET THIS HERE</b></button>

    <button onclick="deleteIPcomehere()"><b style="color:orangered">DELETE AND DON'T MAIL REPORT</b></button>
    <br /><br />
        <p style="color:purple">
            - Bạn chỉ cần/nên nhấn button "RELOAD" 1 lần, từ lần sau bạn hãy F5 hoặc reload lại trang như thường.<br />
            - Nhấn button "MAIL REPORT" nếu bạn muốn tự xuất báo cáo thủ công ngay hiện tại, hoặc không nếu hệ thống phát hiện dữ liệu này đã hơn 100 thì cũng tự động gửi report và khôi phục...<br>
            - Kết quả danh sách bên dưới có thể chưa đủ thông tin vì trước đó bạn đã từng tắt/tạm ngưng save setting chế độ lưu trữ này hoặc tự động được reset lại khi data đã quá 100 (hãy bật setting report mail when data than 100 để kịp thời lưu trữ).
        </p>
        <textarea readonly cols="500" rows="100">@TempData["showIPCome"]</textarea>
    }
    <br /><br /><hr /><hr />
    <div style="background-color:yellow">
    <button id="rexJPhere" onclick="addJPReplace()"><b style="color:green">CẬP NHẬT NỘI DUNG (⚠ lưu ý nên xác định ví trí phù hợp để thêm vào, phải nhập bắt chước theo cấu trúc cũ)</b></button>
    
    <button onclick="resetJPReplace()"><b style="color:red">RESET LẠI MẶC ĐỊNH HỆ THỐNG</b></button>

       <br /><br />
    <h1 style="color:red">QUY TẮC CÁCH CHUYỂN ĐỔI CÁC KÍ TỰ SANG JAPAN - QUESTION (hiện có) : </h1>
        <textarea id="JPrex" cols="30" rows="20">@TempData["rexJP"]</textarea>
    <br /><br /><hr /><hr />
    </div>
    
    
     <br /><br /><hr /><hr />
     <div style="background-color:lightpink">
    <button id="fontHere" onclick="addFontReplace()"><b style="color:green">CẬP NHẬT NỘI DUNG</b></button>
    
    <button onclick="resetFontReplace()"><b style="color:red">RESET LẠI MẶC ĐỊNH HỆ THỐNG</b></button>

    <br /><br />
    <h1 style="color:red">DANH SÁCH CÁC FONT CHỮ KHI PLAY KARAOKE (hiện có) : </h1>
        <textarea id="txtFont" cols="30" rows="20">@TempData["fontKara"]</textarea>
    <br /><br /><hr /><hr />
    </div>

    <h3 style="color:orangered">
        - [Quy tắc link rút gọn bom.so, còn link gốc bạn có thể không cần quan tâm cái này] Lưu ý, các hướng dẫn ở đây có thể sau này sẽ cũ hoặc một số bây giờ sẽ không thể sử dụng được. Mặc dù vậy, bạn hãy thử nghĩ và random thử nhiều cách khác nhau (vì nhiều cái muốn đổi thay mà giờ làm biếng đổi quá 🤣😄). Mà không sao đâu, mấy này cũng tương tự à : bạn tự mò nha 😁. Ví dụ ở hướng dẫn là <b>abc1</b> (nhưng giờ thử không được) thì bạn có thể thử nhiều cái cách khác như : <b>abc2, abc3, abc4, ...</b> (hên xui ahihi 🤩).
        <br />
        - Bạn chỉ cần nhớ thêm các quy tắc sau : thường link rút gọn của <b>bom.so</b> mình sẽ tự đặt ra cái tên và phía cuối là con số (VD : bom.so/abc1). Mà web hoạt động hiện tại dựa trên 2 dịch vụ host server : somee và bsite. 
        Bây giờ hãy nhớ, nếu số cuối là số chẵn thì thuộc về somee; ngược lại nếu số cuối lẻ là của bsite. 
        Ngoại trừ link đăng kí bật web (VD : bom.so/batweb11), nếu các số cuối (có số lượng chẵn) đều là lẻ thì là của somee/các số cuối (có số lượng lẻ) đều là các số lẻ thì là của bsite (thông tin của tôi/tuyệt đối ở nhà); 
        và ngược lại nếu các số cuối (có số lượng chẵn) đều là chẵn thì là của somee/các số cuối (có số lượng lẻ) đều là các số chẵn thì là của bsite (thông tin của người khác/tôi xài bên ngoài - w2) ⭐⭐⭐
        <br />
        - Còn nếu bạn quá mệt mỏi với cái này, hãy tự tìm đến <b>bom.so</b> và tự đặt ra link rút gọn phù hợp đi nha (nhiều khi tui làm biếng nên mấy quy tắc tào lao này tui cũng chưa nghĩ ra 😪😀) :)) ...
        </h3>
        <br />
    <h3 style="color:deeppink">
* Email support : mywebplay.website@gmail.com<br>* Email save data/message (secret 🔒) :  mywebplay.savefile@gmail.com<br /><br />* Đăng nhập :<br><br>http://freeasphosting.net/<br><br>ID : kienthuccode<br>Pass : #=vanluat3275=#<br><br>somee.com<br><br>ID : mywebplay<br>Pass : #=vanluat3275=#<br><br>* Link sử dụng web :<br><br>http://bom.so/playweb1<br>kienthuccode.bsite.net<br><br>http://bom.so/playweb2<br>kienthuccongnghe.somee.com<br><br>* Cài đặt admin (chỉ nên truy cập cá nhân) :<br><br>http://bom.so/adset1<br>http://bom.so/adset2<br><br>/Admin/SettingXYZ_DarkAdmin<br><br>* Password web admin (cho tất cả - riêng tư cá nhân) :<br><br>Mặc định : mywebplay-ADMIN<br>Hoặc tuỳ thuộc sự thay đổi tại : /Admin/SettingXYZ_DarkAdmin<br><br>* Link bật web :<br><br>http://bom.so/batweb1 | http://bom.so/batweb11 (ở nhà)<br><br>http://bom.so/batweb2 | http://bom.so/batweb22 (bên ngoài - W2 solution my work)<br><br>Thông tin bật web cho người khác/nơi khác :<br><br>/Home/PlayOnWebInLocalX?key=true&info=[THÔNG-TIN-NGƯỜI-MUỐN-ĐĂNG-KÍ-BẬT-WEB]<br><br>* Link tắt web (đồng thời xoá luôn cấp phép truy cập) :<br><br>http://bom.so/tatweb1<br>http://bom.so/tatweb2<br><br>/Home/PlayOnWebInLocalX?key=false<br><br>* Link cấp phép tiếp tục sử dụng (thiết bị mới) :<br><br>http://bom.so/capphep1<br>http://bom.so/capphep2<br><br>/Home/ContinueUsedWebX?code=1234567890qwertyuiopasdfghjklzxcvbnm<br><br>Sau khi vào link cấp phép, cần phải xác nhận :<br><br>=> Ví dụ lúc đó đang là 10 giờ 05 phút (đọc ngược lại ta có dãy số 5001), thì ta sẽ Ctrl+ F và tìm button đang có dãy số này và chỉ nhấn vào button đó thôi.<br><br>* Link xoá cấp phép truy cập web cho thiết bị hiện tại (tuy nhiên vẫn còn đăng kí) :<br><br>http://bom.so/traiphep1<br>http://bom.so/traiphep2<br><br>/Home/ContinueUsedWebX?code=<br><br>* Nếu bị khoá web bởi admin :<br><br>[Kiểm tra và tìm lại email admin để xử lý - các link nhấn (chỉ admin mới quyết định)]<br><br>* Nếu bị khoá web bởi khoá LockedClientID (user) :<br><br>18:08<br>02/12<br><br>Ví dụ, lúc cần mở khoá đang 18 giờ 08 phút, ngày 02 tháng 12 thì mật khẩu LockedClientID sẽ là : <span style="color:darkred">00</span>81212080 (trừ khi password đã được user tự thiết kế riêng) - nghĩa là cấu trúc : 00 đầu - giờ đảo - tháng đảo - phút đảo - ngày đảo<br><br>Hoặc password chung (dự phòng) dễ hơn là : abc-xyz (nhưng khuyên hạn chế xài/riêng tư, hoặc có thể đổi lại tại phần setting ở trên)<br><br>* Mega.io :<br><br>ID : mywebplay.savefile@gmail.com<br>Pass : vanluat12345#<br><br>* Điều khiển session :<br><br>/Home/SessionPlay_DarkAdmin<br><br>* Các link ngoại khoá (tham khảo thêm) :<br><br>Home/SendMailSave1?email=[...]&message=[...] (này cũng tạm được)<br>Home/SecretWeb?email=[...]<br><br>💚 Tuy nhiên thường sẽ xài cái dưới : <br><br>* Hướng dẫn COPY :<br><br>- LƯU Ý : phải thực sự cần xài thì mới vào đây, nếu lỡ đã vào thì phải xài cho hết.<br>Dấu hiệu xài xong và ok là khi mình được chuyển hướng sang trang google.com<br><br>________________________________________________________<br><br>- Copy nội dung bạn muốn (copy lại lần nữa cho chắc), phải đảm bảo nội dung bạn đang copy hiện có thể Ctrl+V được và phải chính xác nội dung bạn đang mong muốn và cần copy.<br><br>- Truy cập : http://bom.so/copy_on<br><br>- Nếu muốn thay đổi có thể thêm param ?email=[your-email] trên thanh url (không thì sẽ là mặc định).<br><br>- <b>/Home/RandomLayout</b> : html layout ngẫu nhiên thiết kế cho các site secret, (admin) send POST quick data...<br><br>- Như đã nói, vô đây là phải xài. Mà dù lỡ xài hay không xài cũng ráng mà click vào link chuyển hướng sang google.con là ok tất :)), chứ đừng có thoát hay X close nha ...<br><br>Bye!<br /><br />bom.so/remove1 hoặc bom.so/remove2 : Xoá all session và tempdata in this web<br />
<br /><br />
<span style="color:purple">MÀ THÔI NÓI NGHE 🤩 : xài cái này đi 😅  <b>bom.so/sodata1</b> hoặc <b>bom.so/sodata2</b></span>
<br /><br /><br /><b>#BỔ SUNG ADMIN</b> (dịch vụ truyền và xử lý dữ liệu nhanh chóng của các chức năng có trên website - bom.so/quickly1 hoặc bom.so/quickly2) - tuy nhiên nếu là lần đầu bạn phải truy cập <b>bom.so/firstdata1</b> hoặc <b>bom.so/firstdata2</b> nhằm để lưu quyền cho phép truy cập clipboard trên trình duyệt, rồi từ đây về sau muốn sử dụng vào thẳng link kia là được 😆 : <br />
   <br />
   <span style="color:blue">Admin/QuickDataInWeb</span> (nếu truyền thêm giá trị bất kỳ cho param <b>first</b> nghĩa là lần đầu, có vẻ cần cấp quyền clipboard trước...)
   <br><br />
- Ví dụ bạn muốn sử dụng chức năng tính tổng 2 số, đường dẫn của chức năng là Home/TinhTongHaiSo thì trước đây bạn sẽ truy cập đến trang này, trên màn hình bạn sẽ nhập số thứ 1 tại input A và nhập số thứ hai tại input textbox B. Sau đó, bạn nhấn nút submit để gọi POST và trả về kết quả tổng của 2 số đó ở màn hình tiếp theo.<br>
<br>
- Bây giờ, với dịch vụ này (chỉ dành cho admin), bạn có thể truy cập nhanh đến màn hình kết quả gửi dữ liệu cần xử lý một cách gián tiếp.<br>
<br>
- Lưu ý để sử dụng được dịch vụ này, bạn cần phải nắm rõ tên action name của chức năng bạn cần gửi xử lý (ví dụ ở trên thì action name của nó là TinhTongHaiSo) và lưu ý thêm là action này chỉ thuộc trong control name Home => Home/TinhTongHaiSo.<br>
Ngoài ra, bạn phải biết rõ thêm toàn bộ các name data input sẽ gửi đến POST xử lý của chức năng đó (dù input đó có bắt buộc hay không - nghĩa là không được dư hay thiếu tương ứng các data input thích hợp; hoặc đôi lúc sẽ được ngoại lệ) và còn phải rõ về từng kiểu, định dạng, format của mỗi dữ liệu :)) . => Sẽ liệt kê một vài tương ứng bên dưới 🥰<br>
<br>
- Ví dụ trước đây, ngay tại màn hình Home/TinhTongHaiSo được thiết kế như sau (giả sử muốn thực hiện tính tổng của 10 và 5) :<br>
<br>
&lt;textbox name="txtSoThuNhat">10&lt;/textbox&gt;<br>
&lt;textbox name="txtSoThuHai">5&lt;/textbox&gt;<br>
<br>
=> Sau đó bạn sẽ nhấn nút submit và gọi POST...<br>
<br>
- Bây giờ cũng như trên nhưng sẽ khác chút, hướng dẫn sử dụng dịch vụ gửi data xử lý nhanh và POST thẳng đến trang kết quả một cách gián tiếp :<br>
<br>
- Bước 1 : mở tạm file TXT và ghi cấu trúc như sau<br>
<br>
TinhTongHaiSo
<br />
|
<br />
txtSoThuNhat<br>
*<br>
10<br>
#<br>
txtSoThuHai<br>
*<br>
5<br>
<br>
- Bước 2 : copy nội dung đó (phải đảm bảo nội dung trên bạn vừa copy cuối cùng và hợp lệ)<br>
<br>
- Bước 3 : truy cập page /Admin/QuickDataInWeb và chờ đợi (và do không có form màn hình để nhìn như trước đây nên sẽ khó hình dung 😁😪)...<br>
<br />
- <b style="color:chartreuse">Đặc biệt hơn : </b>Nếu bạn áp dụng dịch vụ này nhưng bật setting download kết quả POST từ file .txt (thay vì copy vào clipboard) và trong khi bạn đã setting chế độ tàng hình + không xác minh [ADMIN]. Đối với trường hợp này, khi bạn vừa load page /Admin/QuickDataInWeb trên, bạn đừng nên làm gì cả. Hãy cứ Ctrl + V nội dung bạn vừa copy (dù không nhìn thấy gì nhưng cũng đừng sốt ruột); sau đó rê chuột thật xa và click đại chỗ nào cũng được - càng về phía phải càng tốt, sau đó cũng chờ đợi...Sau khi sự chờ đợi và xử lý kết thúc, ở trang POST kết quả đã xong, bạn click đại chỗ nào cũng được để kết quả đó được copy vào clipboard hay tải về file .txt (tuỳ thuộc)⭐⭐⭐
<br>
<br>
=> Yên tâm, sẽ liệt kê một số ví dụ tương ứng và có thể áp dụng thử <a href="#hahaha">ở bên dưới</a> 😍
</h3>
    <hr />
    <h3 style="color:firebrick">
        * Đối với giáo viên :<br><br>- Sử dụng chức năng Upload File - khuyên nên tạm bật setting chế độ View site pattern cho đẹp :)) (bsite hoặc somee) và tạo thư mục trong wwroot là file/TracNghiemOnline_32752262 và tạo tiếp thư mục là một chuỗi mã (TNID) tuỳ ý (VD : qwerty). Nên upload file bằng user vì nó có giới hạn sử dụng và tự xoá sau khi.<br><br>- Mỗi thư mục mã (TNID) là một loại trắc nghiệm dành riêng/phân biệt cho một môn học theo mỗi đợt. Bên trong thư mục này, hãy gán tất cả các file txt trắc nghiệm có liên quan đến môn học đó.<br><br>- Để xem điểm học sinh : /Admin/TracNghiemOnline_ViewMark (không tiết lộ cho HS)<br><br>* Đối với học sinh (mỗi bạn tự biết MSSV của mình) :<br><br>- ID liên kết thực hiện trắc nghiệm : A_B_C_D<br><br>#Trong đó :<br><br>A : tên thư mục mã TNID chứa các file txt cần thực hiện<br>B : tổng số câu phải làm<br>C : thời gian làm bài<br>D : tên môn học (để phân biệt và hiển thị)<br /><br />- Link dành cho HS làm bài : <span style="color:red">Home/PlayTracNghiem_Online</span><br />
    </h3><br />
<hr /><hr /><br /><br />
    <span style="color:olive" id="hahaha">
CheckText
<br>|
<br>Chuoi
<br>*
<br>
<br>
<br>
<br>        Hạnh phúc là gì?
<br>
<br>             là những điều TUYỆT		 vỜI NHẤT của chúng ta, NHƯng ta Lại qUÊn mất rằng bạn xứng đáng:được HẠNH PHÚC.cuộc sống là những : "Niềm vui"...
<br>
<br>
<br>
<br>
<br>    bên cạnh những người thân YÊU,CÙNG nhau cố gắng phát triển bản thân. hơn nữa, chúng ta hãy cười mỗi ngày.
<br>    hãy cười lên nhé!rồi một ngày nào đó,Nỗ lực của bạn sẽ được đền đáp XỨng đÁNg.
<br>
<br>-----------------------------------------------------------------------
<br>Tách thành 3 cột (trái -> phải)
<br>
<br>TextToColumn1
<br>|
<br>Chuoi
<br>*
<br>A
<br>B
<br>C
<br>D
<br>E
<br>F
<br>G
<br>H
<br>I
<br>K
<br>L
<br>M
<br>N
<br>O
<br>P
<br>#
<br>Number
<br>*
<br>3
<br>
<br>
<br>-----------------------------------------------------------------------
<br>Tách thành 3 hàng (trên -> dưới)
<br>
<br>TextToColumn2
<br>|
<br>Chuoi
<br>*
<br>A
<br>B
<br>C
<br>D
<br>E
<br>F
<br>G
<br>H
<br>I
<br>K
<br>L
<br>M
<br>N
<br>O
<br>P
<br>#
<br>Number
<br>*
<br>3
<br>
<br>-----------------------------------------------------------------------
<br>
<br>ReadNumber
<br>|
<br>Chuoi
<br>*
<br>0
<br>100
<br>15
<br>20
<br>1001
<br>2000
<br>12345
<br>12345678
<br>2023
<br>1005008
<br>5000
<br>
<br>-----------------------------------------------------------------------
<br>
<br>TextConvertX
<br>|
<br>chuoi
<br>*
<br>MyWebPlay Asp Net Core
<br>Lê Xuân Thảo
<br>Trần Thị Mỹ Anh
<br>Dương Hoàng Ngọc Mỹ
<br>Lê Thị Cẩm Tiên
<br>Nguyễn Minh Đức
<br>#
<br>Start
<br>*
<br>("
<br>#
<br>End
<br>*
<br>")
<br>
<br>-----------------------------------------------------------------------
<br>
<br>CSDL_MainKey
<br>|
<br>chuoi
<br>*
<br>AB>D,C>BD,BE>A,A>B
<br>
<br>-----------------------------------------------------------------------
<br>1 : char '', datetime
<br>2 : chuỗi N''
<br>3 : số
<br>
<br>SQL_InsertDoc
<br>|
<br>Table
<br>*
<br>SinhVien
<br>#
<br>TrangThai
<br>*
<br>3-2-1-3
<br>#
<br>DuLieu
<br>*
<br>SV001	MyWebPlay Asp Net Core	10	20/06/2000
<br>SV002	Nguyễn Văn Đạt	9.5	15/08/2001
<br>SV003	Trần Chí Khôi	2.5	29/07/1990
<br>SV004	Lê Tuấn Kiệt	9.2	05/12/1995
<br>SV005	Đào Vũ Hạnh	4.8	28/03/1992
<br>
<br>-----------------------------------------------------------------------
<br>
<br>JSON_InsertDoc
<br>|
<br>TrangThai
<br>*
<br>MSSV-3,HoTen-2,DTB-1,NgaySinh-3
<br>#
<br>DuLieu
<br>*
<br>SV001	MyWebPlay Asp Net Core	10	20/06/2000
<br>SV002	Nguyễn Văn Đạt	9.5	15/08/2001
<br>SV003	Trần Chí Khôi	2.5	29/07/1990
<br>SV004	Lê Tuấn Kiệt	9.2	05/12/1995
<br>SV005	Đào Vũ Hạnh	4.8	28/03/1992
<br>
<br>-----------------------------------------------------------------------
<br>
<br>SQL_CreateTable
<br>|
<br>Table
<br>*
<br>MSSV-3,HoTen-2,DTB-1,NgaySinh-3
<br>#
<br>Key
<br>*
<br>1-1-2
<br>#
<br>DuLieu
<br>*
<br>MSSV VARCHAR(5)
<br>HOTEN NVARCHAR(30)
<br>PHAI BIT
<br>NTNS DATE
<br>
<br>MAMH VARCHAR(5)
<br>TENMONHOC NVARCHAR(30)
<br>SOTINCHI TINYINT
<br>
<br>MSSV VARCHAR(5) [SINHVIEN] MSSV
<br>MAMH VARCHAR(5) [MONHOC] MAMH
<br>DIEM FLOAT
<br>
<br>-----------------------------------------------------------------------
<br>
<br>Cxap_CreateClass
<br>|
<br>TenClass
<br>*
<br>ClassName
<br>#
<br>DuLieu
<br>*
<br>int-property1
<br>float-property2
<br>double-property3
<br>decimal-property4
<br>long[,]-property5
<br>string[]-property6
<br>List<bool>-property7
<br>#ClassOther-property8
<br>
<br>-----------------------------------------------------------------------
<br>
<br>Cxap_InsertValueClass
<br>|
<br>TenClass
<br>*
<br>ClassName
<br>#
<br>DuKien1
<br>*
<br>1-2-3-3
<br>#
<br>DuKien2
<br>*
<br>DateTime.1-1-1,SinhVien.1-2
<br>#
<br>DuLieu
<br>*
<br>123
<br>Asp Net Core
<br>2000##06##20
<br>123##Asp Net Core
<br>#
<br>456
<br>Tran Thi My Lan
<br>1995##12##30
<br>789##Le Anh Huy
<br>
<br>-----------------------------------------------------------------------
<br>1 2 3
<br>4 5 6
<br>7 8 9
<br>
<br>sẽ thành :
<br>
<br>7 8 9
<br>4 5 6
<br>1 2 3
<br>
<br>
<br>String_Reverse
<br>|
<br>Chuoi
<br>*
<br>A B C
<br>D E F
<br>G H I
<br>X Y Z
<br>
<br>
<br>-----------------------------------------------------------------------
<br>1 2 3
<br>4 5 6
<br>7 8 9
<br>
<br>sẽ thành :
<br>
<br>3 2 1
<br>6 5 4
<br>9 8 7
<br>
<br>
<br>String_Reverse2
<br>|
<br>Chuoi
<br>*
<br>A B C
<br>D E F
<br>G H I
<br>K L M
<br>X Y Z
<br>
<br>-----------------------------------------------------------------------
<br>
<br>Special_OrderBy
<br>|
<br>SapXep
<br>*
<br>N-1=N-2=0=1
<br>#
<br>Chuoi
<br>*
<br>Bùi Nguyễn Tú Dương
<br>Nguyễn Thị Xuân Hoài Anh
<br>Lê Trần Anh Huy
<br>Lê Đức Anh
<br>Lê Anh Huy
<br>Lê Gia Khiêm
<br>Phạm Lưu Văn Sang
<br>
<br>-----------------------------------------------------------------------
<br>
<br>SpecialX_OrderBy
<br>|
<br>SapXep
<br>*
<br>N-1=N-2=0=1
<br>#
<br>Chuoi
<br>*
<br>1	Bùi Nguyễn Tú Dương	01/01/2000
<br>2	Nguyễn Thị Xuân Hoài Anh	02/01/2000
<br>3	Lê Trần Anh Huy	03/01/2000
<br>4	Phan Ngọc Như Quỳnh	04/01/2000
<br>5	Lê Đức Anh	05/01/2000
<br>#
<br>TangGiam
<br>*
<br>0
<br>#
<br>CoDinh
<br>*
<br>2
<br>
<br>-----------------------------------------------------------------------
<br>
<br>Replace_Regex
<br>|
<br>Chuoi
<br>*
<br>EM LA HOA HONG NHO
<br>#
<br>Input
<br>*
<br>HOA
<br>#
<br>Output
<br>*
<br>BONG
<br>#
<br>DuKien2
<br>*
<br>-1
<br>#
<br>DuKien3
<br>*
<br>0
<br>#
<br>DuKien1
<br>*
<br>2
<br>
<br>(DuKien 1 : nếu áp dụng Regex thì điền 1 - nhớ xoá cái này khi gửi 😀)
<br>(DuKien 3 : nhập 0 nếu muốn replace mãi cho đến khi ko tìm thấy input dấu hiệu hoặc điền một số lượng lần cụ thể muốn thực hiện thay thế - nhớ xoá cái này khi gửi 😀)
<br>
<br>
<br>-----------------------------------------------------------------------
<br>
<br>Regex_Replace_Multiple
<br>|
<br>Chuoi
<br>*
<br>I. MyWebPlay Asp Net Core
<br>II. Lê Xuân Thảo
<br>III. Trần Thị Mỹ Anh
<br>IV. Dương Hoàng Ngọc Mỹ
<br>V. Lê Thị Cẩm Tiên
<br>VI. Nguyễn Minh Đức
<br>#
<br>Input
<br>*
<br>I.
<br>II.
<br>III.
<br>IV.
<br>V.
<br>VI.
<br>#
<br>DuKien3
<br>*
<br>0
<br>#
<br>Output
<br>*
<br>1.
<br>2.
<br>3.
<br>4.
<br>5.
<br>6.
<br>#
<br>DuKien2
<br>*
<br>-1
<br>#
<br>DuKien4
<br>*
<br>0
<br>#
<br>DuKien1
<br>*
<br>2
<br>(nếu áp dụng Regex thì điền 1 - nhớ xoá cái này khi gửi 😀)
<br>
<br>-----------------------------------------------------------------------
<br>[Replace value param SQL]
<br>
<br>XuLySQL10
<br>|
<br>txtStatement
<br>*
<br>SELECT  w2_User.*
<br>  FROM  w2_User
<br> WHERE  w2_User.user_id = &#64;user_id
<br>   AND  w2_User.user_id_extend = &#64;user_id_extend
<br>   AND  w2_User.user_name = &#64;user_name
<br>   AND  w2_User.user_name_day = &#64;user_name_day
<br>   AND  w2_User.user_age = &#64;user_age
<br>#
<br>txtReplace
<br>*
<br>&#64;user_id	user001
<br>&#64;user_id_extend	
<br>&#64;user_name_day	20/06/2000
<br>&#64;user_name	Lê Thị Mỹ Thư
<br>&#64;user_age	25
<br>#
<br>txtParam
<br>*
<br>&lt;Input Name="user_id" Type="varchar" Size="10" /&gt;
<br>&lt;Input Name="user_id_extend" Type="char" Size="50" /&gt;
<br>&lt;Input Name="user_name" Type="nvarchar" size="180" /&gt;
<br>&lt;Input Name="user_name_day" Type="datetime" /&gt;
<br>&lt;Input Name="user_age" Type="int" /&gt;
<br>#
<br>txtChon
<br>*
<br>[NULL]
<br>(nếu áp dụng các field đều là dạng chuỗi điền on - nhớ xoá cái này khi gửi 😀)
<br>
<br>-----------------------------------------------------------------------
<br>
<br>[SQL scan excel try]
<br><br />
XuLySQL3<br>
|<br>
txtField<br>
*<br>
[NULL]<br>
#<br>
txtDauHieu<br>
*<br>
[NULL]<br>
#<br>
txtChuoi<br>
*<br>
Coumn1<br>
Coumn2<br>
Coumn3<br>
#3275#<br>
Em là hoa<br>
hồng<br>
nhỏ	12345	Em là búp<br>
măng non<br>
hồng hào trắng<br>
sáng<br>
#3275#<br>
Tôi là bông<br>
hồng<br>
già	06789	Em là búp<br>
măng già<br>
nếp nhăn<br>
goá phụ
<br>
<br>-----------------------------------------------------------------------
<br>
<br>[Tìm table chưa có]
<br>
<br>select TABLE_NAME from INFORMATION_SCHEMA.TABLES
<br>
<br>
<br>XuLySQL6
<br>|
<br>txtKetQua
<br>*
<br>w2_User
<br>w2_Order
<br>w2_Data
<br>
<br>-----------------------------------------------------------------------
<br>
<br>[Tìm và tạo các cột chưa có của table]
<br>
<br>select ORDINAL_POSITION, COLUMN_NAME, DATA_TYPE, CHARACTER_MAXIMUM_LENGTH, IS_NULLABLE, COLUMN_DEFAULT from INFORMATION_SCHEMA.COLUMNS
<br>WHERE TABLE_NAME = 'w2_ProductBrand'
<br>
<br>select TABLE_NAME from INFORMATION_SCHEMA.TABLES
<br>
<br>[CÁCH 1 : dựa vào column name và type trong file script .sql]
<br>
<br>XuLySQL8
<br>|
<br>txtTable
<br>*
<br>w2_User
<br>#
<br>txtFields
<br>*
<br>Column1 nvarchar(10)
<br>Column2 int
<br>Column3 money
<br>Column4 varchar(5)
<br>Column5 datetime
<br>#
<br>txtLoai
<br>*
<br>1
<br>
<br>
<br>[CÁCH 2 : dựa vào sự trình như Constants_*.cs]
<br>
<br>XuLySQL8
<br>|
<br>txtTable
<br>*
<br>w2_User
<br>#
<br>txtFields
<br>*
<br>public const string FIELD_GLOBALSMSSTATUS_MESSAGE_ID = "message_id";                        // メッセージID
<br>		public const string FIELD_GLOBALSMSSTATUS_GLOBAL_TEL_NO = "global_tel_no";                  // グローバル電話番号
<br>		public const string FIELD_GLOBALSMSSTATUS_SMS_STATUS = "sms_status";                        // SMSステータス
<br>		public const string FIELD_GLOBALSMSSTATUS_DATE_CREATED = "date_created";                    // 作成日
<br>		public const string FIELD_GLOBALSMSSTATUS_DATE_CHANGED = "date_changed";                    // 更新日
<br>		public const string FIELD_GLOBALSMSSTATUS_LAST_CHANGED = "last_changed";                    // 最終更新者
<br>#
<br>txtLoai
<br>*
<br>2
<br />
<br>-----------------------------------------------------------------------
<br>
<br>[Tìm và tạo cột chưa có của table - dựa vào constants(*) và file script sql]
<br>
<br>XuLySQL11
<br>|
<br>txtTable
<br>*
<br>w2_User
<br>#
<br>txtConstants
<br>*
<br>public const string FIELD_USER_USER_ID = "user_id";                                         // ユーザID
<br>		public const string FIELD_USER_USER_KBN = "user_kbn";                                       // 顧客区分
<br>		public const string FIELD_USER_MALL_ID = "mall_id";                                         // モールID
<br>		public const string FIELD_USER_NAME = "name";                                               // 氏名
<br>		public const string FIELD_USER_NAME1 = "name1";                                             // 氏名1
<br>		public const string FIELD_USER_NAME2 = "name2";                                             // 氏名2
<br>		public const string FIELD_USER_NAME_KANA = "name_kana";                                     // 氏名かな
<br>		public const string FIELD_USER_NAME_KANA1 = "name_kana1";                                   // 氏名かな1
<br>		public const string FIELD_USER_NAME_KANA2 = "name_kana2";                                   // 氏名かな2
<br>		public const string FIELD_USER_NICK_NAME = "nick_name";                                     // ニックネーム
<br>		public const string FIELD_USER_MAIL_ADDR = "mail_addr";                                     // メールアドレス
<br>		public const string FIELD_USER_MAIL_ADDR2 = "mail_addr2";                                   // メールアドレス2
<br>#
<br>txtScript
<br>*
<br>[user_id] [nvarchar] (30) NOT NULL,
<br>	[user_kbn] [nvarchar] (10) NOT NULL DEFAULT (N'PC_USER'),
<br>	[mall_id] [nvarchar] (30) NOT NULL DEFAULT (N'OWN_SITE'),
<br>	[name] [nvarchar] (40) NOT NULL DEFAULT (N''),
<br>	[name1] [nvarchar] (20) NOT NULL DEFAULT (N''),
<br>	[name2] [nvarchar] (20) NOT NULL DEFAULT (N''),
<br>ALTER TABLE [w2_User] ADD [mail_addr2] datetime NOT NULL DEFAULT (N'');
<br>ALTER TABLE [w2_User] ADD [name_kana] float NOT NULL DEFAULT (N'');
<br>#
<br>txtChon
<br>*
<br>[NULL]
<br>(nếu chỉ muốn liệt kê các cột bị thiếu mà không cần tạo thì điền on - nhớ xoá cái này khi gửi 😀)
<br>
<br>-----------------------------------------------------------------------
<br>
<br>[Trình bày (code rule) nội dung mail template - file SQL customize]
<br>
<br>XuLySQL12
<br>|
<br>txtNoiDung
<br>*
<br>[Nội dung mail của bạn]
<br />
<br />
-----------------------------------------------------------------------<br>
<br>
[Tìm và tạo các cột còn thiếu của Table - sử dụng Constants và model, chính xác hơn về kiểu dữ liệu]<br>
<br>
XuLySQL13<br>
|<br>
txtTable<br>
*<br>
[Tên table]<br>
#<br>
txtConstants<br>
*<br>
[Nội dung constants]<br>
#<br>
txtModelCs<br>
*<br>
[Nội dung model]
<br>...
<br>
<br>
...<br />
...<br />
...<br />
>>> Còn lại bạn tự khám phá và giải quyết bổ sung nhé, vì tào lao hên xui lắm 🤣🤣🤣 !
<br />
<span style="color:purple">(Mã số bí mật - giúp đỡ admin hoạn nạn come in setting (tự biết cách dùng 😎): <b>32752262 - 20062000 - 20063275</b>)</span><br />
<span style="color:lawngreen">(Kí tự sẽ replace tượng trưng cho dấu ngoặc kép " (sử dụng khi request quick POST data) : <b>[ngoackep_0000]</b>)</span><br />
    </span>
    <br />
    <br />
    <br />

    <div style="background-color:blueviolet">
    @using (Html.BeginForm("UnlockAllWeb","Admin"))
    {
        @Html.ValidationSummary(true)
        <br />
      <tr style="height:40px">
            <td> </td>
            <td>
    
                    <h3 name="colorX" style="color:@TempData["mau_text"]" id="come-33">@Html.Raw(Model.Topics[33].NoiDung)</h3>

<label class="switch">
    @if (Model.Topics[33].Option == false)
    {

          <input id="check-33" onchange="saveXY()" name="@Model.Topics[33].ID" type="checkbox" />
                                
     }
            else
            {
               
                <input id="check-33" onchange="saveXY()" name="@Model.Topics[33].ID" type="checkbox" checked />
            }
            <span class="slider round"></span>
                        </label>
            </td>
        </tr>
         <br /><br />
            <b style="color:yellow">[Cẩn thận] Chỉ cần vô tình một cái gạt bật item setting này lên, toàn bộ website giống như bị tiêu diệt (tệ hơn nếu sau đó bạn đã mất đi dữ liệu quyền admin)...</b>
      
        <tr style="height:40px">
            <td></td>
            <td><br>
                <input id="ok-X" type="submit" hidden value="LƯU CÀI ĐẶT" />
            </td>
        </tr>
    }
    </div>
    <br />
    <br/>
    </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html> 
}
